Repository apache/avro, changes with the labels that .github/labeler.yml gives for each.
All labels: C, C++, C#, Java, Js, Perl, Php, Python, Ruby, Rust, build, website

[AVRO-3943] Remove obsolete folders from C++ bindings (#2756)
  lang/c++/LICENSE
  lang/c++/README
  lang/c++/m4/README
  lang/c++/m4/m4_ax_boost_asio.m4
  lang/c++/m4/m4_ax_boost_base.m4
  lang/c++/m4/m4_ax_boost_filesystem.m4
  lang/c++/m4/m4_ax_boost_regex.m4
  lang/c++/m4/m4_ax_boost_system.m4
  lang/c++/m4/m4_ax_boost_thread.m4
  lang/c++/parser/AvroLex.ll
  lang/c++/parser/AvroYacc.yy
Labels: C++

[AVRO-3943] Remove obsolete folders from C++ bindings (#2756)
  lang/c++/LICENSE
  lang/c++/README
  lang/c++/m4/README
  lang/c++/m4/m4_ax_boost_asio.m4
  lang/c++/m4/m4_ax_boost_base.m4
  lang/c++/m4/m4_ax_boost_filesystem.m4
  lang/c++/m4/m4_ax_boost_regex.m4
  lang/c++/m4/m4_ax_boost_system.m4
  lang/c++/m4/m4_ax_boost_thread.m4
  lang/c++/parser/AvroLex.ll
  lang/c++/parser/AvroYacc.yy
Labels: C++

Resolve requested changes on PR 2751
  lang/csharp/src/apache/codegen/Properties/launchSettings.json
  lang/csharp/src/apache/main/Properties/launchSettings.json
  lang/csharp/src/apache/main/Util/UnknownLogicalType.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenSchemaTests.cs
  lang/csharp/src/apache/test/File/FileTests.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
  lang/csharp/src/apache/test/Util/UnknownLogicalTypeTests.cs
Labels: C#

uncomment testcase after testing
  lang/csharp/src/apache/test/AvroGen/AvroGenSchemaTests.cs
Labels: C#

savepoint remove local setting files
  lang/csharp/src/apache/codegen/Properties/launchSettings.json
  lang/csharp/src/apache/main/Properties/launchSettings.json
Labels: C#

[AVRO-3945] Add missing `override`
  lang/c++/impl/FileStream.cc
Labels: C++

AVRO-2397: Improve code style consistency
  lang/c++/api/Node.hh
Labels: C++

[AVRO-3945] Add missing `override` (#2759)
  lang/c++/impl/FileStream.cc
Labels: C++

backout chags for a different pr, adjust unit test
  lang/csharp/src/apache/codegen/Avro.codegen.csproj
  lang/csharp/src/apache/codegen/AvroGen.cs
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenSchemaTests.cs
Labels: C#

AVRO-2397: [c++] Add support for type and field aliases (#2270)
  lang/c++/api/Node.hh
  lang/c++/api/NodeImpl.hh
  lang/c++/impl/Compiler.cc
  lang/c++/impl/Node.cc
  lang/c++/impl/NodeImpl.cc
  lang/c++/impl/parsing/ResolvingDecoder.cc
  lang/c++/test/CodecTests.cc
  lang/c++/test/unittest.cc
Labels: C++

changes from code review
  lang/csharp/src/apache/test/AvroGen/AvroGenSchemaTests.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
Labels: C#

[AVRO-2397] Use raw string literals in the test
  lang/c++/test/CodecTests.cc
Labels: C++

[AVRO-3945] Added missing `explicit`
  lang/c++/impl/FileStream.cc
  lang/c++/impl/json/JsonDom.hh
Labels: C++

[AVRO-3945] Added missing `explicit` (#2761)
  lang/c++/impl/FileStream.cc
  lang/c++/impl/json/JsonDom.hh
Labels: C++

[AVRO-2397] Use raw string literals in the test (#2760)
  lang/c++/test/CodecTests.cc
Labels: C++

[C++] properly format some of the tests
  lang/c++/test/CodecTests.cc
Labels: C++

[C++] properly format some of the tests (#2762)
  lang/c++/test/CodecTests.cc
Labels: C++

[add] ability to hook into schema ser/deser to implement schema references.
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaSerializationHooks.java
Labels: Java

[fix] lint issues
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaSerializationHooks.java
  lang/s110/java/15/classes/org/apache/avro/specific/test/FullRecordV2$1.class
Labels: Java

[fix] default implementation of the hooks.
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
Labels: Java

[cleanup]
  lang/s110/java/15/classes/org/apache/avro/specific/test/FullRecordV2$1.class
Labels: none

AVRO-3947: Support any subclass or instance in custom LogicalType Conversions
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/test/java/org/apache/avro/CustomType.java
  lang/java/avro/src/test/java/org/apache/avro/CustomTypeConverter.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericLogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflectLogicalTypes.java
Labels: Java

NO-JIRA: [Rust] Fix build errors with 1.78.0-nightly (0ecbd0605 2024-02-25)
  lang/rust/avro/tests/validators.rs
  lang/rust/avro_test_helper/src/lib.rs
Labels: Rust

NO-JIRA: [Rust] Fix build errors with 1.78.0-nightly (0ecbd0605 2024-02-25)
  lang/rust/avro/tests/validators.rs
  lang/rust/avro_test_helper/src/lib.rs
Labels: Rust

AVRO-3946: [Rust] Log warning/error for strange union types
  lang/rust/avro/src/schema.rs
Labels: Rust

AVRO-3946: [Rust] Log warning/error for strange union types (#2767)
  lang/rust/avro/src/schema.rs
Labels: Rust

AVRO-3946: [Rust] Log warning/error for strange union types (#2767)
  lang/rust/avro/src/schema.rs
Labels: Rust

AVRO-3948: [Rust] Re-export bigdecimal::BigDecimal as apache_avro::BigDecimal
  lang/rust/avro/src/bigdecimal.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/tests/avro-3786.rs
  lang/rust/avro/tests/big_decimal.rs
Labels: Rust

AVRO-3948: [Rust] Re-export bigdecimal::BigDecimal as apache_avro::BigDecimal (#2771)
  lang/rust/avro/src/bigdecimal.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/tests/avro-3786.rs
  lang/rust/avro/tests/big_decimal.rs
Labels: Rust

AVRO-3948: [Rust] Re-export bigdecimal::BigDecimal as apache_avro::BigDecimal (#2771)
  lang/rust/avro/src/bigdecimal.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/tests/avro-3786.rs
  lang/rust/avro/tests/big_decimal.rs
Labels: Rust

AVRO-3949: [Rust]: Add support for serde to apache_avro::Decimal
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/decimal.rs
Labels: Rust

AVRO-3949: [Rust]: Add support for serde to apache_avro::Decimal (#2772)
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/decimal.rs
Labels: Rust

AVRO-3949: [Rust]: Add support for serde to apache_avro::Decimal (#2772)
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/decimal.rs
Labels: Rust

AVRO-3948: [Rust] Enable "serde" feature for bigdecimal dependency
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
Labels: Rust

AVRO-3948: [Rust] Enable "serde" feature for bigdecimal dependency
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
Labels: Rust

AVRO-3666: Reduce PR size more
  lang/java/compiler/src/main/java/org/apache/avro/compiler/idl/SchemaResolver.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/ProtocolTask.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SchemaTask.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/enum.vm
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/fixed.vm
  lang/java/compiler/src/test/java/org/apache/avro/compiler/schema/TestSchemas.java
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/compiler/src/test/java/org/apache/avro/specific/TestSpecificData.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/AbstractAvroMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/IDLMojo.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestInduceMojo.java
  lang/java/tools/src/main/java/org/apache/avro/tool/SpecificCompilerTool.java
Labels: Java

AVRO-3666: Reduce PR size again
  lang/java/avro/src/test/java/org/apache/avro/TestProtocol.java
Labels: Java

AVRO-3948: [Rust] Re-export uuid::Uuid as apache_avro::Uuid
  lang/rust/avro/src/lib.rs
  lang/rust/avro/tests/uuids.rs
Labels: Rust

AVRO-3948: [Rust] Re-export uuid::Uuid as apache_avro::Uuid
  lang/rust/avro/src/lib.rs
  lang/rust/avro/tests/uuids.rs
Labels: Rust

AVRO-3950: [Rust] tests added for match_schemas in schema_compatibility
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

C: 
  - changed-files:
    - any-glob-to-any-file: "lang/c/**/*"
C++: 
  - changed-files:
    - any-glob-to-any-file: "lang/c++/**/*"
C#: 
  - changed-files:
    - any-glob-to-any-file: "lang/csharp/**/*"
Java: 
  - changed-files:
    - any-glob-to-any-file: "lang/java/**/*"
Js: 
  - changed-files:
    - any-glob-to-any-file: "lang/js/**/*"
Perl: 
  - changed-files:
    - any-glob-to-any-file: "lang/perl/**/*"
Php: 
  - changed-files:
    - any-glob-to-any-file: "lang/php/**/*"
Python: 
  - changed-files:
    - any-glob-to-any-file: "lang/py/**/*"
Ruby: 
  - changed-files:
    - any-glob-to-any-file: "lang/ruby/**/*"
Rust: 
  - changed-files:
    - any-glob-to-any-file: "lang/rust/**/*"
build: 
  - changed-files:
    - any-glob-to-any-file: ["**/*Dockerfile*", "**/*.sh", "**/*pom.xml", ".github/**/*"]
website: 
  - changed-files:
    - any-glob-to-any-file: "doc/**/*"
