Repository apache/avro, changes with the labels that .github/labeler.yml gives for each.
All labels: C, C++, C#, Java, Js, Perl, Php, Python, Ruby, Rust, build, website

Resolve AVRO-3941 C# implementation of avrogen throws an exception if the schema file does not contain a namespace
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
Labels: C#

AVRO-2717: Fix UB in ZigZag encoding (pre C++-20)
  lang/c++/api/Zigzag.hh
Labels: C++

AVRO-2717: Fix UB in ZigZag encoding (pre C++-20) (#2744)
  lang/c++/api/Zigzag.hh
Labels: C++

AVRO-2717: Fix UB in ZigZag encoding (pre C++-20) (#2744)
  lang/c++/api/Zigzag.hh
Labels: C++

[C++] do not hardcode Unix Makefiles generator
  lang/c++/build.sh
Labels: C++, build

[C++] Fix main page for Doxygen.
  lang/c++/MainPage.dox
Labels: C++

[C++] Fix main page for Doxygen. (#2749)
  lang/c++/MainPage.dox
Labels: C++

[C++] Fix main page for Doxygen. (#2749)
  lang/c++/MainPage.dox
Labels: C++

[C++] do not hardcode Unix Makefiles generator (#2745)
  lang/c++/build.sh
Labels: C++, build

[C++] do not hardcode Unix Makefiles generator (#2745)
  lang/c++/build.sh
Labels: C++, build

AVRO-3939: Add support for comparing the custom attributes to StructFieldEq
  lang/rust/avro/src/schema_equality.rs
Labels: Rust

AVRO-3939: Add more unit tests
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_equality.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/util.rs
  lang/rust/avro/src/writer.rs
Labels: Rust

AVRo-3939: Add more unit tests
  lang/rust/avro/src/bigdecimal.rs
  lang/rust/avro/src/decimal.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/schema_equality.rs
  lang/rust/avro/src/types.rs
Labels: Rust

AVRO-3939: More unit tests and better logging
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_equality.rs
Labels: Rust

AVRO-3939: Fix rust nightly clippy error
  lang/rust/avro/src/types.rs
Labels: Rust

AVRO-3939: Improve TestLogger's assert_logged to assert against all logged messages
  lang/rust/avro/src/schema.rs
  lang/rust/avro_test_helper/src/logger.rs
Labels: Rust

Fix rust nightly clippy error
  lang/rust/avro/benches/serde_json.rs
Labels: Rust

AVRO-2825: [csharp] Resolve: C# Logical Types throw exception on unknown logical type
  lang/csharp/src/apache/codegen/Properties/launchSettings.json
  lang/csharp/src/apache/main/Properties/launchSettings.json
  lang/csharp/src/apache/main/Schema/LogicalSchema.cs
  lang/csharp/src/apache/main/Util/LogicalTypeFactory.cs
  lang/csharp/src/apache/main/Util/UnknownLogicalType.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenSchemaTests.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
Labels: C#

[AVRO-3942] Mark MemoryOutputStream as final
  lang/c++/impl/Stream.cc
Labels: C++

AVRO-3939: More test assertions and better logging
  lang/rust/avro/src/schema_equality.rs
Labels: Rust

AVRO-3939: Use StructFieldEq impl by default
  lang/rust/avro/src/schema_equality.rs
Labels: Rust

AVro-3939: Format the code
  lang/rust/avro/src/schema_equality.rs
Labels: Rust

AVRO-3939: [Rust] Make it possible to use custom schema equality comparators (#2739)
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/benches/serde_json.rs
  lang/rust/avro/src/bigdecimal.rs
  lang/rust/avro/src/decimal.rs
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_equality.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/util.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro_test_helper/src/logger.rs
Labels: Rust

AVRO-3939: [Rust] Make it possible to use custom schema equality comparators (#2739)
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/benches/serde_json.rs
  lang/rust/avro/src/bigdecimal.rs
  lang/rust/avro/src/decimal.rs
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_equality.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/util.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro_test_helper/src/logger.rs
Labels: Rust

[AVRO-3942] Mark MemoryOutputStream as final (#2752)
  lang/c++/impl/Stream.cc
Labels: C++

[AVRO-3942] Mark MemoryOutputStream as final (#2752)
  lang/c++/impl/Stream.cc
Labels: C++

NO-JIRA: [Rust] schema_compatibility module refactor
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

AVRO-3904: [Rust] schema_compatibility module refactor (#2742)
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

AVRO-3904: [Rust] schema_compatibility module refactor (#2742)
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

Remove obsolete Bison/Flex files
  lang/c++/parser/AvroLex.ll
  lang/c++/parser/AvroYacc.yy
Labels: C++

Remove obsolete m4 files
  lang/c++/LICENSE
  lang/c++/m4/README
  lang/c++/m4/m4_ax_boost_asio.m4
  lang/c++/m4/m4_ax_boost_base.m4
  lang/c++/m4/m4_ax_boost_filesystem.m4
  lang/c++/m4/m4_ax_boost_regex.m4
  lang/c++/m4/m4_ax_boost_system.m4
  lang/c++/m4/m4_ax_boost_thread.m4
Labels: C++

Remove mentions of bison and flex from README
  lang/c++/README
Labels: C++

Bump cmake_minimum_required to 3.5.
  lang/c++/CMakeLists.txt
Labels: C++

CMake: fix the setting CMP0042 policy
  lang/c++/CMakeLists.txt
Labels: C++

[AVRO-3941] CSharp Resolve missing namespace issue
  lang/csharp/src/apache/codegen/Avro.codegen.csproj
  lang/csharp/src/apache/codegen/AvroGen.cs
  lang/csharp/src/apache/codegen/Properties/launchSettings.json
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenSchemaTests.cs
Labels: C#

AVRO-3938: [Java] Add null guards for Schema.Parser (#2738)
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchema.java
Labels: Java

NO-JIRA: Rust+CI: Run the audit only when Cargo.toml is changed
  .github/workflows/test-lang-rust-audit.yml
Labels: build

NO-JIRA: Rust+CI: Run the audit only when Cargo.toml is changed
  .github/workflows/test-lang-rust-audit.yml
Labels: build

[AVRO-3944] small CMake fixes (#2757)
  lang/c++/CMakeLists.txt
Labels: C++

[AVRO-3944] small CMake fixes (#2757)
  lang/c++/CMakeLists.txt
Labels: C++

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

C: 
  - changed-files:
    - any-glob-to-any-file: "lang/c/**/*"
C++: 
  - changed-files:
    - any-glob-to-any-file: "lang/c++/**/*"
C#: 
  - changed-files:
    - any-glob-to-any-file: "lang/csharp/**/*"
Java: 
  - changed-files:
    - any-glob-to-any-file: "lang/java/**/*"
Js: 
  - changed-files:
    - any-glob-to-any-file: "lang/js/**/*"
Perl: 
  - changed-files:
    - any-glob-to-any-file: "lang/perl/**/*"
Php: 
  - changed-files:
    - any-glob-to-any-file: "lang/php/**/*"
Python: 
  - changed-files:
    - any-glob-to-any-file: "lang/py/**/*"
Ruby: 
  - changed-files:
    - any-glob-to-any-file: "lang/ruby/**/*"
Rust: 
  - changed-files:
    - any-glob-to-any-file: "lang/rust/**/*"
build: 
  - changed-files:
    - any-glob-to-any-file: ["**/*Dockerfile*", "**/*.sh", "**/*pom.xml", ".github/**/*"]
website: 
  - changed-files:
    - any-glob-to-any-file: "doc/**/*"
