Repository apache/avro, changes with the labels that .github/labeler.yml gives for each.
All labels: C, C++, C#, Java, Js, Perl, Php, Python, Ruby, Rust, build, website

AVRO-3950: [Rust] Do not add all features of rstest
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

AVRO-3950: [Rust] tests added for match_schemas in schema_compatibility (#2773)
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

AVRO-3950: [Rust] tests added for match_schemas in schema_compatibility (#2773)
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

[update] Implementation based on review comment.
  lang/java/avro/src/main/java/org/apache/avro/Protocol.java
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/main/java/org/apache/avro/SchemaJsonSerDe.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaSerializationHooks.java
Labels: Java

AVRO-3950: [Rust] remove code that it is never called on schema_compatibility match_schemas function
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

AVRO-3939: [Rust] Add documentation about the new schemata equality comparator to the README.md
  lang/rust/avro/README.md
  lang/rust/avro/src/lib.rs
Labels: Rust

AVRO-3939: [Rust] Add documentation about the new schemata equality comparator to the README.md
  lang/rust/avro/README.md
  lang/rust/avro/src/lib.rs
Labels: Rust

AVRO-3950: [Rust] remove code that it is never called on schema_compatibility match_schemas function (#2774)
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

AVRO-3950: [Rust] remove code that it is never called on schema_compatibility match_schemas function (#2774)
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

AVRO-3953
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
Labels: C#

AVRO-3955: [Rust] allow deserializer to decode enum string
  lang/rust/avro/src/de.rs
Labels: Rust

AVRO-3955: [Rust] allow deserializer to decode enum string (#2785)
  lang/rust/avro/src/de.rs
Labels: Rust

AVRO-3955: [Rust] allow deserializer to decode enum string (#2785)
  lang/rust/avro/src/de.rs
Labels: Rust

Unit test added. Removed local check for symbol.
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
Labels: C#

[C++] Added support for installing dependencies with Conan
  lang/c++/README
  lang/c++/conanfile.txt
Labels: C++

AVRO-3953: Prefixing enum member identifiers instead of throwing (#2783)
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
Labels: C#

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

C: 
  - changed-files:
    - any-glob-to-any-file: "lang/c/**/*"
C++: 
  - changed-files:
    - any-glob-to-any-file: "lang/c++/**/*"
C#: 
  - changed-files:
    - any-glob-to-any-file: "lang/csharp/**/*"
Java: 
  - changed-files:
    - any-glob-to-any-file: "lang/java/**/*"
Js: 
  - changed-files:
    - any-glob-to-any-file: "lang/js/**/*"
Perl: 
  - changed-files:
    - any-glob-to-any-file: "lang/perl/**/*"
Php: 
  - changed-files:
    - any-glob-to-any-file: "lang/php/**/*"
Python: 
  - changed-files:
    - any-glob-to-any-file: "lang/py/**/*"
Ruby: 
  - changed-files:
    - any-glob-to-any-file: "lang/ruby/**/*"
Rust: 
  - changed-files:
    - any-glob-to-any-file: "lang/rust/**/*"
build: 
  - changed-files:
    - any-glob-to-any-file: ["**/*Dockerfile*", "**/*.sh", "**/*pom.xml", ".github/**/*"]
website: 
  - changed-files:
    - any-glob-to-any-file: "doc/**/*"
