Repository apache/avro, pull requests merged in 2018-12, with the labels that each got.

#131 Avro1363 C# union schema can now contain multiple entries with the same name and different namespace
  lang/csharp/src/apache/main/Schema/NamedSchema.cs
  lang/csharp/src/apache/main/Schema/Schema.cs
  lang/csharp/src/apache/main/Schema/UnionSchema.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
Labels: C#

#221 fixes unicode compile on windows
  lang/c++/impl/FileStream.cc
Labels: C++

#399 AVRO-1939: Add missing Apache license header
  lang/java/tools/src/main/java/org/apache/avro/tool/CatTool.java
  lang/java/tools/src/main/java/org/apache/avro/tool/SchemaNormalizationTool.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestMain.java
Labels: Java

#400 AVRO-2192: Remove paranamer dependency from Avro
  lang/java/avro/pom.xml
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/pom.xml
  lang/java/tools/src/main/resources/META-INF/LICENSE
Labels: Java

#296 AVRO-2155: Include documentation for named schemas in generated code
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/main/Schema/EnumSchema.cs
  lang/csharp/src/apache/main/Schema/FixedSchema.cs
  lang/csharp/src/apache/main/Schema/NamedSchema.cs
  lang/csharp/src/apache/main/Schema/RecordSchema.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
Labels: C#

#286 AVRO-2144: Fix for CSharp documentation Url
  doc/src/content/xdocs/site.xml
Labels: C#

#297 AVRO-2156: Map Avro namespace to C# namespaces during code generation
  lang/csharp/src/apache/codegen/AvroGen.cs
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
Labels: C#

#204 C# - Generic Record - Fix false positive equality
  lang/csharp/src/apache/main/Generic/GenericRecord.cs
  lang/csharp/src/apache/test/Generic/GenericTests.cs
Labels: C#

#401 AVRO-2281: Optimize ruby binary encoder/decoder
  lang/ruby/lib/avro/io.rb
Labels: Ruby

#137 AVRO-1955: fix avrogen.exe output dir path format
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
Labels: C#

#217 AVRO-1167, AVRO-766: Fix c AVRO_LINK memory leaks
  lang/c/src/schema.c
  lang/c/tests/CMakeLists.txt
  lang/c/tests/test_avro_1167.c
  lang/c/tests/test_avro_766.c
Labels: C

#239 AVRO-2063. C: VERSION, SOVERSION not set correctly for shared library
  lang/c/CMakeLists.txt
  lang/c/src/CMakeLists.txt
Labels: C

#164 AVRO-2008: change the error module to be thread-safe on Windows as well as on UNIX
  lang/c/src/errors.c
  lang/c/tests/test_avro_errors_are_thread_safe.c
Labels: C, WINDOWS

#208 avro-c: Fix build with clang compiler
  lang/c/src/avro/refcount.h
Labels: C

#225 AVRO-1844: set correct header searching path for zlib, snappy & jansson.
  lang/c/CMakeLists.txt
Labels: C

#214 add ivy profile to generate ivy.xml desriptors for java artifacts
  pom.xml
Labels: Java, build

#316 AVRO-2184: Unable to decode JSON data file if a property is renamed in reader schema
  lang/java/avro/src/main/java/org/apache/avro/io/JsonDecoder.java
  lang/java/avro/src/main/java/org/apache/avro/io/parsing/JsonGrammarGenerator.java
  lang/java/avro/src/main/java/org/apache/avro/io/parsing/Symbol.java
  lang/java/avro/src/test/java/org/apache/avro/TestReadingWritingDataInEvolvedSchemas.java
Labels: Java

#224 AVRO-2034 Nested schema types with unexpected fields causes json parse failure
  lang/java/avro/src/main/java/org/apache/avro/io/JsonDecoder.java
  lang/java/avro/src/test/java/org/apache/avro/TestNestedRecords.java
Labels: Java

#329 Improved conversions handling + pluggable conversions support [AVRO-1891, AVRO-2065]
  lang/java/avro/src/main/java/org/apache/avro/data/RecordBuilderBase.java
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificDatumReader.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificDatumWriter.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificRecordBase.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificRecordBuilderBase.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestRecordWithJsr310LogicalTypes.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/integration-test/codegen-test/pom.xml
  lang/java/integration-test/codegen-test/src/test/java/org/apache/avro/codegentest/AbstractSpecificRecordTest.java
  lang/java/integration-test/codegen-test/src/test/java/org/apache/avro/codegentest/TestCustomConversion.java
  lang/java/integration-test/codegen-test/src/test/java/org/apache/avro/codegentest/TestLogicalTypesWithDefaults.java
  lang/java/integration-test/codegen-test/src/test/java/org/apache/avro/codegentest/TestNestedLogicalTypes.java
  lang/java/integration-test/codegen-test/src/test/java/org/apache/avro/codegentest/TestNullableLogicalTypes.java
  lang/java/integration-test/codegen-test/src/test/resources/avro/custom_conversion.avsc
  lang/java/integration-test/codegen-test/src/test/resources/avro/logical_types_with_default_values.avsc
  lang/java/integration-test/codegen-test/src/test/resources/avro/nested_logical_types_array.avsc
  lang/java/integration-test/codegen-test/src/test/resources/avro/nested_logical_types_map.avsc
  lang/java/integration-test/codegen-test/src/test/resources/avro/nested_logical_types_record.avsc
  lang/java/integration-test/codegen-test/src/test/resources/avro/nested_logical_types_union.avsc
  lang/java/integration-test/codegen-test/src/test/resources/avro/nullable_logical_types.avsc
  lang/java/integration-test/codegen-test/src/test/resources/avro/nullable_logical_types_array.avsc
  lang/java/integration-test/pom.xml
  lang/java/integration-test/test-custom-conversions/pom.xml
  lang/java/integration-test/test-custom-conversions/src/main/java/org.apache.avro.codegentest/CustomDecimal.java
  lang/java/integration-test/test-custom-conversions/src/main/java/org.apache.avro.codegentest/CustomDecimalConversion.java
  lang/java/mapred/pom.xml
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/AbstractAvroMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/IDLProtocolMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/ProtocolMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/SchemaMojo.java
  lang/java/pom.xml
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/Player.java
  lang/java/tools/src/test/compiler/output/Player.java
Labels: Java

#70 AVRO-1749 Java: Introduce induce Maven plugin goal
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/InduceMojo.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/entities/Person.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestInduceMojo.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/protocols/Remote.java
  lang/java/maven-plugin/src/test/resources/unit/protocol/induce-pom.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/induce-pom.xml
Labels: Java

#355 Fix undefined variable field_desc_list in RecordSchema._MakeFieldMap
  lang/py3/avro/schema.py
  lang/py3/avro/tests/test_schema.py
Labels: Python

#403 [FIX] Support applying default null when map exists in schema and not…
  lang/ruby/lib/avro/schema.rb
Labels: Ruby

#412 Fix for move constructor errors and warnings
  lang/c++/api/DataFile.hh
  lang/c++/impl/DataFile.cc
  lang/c++/test/AvrogencppTests.cc
  lang/c++/test/unittest.cc
Labels: C++

#416 Fix for a crucial bug in C++ file handling under MS Windows
  lang/c++/impl/FileStream.cc
Labels: C++

#417 UTF-8 support for JSON in C++
  lang/c++/api/NodeImpl.hh
  lang/c++/impl/Compiler.cc
  lang/c++/impl/DataFile.cc
  lang/c++/impl/json/JsonDom.cc
  lang/c++/impl/json/JsonDom.hh
  lang/c++/impl/json/JsonIO.cc
  lang/c++/impl/json/JsonIO.hh
  lang/c++/impl/parsing/JsonCodec.cc
  lang/c++/jsonschemas/bigrecord_r
  lang/c++/test/AvrogencppTests.cc
  lang/c++/test/JsonTests.cc
Labels: C++
