Repository apache/avro, pull requests merged in 2019-02, with the labels that each got.

#428 csharp: Generate NuGet package for main Avro library (AVRO-1381)
  .editorconfig
  lang/csharp/Avro.sln
  lang/csharp/build.ps1
  lang/csharp/common.props
  lang/csharp/src/apache/main/Avro.main.csproj
  lang/csharp/src/apache/main/Properties/AssemblyInfo.cs
Labels: C#

#432 Add probot auto-labeler configuration
  .github/autolabeler.yml
Labels: build

#442 [AVRO-2314] Bump protobuf to 3.6.1
  lang/java/pom.xml
Labels: Java

#444 AVRO-2311: Remove findbugs annotations dependency
  build.sh
  lang/java/build.sh
  lang/java/grpc/pom.xml
  lang/java/grpc/src/main/java/org/apache/avro/grpc/AvroInputStream.java
  lang/java/grpc/src/main/java/org/apache/avro/grpc/AvroRequestMarshaller.java
  lang/java/grpc/src/main/java/org/apache/avro/grpc/AvroResponseMarshaller.java
  lang/java/pom.xml
  lang/java/tools/pom.xml
  pom.xml
Labels: Java

#445 AVRO-2315: Update zstd-jni to version 1.3.8-3
  lang/java/pom.xml
Labels: Java, build

#447 AVRO-2317 Update hamcrest-library to version 2.1 and remove hamcrest-all
  lang/java/avro/pom.xml
  lang/java/pom.xml
  pom.xml
Labels: Java, build

#446 AVRO-2316: Update ant to version 1.10.5
  lang/java/pom.xml
Labels: Java, build

#430 AVRO-2302 Fix invalid namespace on BigQuery import
  lang/java/protobuf/src/main/java/org/apache/avro/protobuf/ProtobufData.java
  lang/java/protobuf/src/main/java/org/apache/avro/protobuf/ProtobufDatumReader.java
  lang/java/protobuf/src/test/java/org/apache/avro/protobuf/TestProtobuf.java
Labels: Java

#82 [AVRO-1816] Add support for logical decimal type for python AVRO
  lang/py/src/avro/decimal_encoder.py
  lang/py/src/avro/io.py
  lang/py/src/avro/schema.py
  lang/py/test/test_io.py
  lang/py/test/test_schema.py
Labels: Python

#453 AVRO-2321 Avoid hasattr in Python 2
  lang/py/src/avro/protocol.py
  lang/py/src/avro/schema.py
Labels: Python

#451 AVRO-1989: Ruby schema validation should use bytesize in error msg
  lang/ruby/lib/avro/schema_validator.rb
  lang/ruby/test/test_schema_validator.rb
Labels: Ruby

#455 [AVRO-2323] Bump maven-jar-plugin to 3.1.1
  lang/java/pom.xml
Labels: Java

#458 [AVRO-2326] Bump netty-codec-http2 from 4.1.30.Final to 4.1.33.Final
  lang/java/pom.xml
Labels: Java

#457 [AVRO-2325] Bump commons-codec from 1.11 to 1.12
  lang/java/pom.xml
Labels: Java
