Repository apache/avro, pull requests merged in 2019-03, with the labels that each got.

#460 AVRO-1981: Catch exceptions loading types from assemblies in C#
  lang/csharp/src/apache/main/Specific/ObjectCreator.cs
Labels: C#

#461 AVRO-2329: Set inner exception when available
  lang/csharp/src/apache/main/File/DataFileReader.cs
  lang/csharp/src/apache/main/Generic/GenericReader.cs
  lang/csharp/src/apache/main/Generic/GenericWriter.cs
  lang/csharp/src/apache/main/Specific/SpecificReader.cs
  lang/csharp/src/apache/main/Specific/SpecificWriter.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
Labels: C#

#459 Support HTTPS in IPC HTTPTranceiver
  lang/py3/avro/ipc.py
Labels: Python3

#462 AVRO-1810: Fix GenericDatumWriter w/ enums
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericEnumSymbol.java
  lang/java/avro/src/test/java/org/apache/avro/TypeEnum.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericConcreteEnum.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/enum.vm
  lang/java/tools/src/test/compiler/output-string/Position.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/Position.java
  lang/java/tools/src/test/compiler/output/Position.java
Labels: Java

#467 Update javadoc plugin
  .github/autolabeler.yml
  lang/java/pom.xml
Labels: Java, build

#469 AVRO-2334: Update Docs to Reference Java 8 API
  lang/java/pom.xml
Labels: Java, build

#472 AVRO-2339: Remove Unused LengthLimitedInputStream
  lang/java/avro/src/main/java/org/apache/avro/file/LengthLimitedInputStream.java
  lang/java/avro/src/test/java/org/apache/avro/file/TestLengthLimitedInputStream.java
Labels: Java

#471 AVRO-2338: Remove Deprecated Use of JsonStringEncoder
  lang/java/avro/src/main/java/org/apache/avro/SchemaBuilder.java
Labels: Java

#468 AVRO-2333: Remove commons-logging dependency
  lang/java/pom.xml
  lang/java/tools/pom.xml
Labels: Java, build

#465 AVRO-2331: Remove commons-codec dependency
  lang/java/mapred/pom.xml
  lang/java/mapred/src/main/java/org/apache/avro/mapred/AvroMultipleInputs.java
  lang/java/pom.xml
Labels: Java, build

#473 AVRO-2340: Use JDK compareTo and hashcode Methods
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryData.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
Labels: Java

#474 AVRO-2341: Simplify ByteArrayByteSource Min Buffer Size
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryDecoder.java
Labels: Java

#477 AVRO-2347: Use Java8 Map API for SpecificData
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
Labels: Java

#463 AVRO-2345: Export getSchema() to bypass using reflection
  lang/java/protobuf/src/main/java/org/apache/avro/protobuf/ProtobufData.java
Labels: Java

#480 AVRO-2350: Use Switch Statement for Strings in LogicalTypes
  lang/java/avro/src/main/java/org/apache/avro/LogicalTypes.java
Labels: Java

#479 AVRO-2349: Review Usage of Arrays.asList
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/schema/Schemas.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/protobuf/src/main/java/org/apache/avro/protobuf/ProtobufData.java
  lang/java/thrift/src/main/java/org/apache/avro/thrift/ThriftData.java
Labels: Java

#478 AVRO-2348: Do Not Wrap JSON Strings in StringReader for Parsing
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/main/java/org/apache/avro/data/Json.java
Labels: Java

#489 AVRO-2356: Encoder Cannot Be Null
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericDatumWriter.java
Labels: Java

#488 AVRO-2355 [java] Add level and checksum options to ZStandard compression
  lang/java/avro/src/main/java/org/apache/avro/file/CodecFactory.java
  lang/java/avro/src/main/java/org/apache/avro/file/ZstandardCodec.java
  lang/java/avro/src/main/java/org/apache/avro/file/ZstandardLoader.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFile.java
  lang/java/avro/src/test/java/org/apache/avro/file/TestZstandardCodec.java
  lang/java/mapred/pom.xml
  lang/java/mapred/src/test/java/org/apache/avro/mapreduce/TestAvroKeyOutputFormat.java
Labels: Java, build

#470 AVRO-2336: Use Java Standard Charsets - Part 2
  lang/java/avro/src/main/java/org/apache/avro/Protocol.java
  lang/java/avro/src/main/java/org/apache/avro/SchemaBuilder.java
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileWriter.java
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryEncoder.java
  lang/java/avro/src/main/java/org/apache/avro/io/JsonDecoder.java
  lang/java/avro/src/main/java/org/apache/avro/io/JsonEncoder.java
  lang/java/avro/src/main/java/org/apache/avro/io/ResolvingDecoder.java
  lang/java/avro/src/main/java/org/apache/avro/io/parsing/ResolvingGrammarGenerator.java
  lang/java/avro/src/test/java/org/apache/avro/TestNestedRecords.java
  lang/java/avro/src/test/java/org/apache/avro/TestReadingWritingDataInEvolvedSchemas.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestBlockingIO.java
  lang/java/ipc-netty/src/test/java/org/apache/avro/ipc/netty/TestNettyServer.java
  lang/java/ipc/src/main/java/org/apache/avro/ipc/SaslSocketServer.java
  lang/java/ipc/src/main/java/org/apache/avro/ipc/SaslSocketTransceiver.java
  lang/java/ipc/src/test/java/org/apache/avro/RPCMetaTestPlugin.java
  lang/java/mapred/src/main/java/org/apache/avro/mapred/AvroTextOutputFormat.java
  lang/java/mapred/src/test/java/org/apache/avro/mapreduce/TestFsInput.java
  lang/java/tools/src/main/java/org/apache/avro/tool/SchemaNormalizationTool.java
  lang/java/tools/src/main/java/org/apache/avro/tool/ToTextTool.java
  lang/java/tools/src/main/java/org/apache/avro/tool/TrevniMetadataTool.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestTextFileTools.java
  lang/java/trevni/avro/src/main/java/org/apache/trevni/avro/AvroTrevniOutputFormat.java
  lang/java/trevni/avro/src/main/java/org/apache/trevni/avro/mapreduce/AvroTrevniRecordWriterBase.java
  lang/java/trevni/core/src/main/java/org/apache/trevni/MetaData.java
  lang/java/trevni/core/src/main/java/org/apache/trevni/OutputBuffer.java
Labels: Java

#494 Rename JSR310 conversion class to TimeConversions, deprecate Joda conversion
  lang/java/avro/src/main/java/org/apache/avro/data/JodaTimeConversions.java
  lang/java/avro/src/main/java/org/apache/avro/data/TimeConversions.java
  lang/java/avro/src/test/java/org/apache/avro/data/TestJodaTimeConversions.java
  lang/java/avro/src/test/java/org/apache/avro/data/TestJsr310TimeConversions.java
  lang/java/avro/src/test/java/org/apache/avro/data/TestTimeConversions.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestRecordWithJsr310LogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestRecordWithLogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestSpecificLogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestSpecificToFromByteArray.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/FieldTest.java
Labels: Java

#493 AVRO-2362: Enable calling mvn spotless:apply to auto format code
  lang/java/pom.xml
  pom.xml
Labels: Java, build

#497 AVRO-2199: Validate that field defaults have the correct type
  lang/ruby/.gitignore
  lang/ruby/lib/avro.rb
  lang/ruby/lib/avro/schema.rb
  lang/ruby/test/test_datafile.rb
  lang/ruby/test/test_schema.rb
Labels: Ruby

#490 AVRO-2357: Allow generic types in reflect protos
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectionUtil.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflectData.java
Labels: Java
