Repository apache/avro, pull requests merged in 2019-10, with the labels that each got.

#643 AVRO-2553: Remove unnecessary note from the Python docs
  doc/src/content/xdocs/gettingstartedpython.xml
Labels: website

#662 AVRO-2574: Add a default value to the spec
  doc/src/content/xdocs/spec.xml
Labels: website

#670 AVRO-2583: Bump grpc.version from 1.23.0 to 1.24.0
  lang/java/pom.xml
Labels: Java, build

#671 AVRO-2582: Bump protobuf-java from 3.9.1 to 3.10.0
  lang/java/pom.xml
Labels: Java, build

#673 AVRO-2585: Bump jetty.version from 9.4.20.v20190813 to 9.4.21.v20190926
  lang/java/pom.xml
Labels: Java, build

#674 AVRO-2586: Bump spotless-maven-plugin from 1.24.1 to 1.25.1
  pom.xml
Labels: build

#675 AVRO-2587: Upgrade jackson to 2.10.0
  lang/java/avro/src/main/java/org/apache/avro/SchemaBuilder.java
  lang/java/pom.xml
Labels: Java, build

#664 AVRO-2576: Fix Premature Import pycodestyle
  LICENSE.txt
  lang/py/.gitignore
  lang/py/build.sh
  lang/py/setup.cfg
  lang/py/setup.py
  lang/py/src/avro/protocol.py
  lang/py/src/avro/tether/tether_task_runner.py
  lang/py3/.gitignore
  lang/py3/setup.cfg
  lang/py3/setup.py
  pom.xml
  share/docker/Dockerfile
Labels: Python, Python3, build

#669 AVRO-2581:Generate @Deprecated public attribute in Java
  lang/java/ipc/src/test/java/org/apache/avro/TestProtocolSpecific.java
  lang/java/ipc/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/ipc/src/test/java/org/apache/avro/specific/TestSpecificRecordBuilder.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/AbstractAvroMojo.java
Labels: Java

#672 AVRO-2584: Bump netty-codec-http2 from 4.1.39.Final to 4.1.42.Final
  lang/java/pom.xml
Labels: Java, build

#677 AVRO-2590: Dockerfile Fails to Fetch Microsoft Dist
  share/docker/Dockerfile
Labels: build

#682 AVRO-2601: zstandard in extras_require
  lang/py/setup.py
  lang/py3/setup.cfg
Labels: Python, Python3

#681 AVRO-2593: Ensure exfile is Always Defined
  lang/py/test/test_tether_word_count.py
Labels: Python

#604 AVRO-2503: Add multiple arguments support to all build scripts
  lang/c/build.sh
  lang/csharp/build.sh
  lang/js/build.sh
  lang/php/build.sh
  lang/ruby/build.sh
Labels: C, C#, JS, PHP, Ruby, build

#317 Add Single Object Encoding Support to Ruby library
  lang/ruby/lib/avro/schema.rb
  lang/ruby/test/test_fingerprints.rb
Labels: Ruby

#684 AVRO-2603: Clean Up Imports
  lang/py/test/test_tether_word_count.py
Labels: Python

#668 AVRO-2580: Enforce Logical Type and Literal Type Match
  lang/py/src/avro/schema.py
  lang/py/test/test_schema.py
Labels: Python

#665 AVRO-2577: Fix Bare Excepts
  lang/py/setup.cfg
  lang/py/src/avro/datafile.py
  lang/py/src/avro/protocol.py
  lang/py/src/avro/schema.py
  lang/py/test/sample_http_client.py
  lang/py/test/test_protocol.py
  lang/py/test/txsample_http_client.py
  lang/py3/avro/tests/sample_http_client.py
  lang/py3/avro/tests/test_protocol.py
  lang/py3/avro/tests/txsample_http_client.py
  lang/py3/setup.cfg
Labels: Python, Python3

#688 AVRO-2605: Remove Use of Filter Function
  lang/py/test/set_avro_test_path.py
Labels: Python

#666 AVRO-2578: Support Both Capitalizations of Parse
  lang/py3/avro/datafile.py
  lang/py3/avro/ipc.py
  lang/py3/avro/protocol.py
  lang/py3/avro/schema.py
  lang/py3/avro/tests/av_bench.py
  lang/py3/avro/tests/gen_interop_data.py
  lang/py3/avro/tests/sample_http_client.py
  lang/py3/avro/tests/sample_http_server.py
  lang/py3/avro/tests/test_datafile.py
  lang/py3/avro/tests/test_io.py
  lang/py3/avro/tests/test_ipc.py
  lang/py3/avro/tests/test_normalization.py
  lang/py3/avro/tests/test_protocol.py
  lang/py3/avro/tests/test_schema.py
  lang/py3/avro/tests/test_script.py
  lang/py3/avro/tests/txsample_http_client.py
  lang/py3/avro/tests/txsample_http_server.py
  lang/py3/avro/tool.py
  lang/py3/scripts/avro
Labels: Python3

#650 AVRO-2562: Expose the JavaScript BlockEncoder's piped stream
  lang/js/lib/files.js
  lang/js/test/test_files.js
Labels: JS

#656 AVRO-2568:Add c compile dependency instructions to BUILD.md
  BUILD.md
Labels: C

#550 AVRO-2431: remove trailing whitespaces from avro C++ files
  lang/c++/MainPage.dox
  lang/c++/README
  lang/c++/api/AvroParse.hh
  lang/c++/api/AvroSerialize.hh
  lang/c++/api/AvroTraits.hh
  lang/c++/api/Compiler.hh
  lang/c++/api/DataFile.hh
  lang/c++/api/Decoder.hh
  lang/c++/api/Encoder.hh
  lang/c++/api/Exception.hh
  lang/c++/api/Generic.hh
  lang/c++/api/GenericDatum.hh
  lang/c++/api/Layout.hh
  lang/c++/api/NodeConcepts.hh
  lang/c++/api/Parser.hh
  lang/c++/api/Reader.hh
  lang/c++/api/Resolver.hh
  lang/c++/api/ResolverSchema.hh
  lang/c++/api/SchemaResolution.hh
  lang/c++/api/Specific.hh
  lang/c++/api/Stream.hh
  lang/c++/api/Types.hh
  lang/c++/api/ValidSchema.hh
  lang/c++/api/Validator.hh
  lang/c++/api/Writer.hh
  lang/c++/api/buffer/Buffer.hh
  lang/c++/api/buffer/BufferPrint.hh
  lang/c++/api/buffer/BufferReader.hh
  lang/c++/api/buffer/BufferStream.hh
  lang/c++/api/buffer/BufferStreambuf.hh
  lang/c++/api/buffer/detail/BufferDetail.hh
  lang/c++/api/buffer/detail/BufferDetailIterator.hh
  lang/c++/examples/cpx.json
  lang/c++/examples/imaginary.json
  lang/c++/impl/BinaryDecoder.cc
  lang/c++/impl/DataFile.cc
  lang/c++/impl/FileStream.cc
  lang/c++/impl/Resolver.cc
  lang/c++/impl/ResolverSchema.cc
  lang/c++/impl/Schema.cc
  lang/c++/impl/Validator.cc
  lang/c++/impl/Zigzag.cc
  lang/c++/impl/json/JsonDom.cc
  lang/c++/impl/json/JsonDom.hh
  lang/c++/impl/parsing/Symbol.hh
  lang/c++/jsonschemas/circulardep
  lang/c++/jsonschemas/recinrec
  lang/c++/jsonschemas/record
  lang/c++/jsonschemas/record2
  lang/c++/jsonschemas/tweet
  lang/c++/parser/AvroLex.ll
  lang/c++/parser/AvroYacc.yy
  lang/c++/scripts/gen-cppcode.py
  lang/c++/test/JsonTests.cc
  lang/c++/test/LargeSchemaTests.cc
  lang/c++/test/SpecificTests.cc
  lang/c++/test/StreamTests.cc
  lang/c++/test/buffertest.cc
  lang/c++/test/testgentest.cc
Labels: C++

#689 AVRO-2603: Context Managers to Manage Resources
  lang/py/test/test_tether_word_count.py
Labels: Python

#691 AVRO-2432: Handle Empty Datafiles
  lang/py/src/avro/datafile.py
  lang/py/test/test_datafile.py
  lang/py3/avro/datafile.py
  lang/py3/avro/tests/test_datafile.py
Labels: Python, Python3

#694 AVRO-2609 Send Minimal Build Context to Docker
  build.sh
  share/docker/Dockerfile
Labels: build

#695 AVRO-2030: Link to Google Books Chapter
  doc/src/content/xdocs/spec.xml
Labels: website
