Repository apache/avro, pull requests merged in 2019-08, with the labels that each got.

#587 AVRO-2389: C# reflection based serializer/deserializer
  .gitignore
  NOTICE.txt
  lang/csharp/src/apache/main/Reflect/ArrayHelper.cs
  lang/csharp/src/apache/main/Reflect/ArraySchemaExtensions.cs
  lang/csharp/src/apache/main/Reflect/AvroFieldAttribute.cs
  lang/csharp/src/apache/main/Reflect/ClassCache.cs
  lang/csharp/src/apache/main/Reflect/DateTimeOffsetToLongConverter.cs
  lang/csharp/src/apache/main/Reflect/DotnetClass.cs
  lang/csharp/src/apache/main/Reflect/DotnetProperty.cs
  lang/csharp/src/apache/main/Reflect/EnumCache.cs
  lang/csharp/src/apache/main/Reflect/FuncFieldConverter.cs
  lang/csharp/src/apache/main/Reflect/IAvroFieldConverter.cs
  lang/csharp/src/apache/main/Reflect/README.md
  lang/csharp/src/apache/main/Reflect/ReflectDefaultReader.cs
  lang/csharp/src/apache/main/Reflect/ReflectDefaultWriter.cs
  lang/csharp/src/apache/main/Reflect/ReflectReader.cs
  lang/csharp/src/apache/main/Reflect/ReflectWriter.cs
  lang/csharp/src/apache/main/Reflect/TypedFieldConverter.cs
  lang/csharp/src/apache/test/Reflect/CompareUtils.cs
  lang/csharp/src/apache/test/Reflect/TestArray.cs
  lang/csharp/src/apache/test/Reflect/TestFixed.cs
  lang/csharp/src/apache/test/Reflect/TestFromAvroProject.cs
  lang/csharp/src/apache/test/Reflect/TestLogMessage.cs
  lang/csharp/src/apache/test/Reflect/TestReflect.cs
Labels: C#

#592 AVRO-2482: Introduce RuboCop for linting the Ruby bindings
  .travis/before_install.sh
  .travis/script.sh
  lang/ruby/Gemfile
  lang/ruby/build.sh
  lang/ruby/interop/test_interop.rb
  lang/ruby/lib/avro.rb
  lang/ruby/lib/avro/io.rb
  lang/ruby/lib/avro/ipc.rb
  lang/ruby/lib/avro/schema.rb
  lang/ruby/test/case_finder.rb
  lang/ruby/test/random_data.rb
  lang/ruby/test/sample_ipc_client.rb
  lang/ruby/test/sample_ipc_http_client.rb
  lang/ruby/test/sample_ipc_http_server.rb
  lang/ruby/test/sample_ipc_server.rb
  lang/ruby/test/test_schema.rb
  lang/ruby/test/tool.rb
  share/docker/Dockerfile
Labels: C++, Java, Ruby, build, website

#601 Fix typos
  lang/java/avro/src/main/java/org/apache/avro/Conversion.java
  lang/java/avro/src/test/java/org/apache/avro/util/CaseFinder.java
  lang/java/trevni/avro/src/main/java/org/apache/trevni/avro/mapreduce/AvroTrevniRecordWriterBase.java
Labels: Java

#602 AVRO-2500: Fixing serializing int type in some cultures
  lang/csharp/src/apache/main/Schema/UnnamedSchema.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
Labels: C#

#600 AVRO-2496: Add json path to exceptions
  lang/csharp/src/apache/codegen/Avro.codegen.csproj
  lang/csharp/src/apache/main/Avro.main.csproj
  lang/csharp/src/apache/main/Protocol/Message.cs
  lang/csharp/src/apache/main/Protocol/Protocol.cs
  lang/csharp/src/apache/main/Schema/ArraySchema.cs
  lang/csharp/src/apache/main/Schema/EnumSchema.cs
  lang/csharp/src/apache/main/Schema/Field.cs
  lang/csharp/src/apache/main/Schema/FixedSchema.cs
  lang/csharp/src/apache/main/Schema/JsonHelper.cs
  lang/csharp/src/apache/main/Schema/MapSchema.cs
  lang/csharp/src/apache/main/Schema/NamedSchema.cs
  lang/csharp/src/apache/main/Schema/RecordSchema.cs
  lang/csharp/src/apache/main/Schema/Schema.cs
  lang/csharp/src/apache/main/Schema/SchemaParseException.cs
  lang/csharp/src/apache/main/Schema/UnionSchema.cs
  lang/csharp/src/apache/test/Protocol/ProtocolParseExceptionTest.cs
Labels: C#

#603 AVRO-2404: Fix insecure urls.
  lang/csharp/src/apache/test/Interop/InteropDataConstants.cs
  lang/csharp/src/apache/test/Interop/InteropDataGenerator.cs
  lang/csharp/src/apache/test/Interop/InteropDataTests.cs
  lang/py/setup.cfg
Labels: C#, Python

#590 AVRO-2479: Add m2e lifecycle mapping file for maven
  lang/java/maven-plugin/src/main/resources/META-INF/m2e/lifecycle-mapping-metadata.xml
Labels: Java

#605 AVRO-2497: Avro-grpc failed when spotless:check alone
  pom.xml
Labels: Java, build

#520 Fix crash of DataFileReader with gcc 4.8
  lang/c++/impl/DataFile.cc
Labels: C++

#599 AVRO-2494: Introduce JSHint for linting the JavaScript bindings
  lang/js/build.sh
  lang/js/lib/protocols.js
  lang/js/lib/schemas.js
  lang/js/lib/utils.js
  lang/js/package.json
Labels: JS, build

#609 AVRO-2454: Enforce consistent style in C# bindings
  lang/csharp/Avro.ruleset
  lang/csharp/Avro.sln
  lang/csharp/src/apache/main/Avro.main.csproj
  lang/csharp/src/apache/main/CodeGen/AvroRuntimeException.cs
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/main/CodeGen/CodeGenException.cs
  lang/csharp/src/apache/main/File/DataFileReader.cs
  lang/csharp/src/apache/main/GlobalSuppressions.cs
  lang/csharp/src/apache/main/Protocol/ProtocolParseException.cs
  lang/csharp/src/apache/main/Schema/AvroException.cs
  lang/csharp/src/apache/main/Schema/AvroTypeException.cs
  lang/csharp/src/apache/main/Schema/Field.cs
  lang/csharp/src/apache/main/Schema/RecordSchema.cs
  lang/csharp/src/apache/main/Schema/Schema.cs
  lang/csharp/src/apache/main/Schema/SchemaParseException.cs
  lang/csharp/src/apache/main/Specific/ObjectCreator.cs
  lang/csharp/src/apache/main/Specific/SpecificException.cs
  lang/csharp/stylecop.json
Labels: C#

#610 AVRO-2510:avro-grpc failed when ./build.sh lint
  lang/java/grpc/pom.xml
Labels: Java, build

#606 AVRO-2505: `./build.sh clean` in the c++ directory doesn't remove all temporary files
  build.sh
  lang/c++/build.sh
Labels: C++, build

#580 AVRO-2465: Fix wrong defalut values in the avro-tools' usage
  lang/java/tools/src/main/java/org/apache/avro/tool/DataFileWriteTool.java
  lang/java/tools/src/main/java/org/apache/avro/tool/RecodecTool.java
  lang/java/tools/src/main/java/org/apache/avro/tool/Util.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestCreateRandomFileTool.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestDataFileTools.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestTextFileTools.java
Labels: Java

#582 AVRO-2468: Fix broken data interoperability on the Perl bindings
  build.sh
  lang/perl/build.sh
  lang/perl/lib/Avro/Schema.pm
  lang/perl/share/interop-data-generate
  lang/perl/xt/interop.t
  lang/perl/xt/schema.t
Labels: Perl, build

#607 AVRO-2506: Fix warnings in creating the Ruby distribution
  lang/ruby/Rakefile
Labels: Ruby

#613 AVRO-2512: writerField is always null
  lang/java/avro/src/main/java/org/apache/avro/SchemaCompatibility.java
Labels: Java

#612 AVRO-2515: Enable granular access to ProtobufData methods
  lang/java/protobuf/src/main/java/org/apache/avro/protobuf/ProtobufData.java
Labels: Java

#539 Fix std::string(NULL) in DataFile.cc
  lang/c++/impl/DataFile.cc
Labels: C++

#616 AVRO-2516: Add Automatic-Module-Name headers for Avro modules
  lang/java/avro/pom.xml
  lang/java/compiler/pom.xml
  lang/java/grpc/pom.xml
  lang/java/ipc-jetty/pom.xml
  lang/java/ipc-netty/pom.xml
  lang/java/ipc/pom.xml
  lang/java/mapred/pom.xml
  lang/java/perf/README.md
  lang/java/perf/pom.xml
  lang/java/protobuf/pom.xml
  lang/java/thrift/pom.xml
  lang/java/trevni/avro/pom.xml
  lang/java/trevni/core/pom.xml
Labels: Java, build

#624 AVRO-2530: Bump spotless-maven-plugin from 1.21.1 to 1.24.1
  pom.xml
Labels: build

#621 AVRO-2526: Implement all tests for the PHP bindings
  lang/php/lib/avro/io.php
  lang/php/test/StringIOTest.php
Labels: PHP

#625 AVRO-2531: Update commons-compress to version 1.19
  lang/java/pom.xml
Labels: Java, build

#626 AVRO-2533: Bump jetty.version from 9.4.18.v20190429 to 9.4.20.v20190813
  lang/java/pom.xml
Labels: Java, build

#623 AVRO-2529: Bump protobuf-java from 3.6.1 to 3.9.1
  lang/java/pom.xml
Labels: Java, build

#629 AVRO-2536: Bump netty-codec-http2 from 4.1.33.Final to 4.1.39.Final
  lang/java/pom.xml
Labels: Java, build

#630 AVRO-2537: Bump zstd-jni from 1.4.0-1 to 1.4.3-1
  lang/java/pom.xml
Labels: Java, build

#627 AVRO-2534: Bump javax.servlet-api from 3.1.0 to 4.0.1
  lang/java/pom.xml
Labels: Java, build

#622 AVRO-2527: Upgrade PHP version to 7.x
  lang/php/README.txt
  lang/php/build.sh
  lang/php/lib/avro/datum.php
  lang/php/test/AllTests.php
  lang/php/test/DataFileTest.php
  lang/php/test/DatumIOTest.php
  lang/php/test/FloatIntEncodingTest.php
  lang/php/test/IODatumReaderTest.php
  lang/php/test/InterOpTest.php
  lang/php/test/LongEncodingTest.php
  lang/php/test/NameTest.php
  lang/php/test/ProtocolFileTest.php
  lang/php/test/SchemaTest.php
  lang/php/test/StringIOTest.php
  share/docker/Dockerfile
Labels: PHP, build

#591 AVRO-2481: Introduce Perl::Critic for linting the Perl bindings
  lang/perl/Makefile.PL
  lang/perl/build.sh
  lang/perl/lib/Avro/Protocol.pm
  lang/perl/lib/Avro/Protocol/Message.pm
  lang/perl/xt/pod.t
  share/docker/Dockerfile
Labels: Perl, build

#608 AVRO-2507: Add Python3 to the RPC interop test
  lang/py/src/avro/ipc.py
  lang/py3/avro/tool.py
  share/test/interop/bin/test_rpc_interop.sh
Labels: Python, Python3, build

#585 AVRO-2472: Add zstd codec support to the Perl bindings
  lang/perl/Makefile.PL
  lang/perl/lib/Avro/DataFile.pm
  lang/perl/lib/Avro/DataFileReader.pm
  lang/perl/lib/Avro/DataFileWriter.pm
  lang/perl/t/04_datafile.t
  share/docker/Dockerfile
Labels: Perl, build
