Repository apache/avro, pull requests merged in 2019-12, with the labels that each got.

#655 AVRO-2548: Handle logicalTypes with stringType
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/integration-test/codegen-test/pom.xml
  lang/java/integration-test/codegen-test/src/test/java/org/apache/avro/codegentest/TestLogicalTypeForStringType.java
  lang/java/integration-test/codegen-test/src/test/resources/avro/string_logical_type.avsc
Labels: Java, build

#716 AVRO-2595: Remove Unusable Py3 Txipc
  lang/py3/avro/tests/txsample_http_client.py
  lang/py3/avro/tests/txsample_http_server.py
  lang/py3/avro/txipc.py
Labels: Python3

#734 AVRO-2646: Update Jetty to version 9.4.24.v20191120
  lang/java/pom.xml
Labels: Java, build

#736 AVRO-2630: Use apt-get to install perl modules.
  share/docker/Dockerfile
Labels: build

#709 AVRO-2594: Use JAVA env when building local docker.
  .travis/script.sh
  build.sh
  share/docker/Dockerfile
  share/docker/DockerfileLocal
  share/precommit/buildtest.sh
Labels: build

#721 AVRO-2625:System.out.print should not be used a log record
  lang/java/mapred/src/main/java/org/apache/avro/mapred/AvroMultipleInputs.java
  lang/java/mapred/src/main/java/org/apache/avro/mapred/DelegatingInputFormat.java
  lang/java/mapred/src/main/java/org/apache/avro/mapred/tether/TetheredProcess.java
Labels: Java

#747 AVRO-2634: Fix critical CVE in Javascript component
  lang/js/package-lock.json
  lang/js/package.json
Labels: JS

#740 Allow avro C to be built on musl based systems.
  lang/c/src/avro_generic_internal.h
Labels: C

#731 AVRO-2644: Non-Deterministic avsc Directory Compilation
  lang/java/tools/src/main/java/org/apache/avro/tool/SpecificCompilerTool.java
Labels: Java

#651 AVRO-2563: Add data interop test for the JavaScript bindings
  build.sh
  lang/js/build.sh
  lang/js/lib/files.js
  lang/js/package.json
  lang/js/test/interop_data_generate.js
  lang/js/test/interop_data_test.js
Labels: JS, build

#742 AVRO-2652: Use Tox to Enable Multi Python Testing
  lang/py/.gitignore
  lang/py/MANIFEST.in
  lang/py/avro/test/test_script.py
  lang/py/avro/test/test_tether_task_runner.py
  lang/py/build.sh
  lang/py/scripts/avro
  lang/py/setup.cfg
  lang/py/setup.py
  lang/py/tox.ini
  share/docker/Dockerfile
Labels: Python, build

#705 AVRO-2623: Enable all available linters when running tests for the whole codebase
  build.sh
  lang/js/build.sh
  lang/js/test/interop_data_test.js
  lang/perl/xt/schema.t
  lang/ruby/lib/avro/schema.rb
Labels: JS, Perl, Ruby, build

#748 AVRO-2661: Fixup Test RPC Interop
  share/test/interop/bin/test_rpc_interop.sh
Labels: build

#751 AVRO-2662: Report Coverage in Python Tests
  lang/py/tox.ini
  share/docker/Dockerfile
Labels: Python, build

#743 AVRO-2654: Use JDK Arrays.copyOf
  lang/java/avro/src/main/java/org/apache/avro/data/RecordBuilderBase.java
  lang/java/avro/src/main/java/org/apache/avro/util/Utf8.java
Labels: Java

#753 AVRO-2664: Pin Ruby rdoc to <=6.2.0
  lang/ruby/Gemfile
Labels: Ruby
