Repository apache/avro, pull requests merged in 2019-11, with the labels that each got.

#693 AVRO-2603: Check Exit Status of Tether Tool Command
  lang/py/test/test_tether_word_count.py
Labels: Python

#696 AVRO-2603: Simplify and Clean Up Assertions
  lang/py/test/test_tether_word_count.py
Labels: Python

#697 AVRO-2614: Remove Trailing Spaces in Pretty Print
  lang/py/scripts/avro
  lang/py/test/test_script.py
Labels: Python

#680 AVRO-2600: Swap to new properties in Velocity Engine
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
Labels: Java

#686 AVRO-2561: Bump hadoop dependency to 2.7.7.
  lang/java/pom.xml
Labels: Java, build

#699 AVRO-2606: Fix C# multidimensional array errors
  lang/csharp/src/apache/main/Specific/ObjectCreator.cs
  lang/csharp/src/apache/test/Specific/EmbeddedGenericRecordUser.cs
  lang/csharp/src/apache/test/Specific/EmbeddedGenericsRecord.cs
  lang/csharp/src/apache/test/Specific/ObjectCreatorTests.cs
  lang/csharp/src/apache/test/Specific/SpecificTests.cs
Labels: C#

#687 AVRO-2429: Ignore unknown logical types in python2.
  lang/py/src/avro/schema.py
  lang/py/test/test_io.py
  lang/py/test/test_schema.py
Labels: Python

#698 AVRO-2603: Setup and Teardown
  lang/py/test/test_tether_word_count.py
Labels: Python

#658 AVRO-2570 - Code line doesn't match the code in Avro C++ Document
  lang/c++/MainPage.dox
Labels: C++

#704 AVRO-2620: Calculate max precision for fixed decimal logical type.
  lang/c++/impl/Node.cc
  lang/c++/test/SchemaTests.cc
  lang/java/avro/src/main/java/org/apache/avro/LogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/TestLogicalType.java
  lang/js/doc/Advanced-usage.md
Labels: C++, JS, Java

#713 AVRO-2631: Install the Right Snappy
  lang/py3/setup.cfg
Labels: Python3

#715 AVRO-2615: Fail the Linter when Pycodestyle Fails
  lang/py3/avro/tests/test_datafile.py
  lang/py3/setup.py
Labels: Python3

#701 AVRO-2617: Use consistent line endings in C# CodeGen
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
Labels: C#

#719 AVRO-2632: Fix Jackson upgrade errors
  lang/java/avro/src/main/java/org/apache/avro/SchemaBuilder.java
Labels: Java

#702 AVRO-2618: DataFileReader supports non-seekable Streams
  lang/csharp/src/apache/main/File/DataFileReader.cs
  lang/csharp/src/apache/main/File/DataFileWriter.cs
  lang/csharp/src/apache/test/File/FileTests.cs
Labels: C#

#708 AVRO-2611: Use warnings for invalid logical types.
  lang/py/src/avro/schema.py
  lang/py/test/test_schema.py
Labels: Python

#723 AVRO-2635: Use Tools via python -m
  lang/py/src/avro/tool.py
  share/test/interop/bin/test_rpc_interop.sh
Labels: Python, build

#718 AVRO-621: Stricter Name Validation
  lang/py/src/avro/schema.py
  lang/py/test/test_schema.py
Labels: Python

#711 AVRO-2629: Use Java Collections and Arrays Utilities
  lang/java/avro/src/main/java/org/apache/avro/Protocol.java
  lang/java/avro/src/main/java/org/apache/avro/SchemaBuilder.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/mapred/src/main/java/org/apache/avro/mapred/Pair.java
  lang/java/mapred/src/main/java/org/apache/avro/mapred/tether/TetherJob.java
Labels: Java

#706 AVRO-2603: Provide PYTHONPATH in Environment
  lang/py/test/test_tether_word_count.py
Labels: Python

#722 AVRO-2634 - Fix critical CVE in Javascript component
  lang/js/package-lock.json
  lang/js/package.json
Labels: JS

#720 AVRO-1880: Futurize Py2 via BytesIO
  lang/py/src/avro/datafile.py
  lang/py/src/avro/ipc.py
  lang/py/src/avro/tether/tether_task.py
  lang/py/src/avro/txipc.py
  lang/py/test/test_io.py
  lang/py/test/test_script.py
  lang/py/test/test_tether_task.py
  lang/py/test/test_tether_task_runner.py
Labels: Python, build

#717 AVRO-748: Protocol Error Schema Implicit String
  lang/py/src/avro/protocol.py
  lang/py/test/test_protocol.py
  lang/py/test/test_schema.py
Labels: Python
