Repository apache/avro, pull requests merged in 2019-06, with the labels that each got.

#513 AVRO-2388 Drop Python 3.4 Support
  lang/py3/setup.cfg
Labels: Python3

#536 AVRO-2104: Schema normalization and fingerprinting for Python 3
  lang/py3/avro/schema.py
  lang/py3/avro/schemanormalization.py
  lang/py3/avro/tests/test_normalization.py
Labels: Python3

#531 AVRO-2409: Add Github template
  .github/PULL_REQUEST_TEMPLATE.md
  pom.xml
Labels: build

#533 AVRO-2392: enable joda micros logical types supports
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/compiler/src/test/resources/logical_types_with_multiple_fields.avsc
Labels: Java

#534 Bumped version to 1.9.1-SNAPSHOT
  lang/java/archetypes/avro-service-archetype/pom.xml
  lang/java/archetypes/pom.xml
  lang/java/avro/pom.xml
  lang/java/compiler/pom.xml
  lang/java/grpc/pom.xml
  lang/java/integration-test/codegen-test/pom.xml
  lang/java/integration-test/pom.xml
  lang/java/integration-test/test-custom-conversions/pom.xml
  lang/java/ipc-jetty/pom.xml
  lang/java/ipc-netty/pom.xml
  lang/java/ipc/pom.xml
  lang/java/mapred/pom.xml
  lang/java/maven-plugin/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom-joda.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom-jsr310.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom-joda.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom-jsr310.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-joda.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-jsr310.xml
  lang/java/perf/pom.xml
  lang/java/pom.xml
  lang/java/protobuf/pom.xml
  lang/java/thrift/pom.xml
  lang/java/tools/pom.xml
  lang/java/trevni/avro/pom.xml
  lang/java/trevni/core/pom.xml
  lang/java/trevni/doc/pom.xml
  lang/java/trevni/pom.xml
  lang/js/package.json
  pom.xml
  share/VERSION.txt
Labels: JS, Java, build

#538 AVRO-2396: Cache types in ObjectCreator
  lang/csharp/src/apache/main/Specific/ObjectCreator.cs
  lang/csharp/src/apache/test/File/FileTests.cs
  lang/csharp/src/apache/test/Specific/ObjectCreatorTests.cs
Labels: C#, Java, build

#524 AVRO-1762: Velocity custom objects
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/compiler/src/test/resources/templates_with_custom_tools/record.vm
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/AbstractAvroMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/IDLProtocolMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/ProtocolMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/SchemaMojo.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestIDLProtocolMojo.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestProtocolMojo.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestSchemaMojo.java
  lang/java/maven-plugin/src/test/resources/templates/enum.vm
  lang/java/maven-plugin/src/test/resources/templates/protocol.vm
  lang/java/maven-plugin/src/test/resources/templates/record.vm
  lang/java/maven-plugin/src/test/resources/unit/idl/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-injecting-velocity-tools.xml
Labels: Java

#540 AVRO-2417: Update Jetty to version 9.4.18.v20190429
  lang/java/pom.xml
Labels: Java, build

#541 AVRO-2417: Upgrade Jetty from 9.4.15.v20190215 to 9.4.18.v20190429
  lang/java/pom.xml
Labels: Java, build

#526 AVRO-2400: Make schema resolution behave the same as previous versions
  doc/src/content/xdocs/spec.xml
  lang/java/avro/src/main/java/org/apache/avro/Resolver.java
  lang/java/avro/src/main/java/org/apache/avro/SchemaCompatibility.java
  lang/java/avro/src/main/java/org/apache/avro/io/parsing/ResolvingGrammarGenerator.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibility.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibilityMultiple.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibilityNameMismatch.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaValidation.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemas.java
Labels: Java, website

#537 AVRO-2415 - Union resolver regression when dealing with arrays
  lang/java/avro/src/main/java/org/apache/avro/io/parsing/ResolvingGrammarGenerator.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaValidation.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemas.java
Labels: Java

#544 AVRO-2421 Allow multiple @AvroAliases annotations on classes and fields
  lang/java/avro/src/main/java/org/apache/avro/reflect/AvroAlias.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/AvroAliases.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflect.java
Labels: Java

#548 AVRO-2428: Update Hadoop version in the MR document
  doc/examples/mr-example/pom.xml
  doc/src/content/xdocs/mr.xml
Labels: build, website

#549 AVRO-2430: Bump zstd 1.3.8-6 to 1.4.0-1
  lang/java/pom.xml
Labels: Java, build

#551 AVRO-2436: Add snappy packages for python2/3 to Dockerfile
  share/docker/Dockerfile
Labels: build

#559 AVRO-2444: Fix gen_interop_data.py to work with interop.avsc
  lang/py3/avro/tests/gen_interop_data.py
Labels: Python3

#516 AVRO-2413: Refactor io.Validate to use a mapping
  lang/py/src/avro/io.py
  lang/py3/avro/io.py
Labels: Python, Python3

#562 Avro 2440 branch 1.9
  lang/java/avro/src/main/java/org/apache/avro/message/BinaryMessageDecoder.java
  lang/java/avro/src/test/java/org/apache/avro/message/TestBinaryMessageEncoding.java
Labels: Java

#542 AVRO-2298: add avro generated annotation to builder class
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/FieldTest.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/Player.java
  lang/java/tools/src/test/compiler/output/Player.java
Labels: Java

#547 AVRO-2425: CMake error message for C bindings is misleading
  lang/c/docs/CMakeLists.txt
Labels: C

#554 AVRO-2439: Remove a DeprecationWarning from Py3 test
  lang/py3/avro/tests/test_schema.py
Labels: Python3

#563 AVRO-2448: Make test for leaking FileDescriptors more resilient
  lang/java/avro/src/test/java/org/apache/avro/TestDataFileReader.java
Labels: Java

#560 AVRO-2442: Set LANG variable for C# tests
  lang/csharp/build.sh
Labels: C#, build

#566 AVRO-2445: Remove SimpleJSON
  lang/py/lib/simplejson/LICENSE.txt
  lang/py/lib/simplejson/__init__.py
  lang/py/lib/simplejson/_speedups.c
  lang/py/lib/simplejson/decoder.py
  lang/py/lib/simplejson/encoder.py
  lang/py/lib/simplejson/scanner.py
  lang/py/lib/simplejson/tool.py
  lang/py/scripts/avro
  lang/py/setup.py
  lang/py/src/avro/io.py
  lang/py/src/avro/protocol.py
  lang/py/src/avro/schema.py
  lang/py/test/test_script.py
Labels: Python

#568 AVRO-2445: Stop Avoiding Context Manager Tests
  lang/py/test/test_datafile.py
Labels: Python

#571 AVRO-2442: Set LANG variable for C# tests - branch 1.9
  lang/csharp/build.sh
Labels: C#, build

#556 AVRO-2426: Add zstd support to Python2 bindings
  lang/py/src/avro/datafile.py
  lang/py/test/test_datafile.py
Labels: Python

#553 AVRO-2422: Build NuGet packages on Linux
  BUILD.md
  lang/csharp/Avro.sln
  lang/csharp/README.md
  lang/csharp/build.ps1
  lang/csharp/build.sh
  lang/csharp/src/apache/codegen/Avro.codegen.csproj
  lang/csharp/src/apache/main/Avro.main.csproj
  lang/csharp/src/apache/msbuild/Avro.msbuild.csproj
  lang/csharp/src/apache/perf/Avro.perf.csproj
  lang/csharp/src/apache/test/Avro.test.csproj
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
  lang/csharp/src/apache/test/Specific/SpecificTests.cs
Labels: C#, build
