Repository apache/avro, pull requests merged in 2019-09, with the labels that each got.

#632 AVRO-2541: Bump velocity-engine-core from 2.0 to 2.1
  lang/java/pom.xml
Labels: Java, build

#634 AVRO-2542: Bump various Maven plugins
  lang/java/checkstyle.xml
  lang/java/pom.xml
  pom.xml
Labels: Java, build

#635 AVRO-2543: Bump grpc.version from 1.19.0 to 1.23.0
  lang/java/grpc/src/main/java/org/apache/avro/grpc/AvroRequestMarshaller.java
  lang/java/grpc/src/main/java/org/apache/avro/grpc/AvroResponseMarshaller.java
  lang/java/pom.xml
Labels: Java, build

#633 AVRO-2540: Bump commons-lang3 from 3.8.1 to 3.9.0
  lang/java/pom.xml
Labels: Java, build

#638 AVRO-2546: Add bzip2 and xz support to the Python3 bindings
  lang/java/avro/pom.xml
  lang/java/ipc/pom.xml
  lang/java/pom.xml
  lang/py/test/test_datafile_interop.py
  lang/py3/avro/datafile.py
  lang/py3/avro/tests/gen_interop_data.py
  lang/py3/avro/tests/test_datafile.py
  lang/py3/avro/tests/test_datafile_interop.py
Labels: Java, Python, Python3, build

#631 AVRO-2335: Remove Joda Time library
  lang/java/avro/pom.xml
  lang/java/avro/src/main/java/org/apache/avro/data/JodaTimeConversions.java
  lang/java/avro/src/test/java/org/apache/avro/data/TestJodaTimeConversions.java
  lang/java/avro/src/test/java/org/apache/avro/data/TestTimeConversions.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestRecordWithJsr310LogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestRecordWithLogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestSpecificLogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestSpecificToFromByteArray.java
  lang/java/avro/src/test/resources/TestRecordWithLogicalTypes.avsc
  lang/java/compiler/pom.xml
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/ProtocolTask.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SchemaTask.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/AbstractAvroMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/IDLProtocolMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/ProtocolMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/SchemaMojo.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/AbstractAvroMojoTest.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestIDLProtocolMojo.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestInduceMojo.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestProtocolMojo.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestSchemaMojo.java
  lang/java/maven-plugin/src/test/resources/unit/idl/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom-joda.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom-joda.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-jsr310.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom.xml
  lang/java/pom.xml
  lang/java/tools/src/main/java/org/apache/avro/tool/SpecificCompilerTool.java
  pom.xml
Labels: Java, build

#653 AVRO-2564:The link address in javadoc-plugin has expired
  lang/java/pom.xml
Labels: Java, build

#654 AVRO-2566: Declared generic but did not initialize generic type
  lang/java/compiler/src/main/java/org/apache/avro/compiler/idl/SchemaResolver.java
Labels: Java

#652 AVRO-2499: C# reflect does not cache classes referenced in a union
  lang/csharp/src/apache/main/Reflect/ClassCache.cs
  lang/csharp/src/apache/main/Reflect/README.md
  lang/csharp/src/apache/test/Reflect/TestFromAvroProject.cs
  lang/csharp/src/apache/test/Reflect/TestReflect.cs
  lang/csharp/src/apache/test/Reflect/TestUnion.cs
Labels: C#

#649 AVRO-2560: Skip unnecessary mvn execution for speeding up tests
  build.sh
Labels: build

#646 AVRO-2557: user.avsc file address error
  doc/examples/java-example/src/main/java/example/GenericMain.java
Labels: website

#648 AVRO-2559: schema.indexOf(/)is not compatible on windows
  lang/js/lib/files.js
Labels: JS
