Repository apache/avro, pull requests merged in 2019-01, with the labels that each got.

#307 AVRO-2112: Target .NET Standard/Core in C#
  lang/csharp/.gitignore
  lang/csharp/Avro.nunit
  lang/csharp/Avro.sln
  lang/csharp/README
  lang/csharp/README.md
  lang/csharp/build.ps1
  lang/csharp/build.sh
  lang/csharp/lib/main/Castle.Core.dll
  lang/csharp/lib/main/Newtonsoft.Json.dll
  lang/csharp/lib/main/log4net.dll
  lang/csharp/lib/test/nunit.framework.dll
  lang/csharp/src/apache/codegen/Avro.codegen.csproj
  lang/csharp/src/apache/ipc.test/Avro.ipc.test.csproj
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/All.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/AllCallback.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/AllEnum.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/AllTestRecord.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/AllTestRecordPartial.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/FixedTest.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/Kind.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/MD5.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/Mail.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/MailCallback.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/Message.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/Simple.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/SimpleCallback.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/TestError.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/TestRecord.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/TestRecordExtensions.cs
  lang/csharp/src/apache/ipc.test/GeneratedFiles/org/apache/avro/test/TestRecordWithUnion.cs
  lang/csharp/src/apache/ipc.test/HttpClientServerTest.cs
  lang/csharp/src/apache/ipc.test/LocalTransceiverTest.cs
  lang/csharp/src/apache/ipc.test/MailResponder.cs
  lang/csharp/src/apache/ipc.test/Properties/AssemblyInfo.cs
  lang/csharp/src/apache/ipc.test/SerializationTest.cs
  lang/csharp/src/apache/ipc.test/SocketServerConcurrentExecutionTest.cs
  lang/csharp/src/apache/ipc.test/SocketServerTest.cs
  lang/csharp/src/apache/ipc.test/SocketServerWithCallbacksTest.cs
  lang/csharp/src/apache/ipc.test/SocketTransceiverWhenServerStopsTest.cs
  lang/csharp/src/apache/ipc/Avro.ipc.csproj
  lang/csharp/src/apache/main/Avro.main.csproj
  lang/csharp/src/apache/main/Properties/Settings.Designer.cs
  lang/csharp/src/apache/main/Schema/JsonHelper.cs
  lang/csharp/src/apache/main/Schema/Property.cs
  lang/csharp/src/apache/msbuild/Avro.msbuild.csproj
  lang/csharp/src/apache/perf/Avro.perf.csproj
  lang/csharp/src/apache/test/Avro.test.csproj
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
  lang/csharp/src/apache/test/File/FileTests.cs
  lang/csharp/src/apache/test/Generic/GenericTests.cs
  lang/csharp/src/apache/test/Protocol/ProtocolTest.cs
  lang/csharp/src/apache/test/Schema/AliasTest.cs
  lang/csharp/src/apache/test/Schema/SchemaNormalizationTests.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
  lang/csharp/src/apache/test/Specific/SpecificTests.cs
  lang/csharp/src/apache/test/Utils/CaseFinderTests.cs
  pom.xml
  share/docker/Dockerfile
Labels: C#

#411 AVRO-2291 - Make elements of an array reusable again
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericArray.java
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericDatumReader.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericData.java
Labels: Java

#431 AVRO-2303 Build and test against .NET SDK instead of Mono
  lang/csharp/README.md
  lang/csharp/build.sh
  share/docker/Dockerfile
Labels: C#

#433 AVRO-2303: C#: Update docker image to use .net sdk 2.2
  share/docker/Dockerfile
Labels: C#, build

#435 Update surefire to version 3.0.0-M1 and enable parallel tests for some modules
  lang/java/avro/pom.xml
  lang/java/compiler/pom.xml
  lang/java/ipc/pom.xml
  lang/java/mapred/pom.xml
  lang/java/pom.xml
  lang/java/tools/pom.xml
  lang/java/trevni/pom.xml
Labels: Java

#438 AVRO-2309: Conversions.java - Use JDK Array Manipulations
  lang/java/avro/src/main/java/org/apache/avro/Conversions.java
Labels: Java

#439 AVRO-2310: GenericData Array Add Use JDK Copy Facilities
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
Labels: Java
