Repository apache/avro, pull requests merged in 2020-11, with the labels that each got.

#969 AVRO-2944: Fix read pointer in java reader to avoid hang on partial read input stream
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileReader.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFileReader.java
Labels: Java

#925 AVRO-2875: Add logging to avro-tools
  lang/java/tools/pom.xml
Labels: Java, build

#984 AVRO-2975: Enable PHP linting and fix its errors
  build.sh
  lang/php/build.sh
  lang/php/lib/AvroDebug.php
  lang/php/lib/AvroIO.php
  lang/php/lib/DataFile/AvroDataIO.php
  lang/php/lib/IO/AvroFile.php
  lang/php/lib/Schema/AvroField.php
  lang/php/lib/Schema/AvroName.php
  lang/php/lib/Schema/AvroSchema.php
  pom.xml
Labels: PHP, build

#982 AVRO-9262: Configure dependency updates via dependabot
  .github/dependabot.yml
Labels: build

#1006 AVRO-2980: Use PackageIcon in C# dist
  lang/csharp/common.props
Labels: C#

#1014 AVRO-2984: Optimize memory allocation during Ruby serialization
  lang/ruby/lib/avro/io.rb
  lang/ruby/lib/avro/schema_validator.rb
Labels: Ruby

#1028 AVRO-2994: Update maven tool in docker build
  share/docker/Dockerfile
Labels: build
