Repository apache/avro, pull requests merged in 2020-09, with the labels that each got.

#951 AVRO-2925: add support for UUID in compiler
  lang/java/compiler/src/main/javacc/org/apache/avro/compiler/idl/idl.jj
  lang/java/compiler/src/test/idl/input/uuid.avdl
  lang/java/compiler/src/test/idl/output/uuid.avpr
Labels: Java

#937 AVRO-2907: Fix Ruby single object encoding fingerprint and header
  lang/ruby/lib/avro/schema.rb
  lang/ruby/test/test_fingerprints.rb
Labels: Ruby

#912 AVRO-2096: PHP - Missing function skip_array in AvroIOBinaryDecoder causes php critical error
  lang/php/lib/Datum/AvroIOBinaryDecoder.php
  lang/php/lib/Datum/AvroIODatumReader.php
Labels: PHP

#954 AVRO-2891: Expose last sync offset written on DataFileWriter
  lang/c++/api/DataFile.hh
  lang/c++/impl/DataFile.cc
  lang/c++/test/DataFileTests.cc
Labels: C++

#955 AVRO-2905: Fix Utf8 hash cache
  lang/java/avro/src/main/java/org/apache/avro/util/Utf8.java
  lang/java/avro/src/test/java/org/apache/avro/util/TestUtf8.java
Labels: Java
