Repository apache/avro, pull requests merged in 2020-02, with the labels that each got.

#391 AVRO-2247 - improved java reading performance with new reader
  lang/java/avro/pom.xml
  lang/java/avro/src/main/java/org/apache/avro/Resolver.java
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericDatumReader.java
  lang/java/avro/src/main/java/org/apache/avro/io/FastReaderBuilder.java
  lang/java/avro/src/main/java/org/apache/avro/io/ReflectionUtils.java
  lang/java/avro/src/main/java/org/apache/avro/io/parsing/ResolvingGrammarGenerator.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/avro/src/main/java/org/apache/avro/util/Utf8.java
Labels: Java, build

#728 AVRO-2641: Fix for SpecificRecord String deserialization
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/FieldTest.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/Player.java
Labels: Java

#797 AVRO-2725: Use one ReflectionUtil for utilities.
  lang/java/avro/src/main/java/org/apache/avro/io/FastReaderBuilder.java
  lang/java/avro/src/main/java/org/apache/avro/io/ReflectionUtils.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectionUtil.java
Labels: Java

#775 AVRO-2695: avrogen: Non-zero exit code if failure and write error messages to stderr
  lang/csharp/src/apache/codegen/AvroGen.cs
Labels: C#

#492 AVRO-2359: Support Logical Types in C#
  .gitignore
  lang/csharp/.gitignore
  lang/csharp/src/apache/main/AvroDecimal.cs
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/main/Generic/GenericDatumWriter.cs
  lang/csharp/src/apache/main/Generic/GenericReader.cs
  lang/csharp/src/apache/main/Generic/GenericWriter.cs
  lang/csharp/src/apache/main/Generic/PreresolvingDatumReader.cs
  lang/csharp/src/apache/main/Generic/PreresolvingDatumWriter.cs
  lang/csharp/src/apache/main/Schema/LogicalSchema.cs
  lang/csharp/src/apache/main/Schema/Property.cs
  lang/csharp/src/apache/main/Schema/Schema.cs
  lang/csharp/src/apache/main/Specific/SpecificDatumWriter.cs
  lang/csharp/src/apache/main/Specific/SpecificWriter.cs
  lang/csharp/src/apache/main/Util/Date.cs
  lang/csharp/src/apache/main/Util/Decimal.cs
  lang/csharp/src/apache/main/Util/LogicalType.cs
  lang/csharp/src/apache/main/Util/LogicalTypeFactory.cs
  lang/csharp/src/apache/main/Util/LogicalUnixEpochType.cs
  lang/csharp/src/apache/main/Util/TimeMicrosecond.cs
  lang/csharp/src/apache/main/Util/TimeMillisecond.cs
  lang/csharp/src/apache/main/Util/TimestampMicrosecond.cs
  lang/csharp/src/apache/main/Util/TimestampMillisecond.cs
  lang/csharp/src/apache/test/Generic/GenericTests.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
  lang/csharp/src/apache/test/Util/LogicalTypeTests.cs
Labels: C#, C++, build, website

#784 AVRO-2705: Terminate Early if Null Symbol in ParsingDecoder skipTopSy…
  lang/java/avro/src/main/java/org/apache/avro/io/ParsingDecoder.java
Labels: Java

#788 AVRO-2710: Upgrade Avro Maven Plugin to 3.X
  lang/java/maven-plugin/pom.xml
  lang/java/pom.xml
  pom.xml
Labels: Java, build

#730 AVRO-2031 GenericData.writeEscapedString should be static
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
Labels: Java

#724 AVRO-1646: Print/parse consistency for nested null namespace
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/ipc/src/test/java/org/apache/avro/TestSchema.java
Labels: Java

#800 AVRO-2727: Update hadoop3 to version 3.2.1
  lang/java/pom.xml
Labels: Java, build

#801 AVRO-2663: Record inside of Union is not resolved properly (#752)
  doc/src/content/mddocs/refactoring-resolution.md
  lang/java/avro/src/main/java/org/apache/avro/Resolver.java
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericDatumReader.java
Labels: Java, website

#803 AVRO-2729: Upgrade Velocity to version 2.2
  lang/java/pom.xml
Labels: Java, build

#798 AVRO-2693: Upgrade to netcoreapp3.1
  .travis/before_install.sh
  lang/csharp/build.sh
  lang/csharp/src/apache/codegen/Avro.codegen.csproj
  lang/csharp/src/apache/perf/Avro.perf.csproj
  lang/csharp/src/apache/test/Avro.test.csproj
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
  lang/csharp/src/apache/test/Specific/SpecificTests.cs
  share/docker/Dockerfile
Labels: C#, build

#809 AVRO-2732: Fix openjdk changes by using stretch base image
  share/docker/Dockerfile
Labels: build

#808 AVRO-2716 Removed unused variable in Resolver
  lang/java/avro/src/main/java/org/apache/avro/Resolver.java
Labels: Java

#812 AVRO-2741: Fix Protocol.fullname Crash
  lang/py/avro/protocol.py
  lang/py/avro/test/test_protocol.py
Labels: Python

#811 AVRO-2740: Remove Duplicate LogicalType
  lang/py/avro/schema.py
Labels: Python

#815 AVRO-2744: Update commons-compress to version 1.20
  lang/java/pom.xml
Labels: Java, build

#810 AVRO-2737: Fix pycodestyle regression.
  lang/py3/setup.py
Labels: Python3

#816 AVRO-2743: Update zstd-jni to version 1.4.4-7
  lang/java/pom.xml
Labels: Java, build

#789 AVRO-2711: Use SLF4J Parameterized Logging for Debug Statements
  lang/java/ipc-netty/src/main/java/org/apache/avro/ipc/netty/NettyTransceiver.java
  lang/java/mapred/src/main/java/org/apache/avro/hadoop/file/SortedKeyValueFile.java
  lang/java/mapred/src/main/java/org/apache/avro/hadoop/io/AvroSequenceFile.java
Labels: Java

#771 AVRO-2691: Do Not Cache Empty Array in RecordBuilderBase
  lang/java/avro/src/main/java/org/apache/avro/data/RecordBuilderBase.java
Labels: Java

#813 AVRO-2741: Fix Protocol.fullname Crash
  lang/py/src/avro/protocol.py
  lang/py/test/test_protocol.py
Labels: Python

#818 AVRO-2747: Remove setup_requires
  lang/py/build.sh
  lang/py/setup.cfg
  lang/py/setup.py
  lang/py/tox.ini
Labels: Python, build

#772 AVRO-2692: Do Not Access Map Twice in LogicalTypes
  lang/java/avro/src/main/java/org/apache/avro/LogicalTypes.java
Labels: Java

#821 AVRO-2732: Add missing packages to avoid warnings in the docker image
  share/docker/Dockerfile
Labels: build

#787 AVRO-2709: Remove Superfluous Dependencies from Avro-Tools Shaded JAR
  lang/java/tools/pom.xml
Labels: Java, build

#825 AVRO-2756: Ruby should test all schema fingerprints defined in share/test/data/schema-tests.txt
  lang/ruby/test/case_finder.rb
  lang/ruby/test/test_schema_normalization.rb
Labels: Ruby

#826 AVRO-2755: Add I/O tests for the TimestampMillis logical type to Ruby
  lang/ruby/test/random_data.rb
  lang/ruby/test/test_io.rb
Labels: Ruby

#830 AVRO-2174: Python EnumSchema Symbol Validation
  lang/py/.gitignore
  lang/py/avro/schema.py
  lang/py/avro/test/test_schema.py
Labels: Python

#822 AVRO-2754: Add support for UUID logical types in C#
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/main/Util/LogicalTypeFactory.cs
  lang/csharp/src/apache/main/Util/Uuid.cs
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
  lang/csharp/src/apache/test/Util/LogicalTypeTests.cs
Labels: C#

#831 AVRO-2761: Prevent NPE when creating SpecificDatumReader/Writer
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
Labels: Java

#827 AVRO-2758: Bump istanbul to 0.4.5
  lang/js/package-lock.json
  lang/js/package.json
Labels: JS

#833 AVRO-2758: Bump istanbul to 0.4.5
  lang/js/package.json
Labels: JS
