Repository apache/avro, pull requests merged in 2020-07, with the labels that each got.

#923 AVRO-1461: Distribute Perl API on CPAN
  lang/perl/Makefile.PL
Labels: Perl

#914 AVRO-2757: Avoid dollar signs when reflecting Java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflect.java
Labels: Java

#928 AVRO-2382: Fix VERSION constant for Ruby gem
  lang/ruby/.gitignore
  lang/ruby/Manifest
  lang/ruby/Rakefile
  lang/ruby/lib/avro.rb
Labels: Ruby

#932 AVRO-2889: Fix Flaky Test Race Condition
  lang/py/avro/test/test_tether_task_runner.py
  lang/py/avro/tether/tether_task_runner.py
Labels: Python

#844 [AVRO-2571] avro-maven-plugin not escaping "public" keyword in namespace
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/enum.vm
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/fixed.vm
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/protocol.vm
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/compiler/src/test/resources/simple_record_for_scape.avsc
Labels: Java
