Repository apache/avro, pull requests merged in 2020-01, with the labels that each got.

#732 AVRO-2645: Validate names in schemas in Ruby client
  lang/ruby/lib/avro.rb
  lang/ruby/lib/avro/schema.rb
  lang/ruby/test/test_schema.rb
  lang/ruby/test/test_schema_validator.rb
Labels: Ruby

#744 AVRO-2656: Python3 Support for lang/py
  lang/py/avro/datafile.py
  lang/py/avro/io.py
  lang/py/avro/ipc.py
  lang/py/avro/protocol.py
  lang/py/avro/schema.py
  lang/py/avro/test/gen_interop_data.py
  lang/py/avro/test/mock_tether_parent.py
  lang/py/avro/test/test_datafile.py
  lang/py/avro/test/test_datafile_interop.py
  lang/py/avro/test/test_io.py
  lang/py/avro/test/test_protocol.py
  lang/py/avro/test/test_schema.py
  lang/py/avro/test/test_script.py
  lang/py/avro/test/test_tether_task.py
  lang/py/avro/test/test_tether_task_runner.py
  lang/py/avro/test/test_tether_word_count.py
  lang/py/avro/tether/tether_task.py
  lang/py/avro/tether/tether_task_runner.py
  lang/py/scripts/avro
  lang/py/setup.cfg
  lang/py/tox.ini
Labels: Python, build

#763 AVRO-2676: Document that lang/py3 will be deprecated
  doc/src/content/xdocs/gettingstartedpython.xml
  doc/src/content/xdocs/gettingstartedpython3.xml
  doc/src/content/xdocs/site.xml
Labels: website

#761 AVRO-2677: Ruby parse/serialize bytes decimal logical type
  lang/ruby/lib/avro/schema.rb
  lang/ruby/test/test_schema.rb
Labels: Ruby

#760 AVRO-2674: Bump netty-codec-http2 from 4.1.42.Final to 4.1.44.Final
  lang/java/pom.xml
Labels: Java, build

#759 AVRO-2673: Bump protobuf-java from 3.10.0 to 3.11.1
  lang/java/pom.xml
Labels: Java, build

#757 AVRO-2672: Bump spotless-maven-plugin from 1.25.1 to 1.27.0
  pom.xml
Labels: build

#755 AVRO-2669: TestProtocolSpecific use getClientProtocol getter
  lang/java/ipc/src/test/java/org/apache/avro/TestProtocolSpecific.java
Labels: Java

#758 AVRO-2671: Bump grpc.version from 1.24.0 to 1.24.1
  lang/java/pom.xml
Labels: Java, build

#752 AVRO-2663: Record inside of Union is not resolved properly
  doc/src/content/mddocs/refactoring-resolution.md
  lang/java/avro/src/main/java/org/apache/avro/Resolver.java
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericDatumReader.java
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryDecoder.java
  lang/java/avro/src/main/java/org/apache/avro/io/ResolvingDecoder.java
  lang/java/avro/src/main/java/org/apache/avro/io/parsing/Parser.java
  lang/java/avro/src/main/java/org/apache/avro/io/parsing/ResolvingGrammarGenerator.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectDatumReader.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificDatumReader.java
  lang/java/avro/src/main/java/org/apache/avro/util/internal/JacksonUtils.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibility.java
  lang/java/avro/src/test/resources/schema-location-read.json
  lang/java/avro/src/test/resources/schema-location-write.json
  lang/java/avro/src/test/resources/schema-location.json
  lang/java/protobuf/src/main/java/org/apache/avro/protobuf/ProtobufData.java
  lang/java/thrift/src/main/java/org/apache/avro/thrift/ThriftData.java
Labels: Java, website

#765 AVRO-2679: Fix Shellcheck Warnings in build.sh
  build.sh
Labels: build

#750 AVRO-2675: Maintain .gitignore and rat exclusions
  lang/c++/.gitignore
  lang/py/.gitignore
  lang/py/build.sh
  pom.xml
Labels: C++, Python, build

#764 AVRO-2678: Update node.js version (used for js tests) to current LTS (10.x.x)
  share/docker/Dockerfile
Labels: build

#645 AVRO-2556: Add bzip2 codec to the Python2 bindings
  lang/py/avro/__init__.py
  lang/py/avro/codecs.py
  lang/py/avro/datafile.py
  lang/py/avro/io.py
  lang/py/avro/ipc.py
  lang/py/avro/test/gen_interop_data.py
  lang/py/avro/test/test_datafile.py
Labels: Python

#770 AVRO-2686: Bump jetty.version from 9.4.21.v20190926 to 9.4.25.v20191220
  lang/java/pom.xml
Labels: Java, build

#769 AVRO-2684: Bump netty-codec-http2 from 4.1.44.Final to 4.1.45.Final
  lang/java/pom.xml
Labels: Java, build

#768 AVRO-2685: Bump apache from 21 to 22
  pom.xml
Labels: build

#767 AVRO-2680: Bump grpc.version from 1.24.1 to 1.26.0
  lang/java/pom.xml
Labels: Java, build

#786 AVRO-2708: Remove Unused Code
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileReader12.java
  lang/java/avro/src/test/java/org/apache/avro/TestProtocol.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchema.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaValidation.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericData.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/test/java/org/apache/avro/compiler/idl/TestIdl.java
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/grpc/src/main/java/org/apache/avro/grpc/AvroGrpcClient.java
  lang/java/grpc/src/main/java/org/apache/avro/grpc/ServiceDescriptor.java
  lang/java/ipc-netty/src/main/java/org/apache/avro/ipc/netty/NettyServer.java
  lang/java/ipc-netty/src/main/java/org/apache/avro/ipc/netty/NettyTransceiver.java
  lang/java/ipc/src/main/java/org/apache/avro/ipc/SaslSocketTransceiver.java
  lang/java/ipc/src/main/java/org/apache/avro/ipc/stats/StatsServlet.java
  lang/java/ipc/src/test/java/org/apache/avro/ipc/TestSaslAnonymous.java
  lang/java/mapred/src/main/java/org/apache/avro/mapred/AvroMultipleOutputs.java
  lang/java/mapred/src/test/java/org/apache/avro/hadoop/file/TestSortedKeyValueFile.java
  lang/java/protobuf/src/main/java/org/apache/avro/protobuf/ProtobufData.java
  lang/java/tools/src/main/java/org/apache/avro/tool/TetherTool.java
Labels: Java

#785 AVRO-2689: add reader-schema to DataFileReadTool
  lang/java/tools/src/main/java/org/apache/avro/tool/DataFileReadTool.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestDataFileTools.java
Labels: Java

#729 AVRO-2592: Avoid consuming ByteBuffer for decimal.
  lang/java/avro/src/main/java/org/apache/avro/Conversions.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericLogicalTypes.java
Labels: Java
