Repository apache/avro, pull requests merged in 2020-06, with the labels that each got.

#884 AVRO-2837: DecimalConversion handling of scale and precision
  lang/java/avro/src/main/java/org/apache/avro/Conversions.java
  lang/java/avro/src/test/java/org/apache/avro/TestDecimalConversion.java
Labels: Java

#899 AVRO-2850: Configure Hadoop 2 tests execution for backwards compatibility
  lang/java/build.sh
  lang/java/pom.xml
Labels: Java, build

#897 AVRO-2822: Add warning to an experimental method.
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
Labels: Java

#901 AVRO-2811: Fix incorrect repeated grpc version of 1.28.0
  lang/java/pom.xml
Labels: Java, build

#900 AVRO-2852: Update Thrift to version 0.13.0
  lang/java/pom.xml
Labels: Java, build

#904 AVRO-2854: Upgrade hamcrest to version 2.2
  lang/java/pom.xml
Labels: Java, build

#905 Update some maven plugins: antrun (3.0.0) spotless (1.31.1)
  lang/java/pom.xml
  pom.xml
Labels: Java, build

#908 AVRO-2780: ProtobufData and ThriftData Can Get Into Endless Loop
  lang/java/protobuf/src/main/java/org/apache/avro/protobuf/ProtobufData.java
  lang/java/thrift/src/main/java/org/apache/avro/thrift/ThriftData.java
Labels: Java

#909 AVRO-2139: Add Test for Decimal @java-class Annotated Generated Classes
  lang/java/ipc/src/test/java/org/apache/avro/generic/TestBuilderCopy.java
Labels: Java

#913 AVRO-1669: PHP library can't serialise records with optional (union-null) values
  lang/php/lib/Datum/AvroIODatumWriter.php
  lang/php/lib/Schema/AvroSchema.php
  lang/php/test/IODatumReaderTest.php
Labels: PHP

#907 AVRO-2407: Manually fix test pom.xml releases
  lang/java/maven-plugin/src/test/resources/unit/idl/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom.xml
Labels: Java, build

#917 AVRO-2849: Update spec to clarify valid namespaces
  doc/src/content/xdocs/spec.xml
Labels: website

#919 AVRO-2865: Remove maven 2 support
  lang/java/maven-plugin/pom.xml
Labels: Java, build
