Repository apache/avro, pull requests merged in 2020-05, with the labels that each got.

#871 AVRO-2613: Fix Linter Complaints
  .editorconfig
  lang/py/avro/codecs.py
  lang/py/avro/datafile.py
  lang/py/avro/io.py
  lang/py/avro/ipc.py
  lang/py/avro/protocol.py
  lang/py/avro/schema.py
  lang/py/avro/test/av_bench.py
  lang/py/avro/test/gen_interop_data.py
  lang/py/avro/test/mock_tether_parent.py
  lang/py/avro/test/sample_http_client.py
  lang/py/avro/test/sample_http_server.py
  lang/py/avro/test/test_datafile.py
  lang/py/avro/test/test_datafile_interop.py
  lang/py/avro/test/test_init.py
  lang/py/avro/test/test_io.py
  lang/py/avro/test/test_ipc.py
  lang/py/avro/test/test_protocol.py
  lang/py/avro/test/test_schema.py
  lang/py/avro/test/test_script.py
  lang/py/avro/test/test_tether_task.py
  lang/py/avro/test/test_tether_task_runner.py
  lang/py/avro/test/test_tether_word_count.py
  lang/py/avro/test/txsample_http_client.py
  lang/py/avro/test/txsample_http_server.py
  lang/py/avro/test/word_count_task.py
  lang/py/avro/tether/tether_task.py
  lang/py/avro/tether/tether_task_runner.py
  lang/py/avro/tether/util.py
  lang/py/avro/timezones.py
  lang/py/avro/tool.py
  lang/py/avro/txipc.py
  lang/py/scripts/avro
  lang/py/setup.py
  lang/py/tox.ini
Labels: Python

#859 AVRO-2819:Add BigInteger and BigDecimal support for JacksonUtils
  lang/java/avro/src/main/java/org/apache/avro/util/internal/JacksonUtils.java
  lang/java/avro/src/test/java/org/apache/avro/util/internal/TestJacksonUtils.java
Labels: Java

#628 AVRO-2535: Add Ruby support for enum defaults
  lang/ruby/lib/avro/io.rb
  lang/ruby/lib/avro/schema.rb
  lang/ruby/lib/avro/schema_compatibility.rb
  lang/ruby/test/test_io.rb
  lang/ruby/test/test_schema.rb
  lang/ruby/test/test_schema_compatibility.rb
Labels: Ruby

#845 Correct documentation links
  lang/js/doc/Home.md
Labels: JS

#857 AVRO-2802: Pre-Size List in AvroInputFormat Avro File Lookup
  lang/java/mapred/src/main/java/org/apache/avro/mapred/AvroInputFormat.java
Labels: Java

#870 AVRO-2815: Remove the ant stuff
  doc/src/content/xdocs/gettingstartedpython.xml
  lang/c/version.sh
  lang/py/build.xml
  pom.xml
Labels: C, Python, build, website

#847 Avro-2785: Update specs on how unions encoded
  doc/src/content/xdocs/spec.xml
  lang/perl/lib/Avro/BinaryDecoder.pm
  lang/perl/lib/Avro/BinaryEncoder.pm
  lang/py/avro/io.py
  lang/py3/avro/io.py
Labels: Perl, Python, Python3, website

#855 AVRO-2800 validate enum symbol values
  lang/ruby/lib/avro.rb
  lang/ruby/lib/avro/schema.rb
  lang/ruby/test/test_schema.rb
Labels: Ruby

#869 AVRO-2822: Add toString that doesn't inline referenced schemas
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchema.java
Labels: Java

#817 AVRO-2745: Generate optional getters for nullables only
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/AbstractAvroMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/IDLProtocolMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/ProtocolMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/SchemaMojo.java
Labels: Java

#872 [AVRO-2827] Fixes property visibility.
  lang/php/lib/avro/datum.php
Labels: PHP

#876 AVRO-2751: Upgrade Compatibility to PHP 7.4
  lang/php/lib/avro/data_file.php
  lang/php/lib/avro/datum.php
  lang/php/lib/avro/protocol.php
  lang/php/test/DataFileTest.php
  lang/php/test/FloatIntEncodingTest.php
  lang/php/test/InterOpTest.php
  lang/php/test/LongEncodingTest.php
  lang/php/test/ProtocolFileTest.php
  share/docker/Dockerfile
Labels: PHP, build

#881 AVRO-2833: Fix python whitespace for lint
  lang/py/avro/test/test_datafile_interop.py
Labels: Python

#875 AVRO-2828: Add AvroNotImplementedException
  lang/php/lib/avro.php
Labels: PHP

#868 Use std::move when decoding maps and vectors
  lang/c++/api/Specific.hh
Labels: C++

#837 AVRO-2766: Fix compilation error: 'size_t' does not name a type
  lang/c++/api/Zigzag.hh
Labels: C++

#754 AVRO-2668: Build failure without a C++ compiler
  lang/c/CMakeLists.txt
  lang/c/tests/CMakeLists.txt
  lang/c/tests/test_cpp.cpp
Labels: C

#878 AVRO-2752: PHP: Setup as Composer package on Packagist.org
  .gitignore
  composer.json
  lang/php/.gitignore
  lang/php/build.sh
  lang/php/monorepo.json
  lang/php/phpunit.xml
  lang/php/test/AllTests.php
  lang/php/test/test_helper.php
  share/docker/Dockerfile
Labels: PHP, build

#874 AVRO-2808: provide details while encountering non-static inner classes
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflectData.java
Labels: Java

#886 AVRO-2839: PHP Add zstd and snappy codec support.
  lang/php/build.sh
  lang/php/lib/avro/data_file.php
  lang/php/test/DataFileTest.php
  lang/php/test/InterOpTest.php
  share/docker/Dockerfile
Labels: PHP, build

#583 AVRO-2453: Implement interop test for the C bindings
  lang/c/tests/test_interop_data.c
Labels: C

#641 AVRO-2551:Changed datum API to value API in examples\quickstop
  lang/c/examples/quickstop.c
Labels: C

#756 Add support for uuid logical type in C++
  lang/c++/api/LogicalType.hh
  lang/c++/impl/Compiler.cc
  lang/c++/impl/LogicalType.cc
  lang/c++/impl/Node.cc
  lang/c++/test/SchemaTests.cc
Labels: C++, build, website

#793 [avro-c] Fixed building with Snappy enabled in Windows
  lang/c/src/codec.c
Labels: C

#637 AVRO-2427: Add undocumented codecs to the specification
  doc/src/content/xdocs/spec.xml
Labels: website

#619 AVRO-2523: Perf's usage doesn't show the option for specific record test
  lang/java/ipc/src/test/java/org/apache/avro/io/Perf.java
Labels: Java

#640 AVRO-2547: Add bzip2 support to the Perl bindings
  lang/perl/lib/Avro.pm
  lang/perl/lib/Avro/DataFile.pm
  lang/perl/lib/Avro/DataFileReader.pm
  lang/perl/lib/Avro/DataFileWriter.pm
  lang/perl/t/04_datafile.t
Labels: Perl

#644 AVRO-2554: Fix Ruby interop test to read all supported codecs
  lang/ruby/interop/test_interop.rb
Labels: Ruby

#676 [AVRO-2589] Trevni codec and test fixes
  lang/java/trevni/core/src/main/java/org/apache/trevni/BZip2Codec.java
  lang/java/trevni/core/src/main/java/org/apache/trevni/Codec.java
  lang/java/trevni/core/src/main/java/org/apache/trevni/DeflateCodec.java
  lang/java/trevni/core/src/main/java/org/apache/trevni/SnappyCodec.java
  lang/java/trevni/core/src/test/java/org/apache/trevni/TestAllCodecs.java
  lang/java/trevni/core/src/test/java/org/apache/trevni/TestBZip2Codec.java
Labels: Java

#877 AVRO-2829: Add php lint
  lang/php/build.sh
Labels: PHP, build

#832 AVRO-2762:Unkown resource closed
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileReader.java
Labels: Java

#839 Fix Optional Javadoc
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
Labels: Java

#647 AVRO-2558: Updatejava/mr-example pom to load into m2e
  doc/examples/java-example/pom.xml
  doc/examples/mr-example/pom.xml
Labels: build, website

#835 AVRO-2763:Resource leak:'<unassigned Closeable value>' is never closed
  doc/examples/java-example/src/main/java/example/GenericMain.java
  doc/examples/java-example/src/main/java/example/SpecificMain.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFile.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFileCorruption.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFileDeflate.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFileMeta.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaBuilder.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestNonStringMapKeys.java
  lang/java/ipc-netty/src/test/java/org/apache/avro/ipc/netty/TestNettyServer.java
  lang/java/ipc/src/test/java/org/apache/avro/TestProtocolSpecific.java
  lang/java/mapred/src/test/java/org/apache/avro/hadoop/io/TestAvroSequenceFile.java
  lang/java/mapred/src/test/java/org/apache/avro/mapred/TestAvroTextOutputFormat.java
  lang/java/mapred/src/test/java/org/apache/avro/mapred/tether/TestWordCountTether.java
  lang/java/mapred/src/test/java/org/apache/avro/mapreduce/TestAvroKeyValueRecordWriter.java
  lang/java/mapred/src/test/java/org/apache/avro/mapreduce/TestCombineAvroKeyValueFileInputFormat.java
  lang/java/tools/src/main/java/org/apache/avro/tool/DataFileGetMetaTool.java
  lang/java/tools/src/main/java/org/apache/avro/tool/DataFileGetSchemaTool.java
  lang/java/tools/src/main/java/org/apache/avro/tool/RecodecTool.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestDataFileRepairTool.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestRecodecTool.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestSpecificCompilerTool.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestTetherTool.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestTextFileTools.java
  lang/java/trevni/avro/src/test/java/org/apache/trevni/avro/TestEvolvedSchema.java
  lang/java/trevni/core/src/test/java/org/apache/trevni/TestIOBuffers.java
  lang/java/trevni/core/src/test/java/org/apache/trevni/TestInputBytes.java
Labels: Java, website

#795 ensure GenericDatumWriter specifies which field triggered an UnresolvedUnionException
  lang/java/avro/src/main/java/org/apache/avro/UnresolvedUnionException.java
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericDatumWriter.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericDatumWriter.java
Labels: Java

#864 [AVRO-2278] getter semantics confusing.
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericRecord.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificRecordBase.java
  lang/java/avro/src/test/java/org/apache/avro/TestReadingWritingDataInEvolvedSchemas.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaBuilder.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericData.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/FieldTest.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/Player.java
  lang/java/tools/src/test/compiler/output/Player.java
Labels: Java

#792 AVRO-2714: [C#] Optimize reading on .NET Core and Standard 2.1+
  lang/csharp/src/apache/main/Avro.main.csproj
  lang/csharp/src/apache/main/Generic/GenericEnum.cs
  lang/csharp/src/apache/main/IO/BinaryDecoder.cs
  lang/csharp/src/apache/main/IO/BinaryDecoder.netstandard2.0.cs
  lang/csharp/src/apache/main/IO/BinaryDecoder.notnetstandard2.0.cs
  lang/csharp/src/apache/main/Protocol/Message.cs
  lang/csharp/src/apache/main/Protocol/Protocol.cs
  lang/csharp/src/apache/main/Schema/EnumSchema.cs
  lang/csharp/src/apache/main/Schema/Field.cs
  lang/csharp/src/apache/main/Schema/Property.cs
  lang/csharp/src/apache/main/Schema/SchemaName.cs
  lang/csharp/src/apache/main/Specific/ObjectCreator.cs
Labels: C#, build

#823 AVRO-2753: Add leaveOpen optional flag
  lang/csharp/src/apache/main/File/DataFileReader.cs
  lang/csharp/src/apache/main/File/DataFileWriter.cs
  lang/csharp/src/apache/main/GlobalSuppressions.cs
  lang/csharp/src/apache/test/File/FileTests.cs
Labels: C#

#853 AVRO-2784: Add the possibility to append to existing files in C#
  lang/csharp/src/apache/main/File/DataFileWriter.cs
  lang/csharp/src/apache/main/GlobalSuppressions.cs
  lang/csharp/src/apache/test/File/FileTests.cs
Labels: C#

#854 AVRO-2792: Fix C# logical type tests to work in other timezones than UTC
  lang/csharp/src/apache/test/Generic/GenericTests.cs
  lang/csharp/src/apache/test/Util/LogicalTypeTests.cs
Labels: C#

#846 AVRO-2782:Add indexed access to C# GenericRecord
  lang/csharp/src/apache/main/Generic/GenericDatumReader.cs
  lang/csharp/src/apache/main/Generic/GenericDatumWriter.cs
  lang/csharp/src/apache/main/Generic/GenericReader.cs
  lang/csharp/src/apache/main/Generic/GenericRecord.cs
  lang/csharp/src/apache/main/Generic/GenericWriter.cs
  lang/csharp/src/apache/test/Generic/GenericTests.cs
Labels: C#

#879 AVRO-1720: Add tool to count records in avro files
  lang/java/tools/src/main/java/org/apache/avro/tool/Main.java
  lang/java/tools/src/main/java/org/apache/avro/tool/RecordCountTool.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestRecordCountTool.java
Labels: Java

#892 AVRO-2845: Fix broken C interop test
  lang/c/tests/test_interop_data.c
Labels: C

#893 AVRO-2844:Avro-js can't parse default value {}
  lang/js/lib/schemas.js
Labels: JS

#782 AVRO-2703: Use KMP Algorithm For Sync Marker Search
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileReader.java
Labels: Java

#883 AVRO-2836 Generated java includes logical type conversions
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/integration-test/codegen-test/src/test/java/org/apache/avro/codegentest/TestNestedLogicalTypes.java
  lang/java/integration-test/codegen-test/src/test/resources/avro/nested_logical_types_union_fixed.avsc
  lang/java/integration-test/test-custom-conversions/src/main/java/org/apache/avro/codegentest/CustomDecimal.java
  lang/java/integration-test/test-custom-conversions/src/main/java/org/apache/avro/codegentest/CustomDecimalConversion.java
Labels: Java

#848 Always read even if skipped (readNull missing)
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericDatumReader.java
Labels: Java

#834 Add example schema for date logical type field to spec docs
  doc/src/content/xdocs/spec.xml
Labels: website

#790 AVRO-2068: Improved static class constructor performance
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
Labels: Java

#703 AVRO-2438:SpecificData.deepCopy() cannot be used with java-class fields
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/ipc/src/test/java/org/apache/avro/generic/TestDeepCopy.java
Labels: Java

#741 AVRO-2649 Made argument order non-enforceable avro-tools cli
  lang/java/tools/src/main/java/org/apache/avro/tool/SpecificCompilerTool.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestSpecificCompilerTool.java
Labels: Java

#667 [AVRO-2579]: Fix test by sorting fields for deterministic order
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflect.java
Labels: Java

#535 AVRO-2493: Add custom logical types support for avro-maven-plugin.
  lang/java/avro/src/main/java/org/apache/avro/LogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/TestCircularReferences.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflectLogicalTypes.java
  lang/java/integration-test/codegen-test/pom.xml
  lang/java/integration-test/codegen-test/src/test/java/org/apache/avro/codegentest/TestCustomConversion.java
  lang/java/integration-test/codegen-test/src/test/resources/avro/custom_conversion.avsc
  lang/java/integration-test/test-custom-conversions/src/main/java/org/apache/avro/codegentest/FixedSizeString.java
  lang/java/integration-test/test-custom-conversions/src/main/java/org/apache/avro/codegentest/FixedSizeStringConversion.java
  lang/java/integration-test/test-custom-conversions/src/main/java/org/apache/avro/codegentest/FixedSizeStringFactory.java
  lang/java/integration-test/test-custom-conversions/src/main/java/org/apache/avro/codegentest/FixedSizeStringLogicalType.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/AbstractAvroMojo.java
Labels: Java, build

#685 AVRO-2514:Making Avro serialization error message more actionable with...
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericDatumWriter.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectDatumWriter.java
Labels: Java

#895 Fix spotless format
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
Labels: Java

#894 AVRO-2733: No longer explicitly require rubygems
  share/test/interop/bin/test_rpc_interop.sh
Labels: build

#898 AVRO-2596: Upgrade ant to version 1.10.8
  lang/java/pom.xml
Labels: Java, build

#636 AVRO-2545: Add Ruby support for aliases
  lang/ruby/lib/avro/io.rb
  lang/ruby/lib/avro/schema.rb
  lang/ruby/lib/avro/schema_compatibility.rb
  lang/ruby/test/test_io.rb
  lang/ruby/test/test_schema.rb
  lang/ruby/test/test_schema_compatibility.rb
Labels: Ruby
