Repository apache/avro, pull requests merged in 2020-08, with the labels that each got.

#942 AVRO-2908: Skip enum using in.readEnum instead of in.readInt
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericDatumReader.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestSkipEnumSchema.java
Labels: Java

#933 AVRO-2893: Isolate Errors to Simplify Import Graph
  lang/py/avro/codecs.py
  lang/py/avro/datafile.py
  lang/py/avro/errors.py
  lang/py/avro/io.py
  lang/py/avro/ipc.py
  lang/py/avro/protocol.py
  lang/py/avro/schema.py
  lang/py/avro/test/mock_tether_parent.py
  lang/py/avro/test/sample_http_client.py
  lang/py/avro/test/test_datafile.py
  lang/py/avro/test/test_io.py
  lang/py/avro/test/test_protocol.py
  lang/py/avro/test/test_schema.py
  lang/py/avro/test/txsample_http_client.py
  lang/py/avro/tether/tether_task.py
  lang/py/avro/tether/tether_task_runner.py
  lang/py/scripts/avro
Labels: Python

#943 AVRO-2914: Remove Python 2 Support
  BUILD.md
  doc/src/content/xdocs/gettingstartedpython.xml
  lang/py/avro/__init__.py
  lang/py/avro/codecs.py
  lang/py/avro/constants.py
  lang/py/avro/datafile.py
  lang/py/avro/errors.py
  lang/py/avro/io.py
  lang/py/avro/ipc.py
  lang/py/avro/protocol.py
  lang/py/avro/schema.py
  lang/py/avro/test/__init__.py
  lang/py/avro/test/av_bench.py
  lang/py/avro/test/gen_interop_data.py
  lang/py/avro/test/mock_tether_parent.py
  lang/py/avro/test/sample_http_client.py
  lang/py/avro/test/sample_http_server.py
  lang/py/avro/test/test_datafile.py
  lang/py/avro/test/test_datafile_interop.py
  lang/py/avro/test/test_init.py
  lang/py/avro/test/test_io.py
  lang/py/avro/test/test_ipc.py
  lang/py/avro/test/test_protocol.py
  lang/py/avro/test/test_schema.py
  lang/py/avro/test/test_script.py
  lang/py/avro/test/test_tether_task.py
  lang/py/avro/test/test_tether_task_runner.py
  lang/py/avro/test/test_tether_word_count.py
  lang/py/avro/test/txsample_http_client.py
  lang/py/avro/test/txsample_http_server.py
  lang/py/avro/test/word_count_task.py
  lang/py/avro/tether/__init__.py
  lang/py/avro/tether/tether_task.py
  lang/py/avro/tether/tether_task_runner.py
  lang/py/avro/tether/util.py
  lang/py/avro/timezones.py
  lang/py/avro/tool.py
  lang/py/avro/txipc.py
  lang/py/build.sh
  lang/py/scripts/avro
  lang/py/setup.cfg
  lang/py/setup.py
  lang/py/tox.ini
  lang/py3/avro/schemanormalization.py
  lang/py3/avro/tests/test_normalization.py
  lang/py3/setup.py
  share/docker/Dockerfile
  share/test/interop/bin/test_rpc_interop.sh
Labels: Python, build, website

#947 AVRO-2676: DeprecationWarning on import avro-python3
  lang/py3/avro/__init__.py
Labels: Python3

#946 AVRO-2919 Fix Resource Leaks and Parallelism
  lang/py/avro/test/test_datafile.py
Labels: Python

#766 AVRO-2399: Use Wheels for Python Distribution
  doc/src/content/xdocs/gettingstartedpython.xml
  lang/py/avro/test/txsample_http_client.py
  lang/py/avro/test/txsample_http_server.py
  lang/py/avro/txipc.py
  lang/py/build.sh
  lang/py/mypy.ini
  lang/py/setup.cfg
  lang/py/setup.py
  lang/py/tox.ini
  share/docker/Dockerfile
Labels: Python, build, website

#945 AVRO-2917: Update and Enhance avro.test.av_bench
  lang/py/avro/test/av_bench.py
  lang/py/avro/test/test_bench.py
  lang/py/tox.ini
Labels: Python

#927 AVRO-2881 fix double default value
  lang/java/protobuf/src/main/java/org/apache/avro/protobuf/ProtobufData.java
Labels: Java

#936 AVRO-2906: Traversal validation
  lang/py/avro/io.py
  lang/py/avro/schema.py
Labels: Python

#906 AVRO-2855: PHP Add alias support and drop endian condition
  docker-compose.yml
  lang/php/lib/Avro.php
  lang/php/lib/AvroUtil.php
  lang/php/lib/Datum/AvroIODatumReader.php
  lang/php/lib/Schema/AvroEnumSchema.php
  lang/php/lib/Schema/AvroField.php
  lang/php/lib/Schema/AvroFixedSchema.php
  lang/php/lib/Schema/AvroNamedSchema.php
  lang/php/lib/Schema/AvroRecordSchema.php
  lang/php/lib/Schema/AvroSchema.php
  lang/php/test/IODatumReaderTest.php
  lang/php/test/SchemaTest.php
Labels: PHP

#952 Fixed map example
  doc/src/content/xdocs/spec.xml
Labels: website

#948 AVRO-2920 Remove Python2 Polyfills
  lang/py/avro/__init__.py
  lang/py/avro/codecs.py
  lang/py/avro/constants.py
  lang/py/avro/datafile.py
  lang/py/avro/io.py
  lang/py/avro/ipc.py
  lang/py/avro/protocol.py
  lang/py/avro/schema.py
  lang/py/avro/test/gen_interop_data.py
  lang/py/avro/test/mock_tether_parent.py
  lang/py/avro/test/sample_http_client.py
  lang/py/avro/test/sample_http_server.py
  lang/py/avro/test/test_bench.py
  lang/py/avro/test/test_datafile.py
  lang/py/avro/test/test_datafile_interop.py
  lang/py/avro/test/test_io.py
  lang/py/avro/test/test_ipc.py
  lang/py/avro/test/test_protocol.py
  lang/py/avro/test/test_schema.py
  lang/py/avro/test/test_script.py
  lang/py/avro/test/test_tether_task.py
  lang/py/avro/test/test_tether_task_runner.py
  lang/py/avro/test/test_tether_word_count.py
  lang/py/avro/test/word_count_task.py
  lang/py/avro/tether/__init__.py
  lang/py/avro/tether/tether_task.py
  lang/py/avro/tether/tether_task_runner.py
  lang/py/avro/tether/util.py
  lang/py/avro/timezones.py
  lang/py/avro/tool.py
  lang/py/scripts/avro
  lang/py/setup.py
Labels: Python
