Repository apache/avro, pull requests merged in 2021-02, with the labels that each got.

#1069 AVRO-3030: Remove the PUBLIC_DEPRECATED
  lang/java/archetypes/pom.xml
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/tools/src/main/java/org/apache/avro/tool/SpecificCompilerTool.java
  lang/java/tools/src/test/compiler/input/fieldvisibilitytest.avsc
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/FieldTest.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/Player.java
  lang/java/tools/src/test/compiler/output/AddExtraOptionalGettersTest.java
  lang/java/tools/src/test/compiler/output/FieldVisibilityTest.java
  lang/java/tools/src/test/compiler/output/NoSettersTest.java
  lang/java/tools/src/test/compiler/output/OptionalGettersAllFieldsTest.java
  lang/java/tools/src/test/compiler/output/OptionalGettersNullableFieldsTest.java
  lang/java/tools/src/test/compiler/output/Player.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestSpecificCompilerTool.java
Labels: Java, build

#1078 AVRO-3033: Fix flaky file descriptor test
  lang/java/avro/src/test/java/org/apache/avro/TestDataFileReader.java
Labels: Java

#1079 AVRO-3032: Use best practice for namedtuple
  lang/py/avro/tether/tether_task.py
Labels: Python

#1080 AVRO-2944: Handle unexpected EOF reading magic bytes in DataFileReader
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileReader.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFileReader.java
Labels: Java

#1071 AVRO-3031: Update for avrogencpp to handle C++ reserved words more broadly
  lang/c++/CMakeLists.txt
  lang/c++/impl/avrogencpp.cc
  lang/c++/jsonschemas/cpp_reserved_words
  lang/c++/test/AvrogencppTestReservedWords.cc
Labels: C++

#1101 Added unit test for decoding of strings with length > 256
  lang/csharp/src/apache/test/IO/BinaryCodecTests.cs
Labels: C#

#1098 AVRO-3049: Add checks to BinaryDecoder for bytes length
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryDecoder.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestBinaryDecoder.java
Labels: Java

#1104 Modernizing Zigzag
  lang/c++/api/Zigzag.hh
  lang/c++/impl/Zigzag.cc
Labels: C++
