Repository apache/avro, pull requests merged in 2021-04, with the labels that each got.

#1165 AVRO-3093: Stop releasing avro-python3 package
  .github/labeler.yml
  DIST_README.txt
  build.sh
  lang/py/scripts/avro
  pom.xml
  share/test/interop/bin/test_rpc_interop.sh
Labels: Python, build

#1155 AVRO-3092: Update ubertool image to buster
  share/docker/Dockerfile
Labels: build

#1168 AVRO-3051: Modernized Avro data parser
  lang/c++/impl/BinaryDecoder.cc
  lang/c++/impl/BinaryEncoder.cc
  lang/c++/impl/DataFile.cc
  lang/c++/impl/FileStream.cc
  lang/c++/impl/Resolver.cc
  lang/c++/impl/Stream.cc
  lang/c++/impl/parsing/JsonCodec.cc
  lang/c++/impl/parsing/ResolvingDecoder.cc
  lang/c++/impl/parsing/Symbol.cc
  lang/c++/impl/parsing/Symbol.hh
  lang/c++/impl/parsing/ValidatingCodec.cc
  lang/c++/impl/parsing/ValidatingCodec.hh
Labels: C++

#1169 AVRO-3100: Fix module typo in avro.tool
  lang/py/avro/tool.py
Labels: Python

#1170 AVRO-3051: Legacy C++ code modernized
  lang/c++/api/buffer/Buffer.hh
  lang/c++/api/buffer/BufferPrint.hh
  lang/c++/api/buffer/BufferReader.hh
  lang/c++/api/buffer/BufferStream.hh
  lang/c++/api/buffer/BufferStreambuf.hh
  lang/c++/api/buffer/detail/BufferDetail.hh
  lang/c++/api/buffer/detail/BufferDetail.hh.rej
  lang/c++/api/buffer/detail/BufferDetailIterator.hh
Labels: C++

#1171 AVRO-3051: Modernized unit tests
  lang/c++/test/AvrogencppTestReservedWords.cc
  lang/c++/test/AvrogencppTests.cc
  lang/c++/test/CodecTests.cc
  lang/c++/test/CompilerTests.cc
  lang/c++/test/DataFileTests.cc
  lang/c++/test/LargeSchemaTests.cc
  lang/c++/test/SchemaTests.cc
  lang/c++/test/SpecificTests.cc
  lang/c++/test/StreamTests.cc
  lang/c++/test/buffertest.cc
  lang/c++/test/testparser.cc
  lang/c++/test/unittest.cc
Labels: C++

#1167 AVRO-1938: Generate Parsing Canonical Forms of Schema
  lang/py/avro/protocol.py
  lang/py/avro/schema.py
  lang/py/avro/test/test_schema.py
Labels: Python

#1172 AVRO-3094: improve performance of SpecificData.getForClass(), especially around old generated specific record classes
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
Labels: Java

#1148 AVRO-3065: Introduce UUID logical type to Python implementation
  lang/py/avro/constants.py
  lang/py/avro/schema.py
  lang/py/avro/test/test_io.py
  lang/py/avro/test/test_schema.py
Labels: Python

#1186 AVRO-3108: Drop support for Ruby 2.5
  .github/workflows/test-lang-ruby.yml
  BUILD.md
  lang/ruby/Gemfile
  lang/ruby/build.sh
  share/docker/Dockerfile
Labels: Ruby, build

#1188 AVRO-3111: Update Hadoop versions to prevent false-positive security reports
  doc/examples/java-example/pom.xml
  doc/examples/mr-example/pom.xml
  lang/java/pom.xml
Labels: Java, build, website

#1197 AVRO-3009: Run Avro JS tests only for LTS versions of node
  .github/workflows/test-lang-js.yml
Labels: build

#1200 AVRO-3009: Trigger CI tests when specific github actions are modified
  .github/workflows/test-lang-c++.yml
  .github/workflows/test-lang-c.yml
  .github/workflows/test-lang-csharp.yml
  .github/workflows/test-lang-java.yml
  .github/workflows/test-lang-js.yml
  .github/workflows/test-lang-perl.yml
  .github/workflows/test-lang-php.yml
  .github/workflows/test-lang-py.yml
  .github/workflows/test-lang-ruby.yml
Labels: build

#1199 AVRO-3009: Fix IP address in GitHub Actions container
  .github/workflows/test-lang-java.yml
Labels: build

#1198 AVRO-3113: Enforce Java 8 bytecode compatibility on Java dependencies
  .github/workflows/test-lang-java.yml
  pom.xml
Labels: build

#1201 AVRO-3113: Update enforcer-plugin to version 3.0.0-M3
  .github/workflows/rat.yml
  .github/workflows/test-lang-java.yml
  pom.xml
Labels: build

#1202 AVRO-3116: Mangle Java16 keywords appropriately.
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/compiler/src/test/resources/simple_record_for_scape.avsc
Labels: Java

#1204 AVRO-3124: Produce valid string for Temporal JSON serialization
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericData.java
Labels: Java
