Repository apache/avro, pull requests merged in 2021-03, with the labels that each got.

#1114 AVRO-3060: Support ZSTD level and BufferPool options
  lang/java/avro/src/main/java/org/apache/avro/file/CodecFactory.java
  lang/java/avro/src/main/java/org/apache/avro/file/ZstandardCodec.java
  lang/java/avro/src/main/java/org/apache/avro/file/ZstandardLoader.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFile.java
  lang/java/mapred/src/main/java/org/apache/avro/mapred/AvroOutputFormat.java
  lang/java/mapred/src/main/java/org/apache/avro/mapreduce/AvroOutputFormatBase.java
Labels: Java

#981 AVRO-2961: Support .NET 5.0
  .travis/before_install.sh
  lang/csharp/README.md
  lang/csharp/build.sh
  lang/csharp/src/apache/codegen/Avro.codegen.csproj
  lang/csharp/src/apache/main/Avro.main.csproj
  lang/csharp/src/apache/main/Generic/GenericRecord.cs
  lang/csharp/src/apache/main/Schema/SchemaName.cs
  lang/csharp/src/apache/main/Schema/SchemaNormalization.cs
  lang/csharp/src/apache/msbuild/Avro.msbuild.csproj
  lang/csharp/src/apache/perf/Avro.perf.csproj
  lang/csharp/src/apache/test/Avro.test.csproj
  lang/csharp/src/apache/test/Reflect/TestFromAvroProject.cs
  lang/csharp/src/apache/test/Schema/SchemaNormalizationTests.cs
  lang/csharp/versions.props
  share/docker/Dockerfile
Labels: C#, build

#1119 Bump jmh.version from 1.27 to 1.28 in /lang/java
  lang/java/perf/pom.xml
Labels: Java, build

#1120 Bump commons-lang3 from 3.11 to 3.12.0 in /lang/java
  lang/java/pom.xml
Labels: Java, build

#1121 Bump jackson.version from 2.12.1 to 2.12.2 in /lang/java
  lang/java/pom.xml
Labels: Java, build

#1122 AVRO-3057: Bump zstd-jni from 1.4.8-6 to 1.4.8-7 in /lang/java
  lang/java/pom.xml
Labels: Java, build

#1118 AVRO-3062: Upgrade javascript mocha and handlebars transitive dependencies
  lang/js/package-lock.json
  lang/js/package.json
Labels: JS

#1081 AVRO-3014: Log a warning on ignored logicalType
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaWarnings.java
Labels: Java

#1092 AVRO-3044: Use @AvroGenerated for Callback interface
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/protocol.vm
  lang/java/tools/src/test/compiler/input/proto.avpr
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/Proto.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestSpecificCompilerTool.java
  pom.xml
Labels: Java, build

#1123 AVRO-3069: Ignore modified files after build
  lang/c++/.gitignore
  lang/c++/build.sh
  lang/perl/README
  pom.xml
Labels: C++, Perl, build

#960 Tentative fix for AVRO-2933 avro c++ CMakeList enforces a specific ve…
  lang/c++/CMakeLists.txt
Labels: C++

#1106 AVRO-3051: Core C++ implementation is modernized
  lang/c++/api/Compiler.hh
  lang/c++/api/Config.hh
  lang/c++/api/Decoder.hh
  lang/c++/api/Encoder.hh
  lang/c++/api/Exception.hh
  lang/c++/api/Layout.hh
  lang/c++/api/LogicalType.hh
  lang/c++/api/Node.hh
  lang/c++/api/NodeConcepts.hh
  lang/c++/api/NodeImpl.hh
  lang/c++/api/Reader.hh
  lang/c++/api/Resolver.hh
  lang/c++/api/ResolverSchema.hh
  lang/c++/api/Schema.hh
  lang/c++/api/Types.hh
  lang/c++/api/ValidSchema.hh
  lang/c++/api/Validator.hh
  lang/c++/api/Writer.hh
  lang/c++/api/Zigzag.hh
  lang/c++/api/buffer/detail/BufferDetail.hh.rej
  lang/c++/impl/BinaryDecoder.cc
  lang/c++/impl/BinaryEncoder.cc
  lang/c++/impl/Compiler.cc
  lang/c++/impl/LogicalType.cc
  lang/c++/impl/Node.cc
  lang/c++/impl/NodeImpl.cc
  lang/c++/impl/Schema.cc
  lang/c++/impl/Types.cc
  lang/c++/impl/ValidSchema.cc
  lang/c++/impl/Validator.cc
  lang/c++/impl/Zigzag.cc
  lang/c++/impl/parsing/JsonCodec.cc
  lang/c++/test/DataFileTests.cc
  lang/c++/test/SchemaTests.cc
  lang/c++/test/testgentest.cc
Labels: C++

#1129 AVRO-3072: Use ZSTD NoFinalizer classes and bump to 1.4.9-1
  lang/java/avro/src/main/java/org/apache/avro/file/ZstandardLoader.java
  lang/java/pom.xml
Labels: Java, build

#979 AVRO-1751: Add python3 compatibility
  lang/py/avro/compatibility.py
  lang/py/avro/errors.py
  lang/py/avro/test/test_compatibility.py
Labels: C#, Java, Perl, Python, Python3, Ruby, build

#1138 AVRO-3079: Fix Forrest download URL in Dockerfile
  share/docker/DockerfileLocal
Labels: build

#1139 AVRO-3080: Fix Python interop test on CI to check snappy and zstd files
  .github/workflows/test-lang-py.yml
Labels: build

#1137 Bump libthrift from 0.13.0 to 0.14.1 in /lang/java
  lang/java/pom.xml
  lang/java/thrift/README
  lang/java/thrift/README.md
  lang/java/thrift/src/test/java/org/apache/avro/thrift/test/E.java
  lang/java/thrift/src/test/java/org/apache/avro/thrift/test/Error.java
  lang/java/thrift/src/test/java/org/apache/avro/thrift/test/Foo.java
  lang/java/thrift/src/test/java/org/apache/avro/thrift/test/FooOrBar.java
  lang/java/thrift/src/test/java/org/apache/avro/thrift/test/Nested.java
  lang/java/thrift/src/test/java/org/apache/avro/thrift/test/Test.java
Labels: Java, build

#1144 AVRO-3085: Fix PHP interop test on CI to suppress unnecessary warnings
  lang/php/test/InterOpTest.php
Labels: PHP

#1147 Fixed the error that caused C++ lint to fail
  lang/c++/impl/json/JsonIO.hh
Labels: C++

#1145 [AVRO-3087] fix c++ build if snappy is not found
  lang/c++/CMakeLists.txt
Labels: C++

#1152 AVRO-3006 Fix issue with parsing documentation on PyPi
  lang/py/README.md
  lang/py/setup.cfg
  lang/py3/setup.cfg
Labels: Python, Python3

#1153 AVRO-3051: C++ Reader and writers modernized
  lang/c++/api/AvroTraits.hh
  lang/c++/api/Compiler.hh
  lang/c++/api/Config.hh
  lang/c++/api/DataFile.hh
  lang/c++/api/Generic.hh
  lang/c++/api/GenericDatum.hh
  lang/c++/api/Node.hh
  lang/c++/api/NodeImpl.hh
  lang/c++/api/Parser.hh
  lang/c++/api/Reader.hh
  lang/c++/api/ResolvingReader.hh
  lang/c++/api/Schema.hh
  lang/c++/api/SchemaResolution.hh
  lang/c++/api/Serializer.hh
  lang/c++/api/Specific.hh
  lang/c++/api/Stream.hh
  lang/c++/api/Validator.hh
  lang/c++/api/Writer.hh
  lang/c++/impl/BinaryEncoder.cc
  lang/c++/impl/DataFile.cc
  lang/c++/impl/FileStream.cc
  lang/c++/impl/Generic.cc
  lang/c++/impl/GenericDatum.cc
  lang/c++/impl/LogicalType.cc
  lang/c++/impl/Node.cc
  lang/c++/impl/NodeImpl.cc
  lang/c++/impl/Resolver.cc
  lang/c++/impl/ResolverSchema.cc
  lang/c++/impl/Stream.cc
  lang/c++/impl/Types.cc
  lang/c++/impl/ValidSchema.cc
  lang/c++/impl/avrogencpp.cc
Labels: C++

#1151 AVRO-3004 Drop support for Python 3.5
  lang/py/setup.cfg
  lang/py/tox.ini
Labels: Python

#1164 AVRO-3051: Modernized JSON module
  lang/c++/impl/Compiler.cc
  lang/c++/impl/json/JsonDom.cc
  lang/c++/impl/json/JsonDom.hh
  lang/c++/impl/json/JsonIO.cc
  lang/c++/impl/json/JsonIO.hh
  lang/c++/impl/parsing/JsonCodec.cc
  lang/c++/test/JsonTests.cc
Labels: C++
