Repository apache/avro, pull requests merged in 2021-08, with the labels that each got.

#1300 AVRO-3183: Do Not Double Buffer Data in DataFileWriter
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileWriter.java
Labels: Java

#1286 AVRO-3175 Rust: fix lint/clippy errors
  .github/workflows/test-lang-rust-audit.yml
  .github/workflows/test-lang-rust-ci.yml
  .github/workflows/test-lang-rust-clippy.yml
  build.sh
  lang/rust/build.sh
  lang/rust/src/lib.rs
  lang/rust/src/schema_compatibility.rs
  lang/rust/src/ser.rs
  lang/rust/src/util.rs
  lang/rust/tests/io.rs
  lang/rust/tests/schema.rs
Labels: build, Rust

#1270 AVRO-3162: Update Python CLI
  lang/py/avro/__main__.py
  lang/py/avro/datafile.py
  lang/py/avro/schema.py
  lang/py/avro/test/gen_interop_data.py
  lang/py/avro/test/mock_tether_parent.py
  lang/py/avro/test/sample_http_client.py
  lang/py/avro/test/test_bench.py
  lang/py/avro/test/test_compatibility.py
  lang/py/avro/test/test_schema.py
  lang/py/avro/test/test_script.py
  lang/py/avro/tool.py
  lang/py/scripts/avro
  lang/py/setup.cfg
  lang/py/setup.py
  lang/py/tox.ini
Labels: Python

#1316 AVRO-3067: Bump validation times for PyPy
  lang/py/avro/test/test_bench.py
Labels: Python

#1315 AVRO-3191: logical type idl example
  lang/java/integration-test/codegen-test/src/test/java/org/apache/avro/codegentest/TestCustomConversion.java
  lang/java/integration-test/codegen-test/src/test/resources/avro/custom_conversion_idl.avdl
  pom.xml
Labels: Java, build

#1239 AVRO-3007: Standardize Building Python Packages
  lang/py/build.sh
  lang/py/pyproject.toml
Labels: build, Python
