Repository apache/avro, pull requests merged in 2021-05, with the labels that each got.

#1208 Bump maven-spotless-plugin from 1.31.1 to 2.10.3
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/CustomEncoding.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/avro/src/test/java/org/apache/avro/FooBarSpecificRecord.java
  lang/java/avro/src/test/java/org/apache/avro/TypeEnum.java
  lang/java/eclipse-java-formatter.xml
  lang/java/grpc/src/main/java/org/apache/avro/grpc/AvroGrpcClient.java
  lang/java/ipc/src/main/java/org/apache/avro/ipc/Requestor.java
  lang/java/ipc/src/main/java/org/apache/avro/ipc/stats/Histogram.java
  lang/java/mapred/src/main/java/org/apache/avro/hadoop/io/AvroDatumConverter.java
  lang/java/mapred/src/main/java/org/apache/avro/mapred/AvroMultipleOutputs.java
  lang/java/mapred/src/main/java/org/apache/avro/mapreduce/AvroKeyValueOutputFormat.java
  lang/java/mapred/src/test/java/org/apache/avro/mapreduce/AvroFiles.java
  lang/java/pom.xml
  lang/java/trevni/avro/src/main/java/org/apache/trevni/avro/mapreduce/AvroTrevniKeyOutputFormat.java
  lang/java/trevni/avro/src/main/java/org/apache/trevni/avro/mapreduce/AvroTrevniKeyValueInputFormat.java
  lang/java/trevni/avro/src/main/java/org/apache/trevni/avro/mapreduce/AvroTrevniKeyValueOutputFormat.java
  lang/java/trevni/avro/src/main/java/org/apache/trevni/avro/mapreduce/AvroTrevniRecordReaderBase.java
  lang/java/trevni/avro/src/main/java/org/apache/trevni/avro/mapreduce/AvroTrevniRecordWriterBase.java
  lang/java/trevni/core/src/main/java/org/apache/trevni/ValueType.java
  pom.xml
Labels: Java, build

#1209 Add spotless github action
  .github/workflows/spotless.yml
Labels: build

#1211 Remove wildcard imports and validate now with spotless
  lang/java/avro/src/test/java/org/apache/avro/TestCircularReferences.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFile.java
  lang/java/avro/src/test/java/org/apache/avro/TestReadingWritingDataInEvolvedSchemas.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaBuilder.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibility.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibilityEnumDefaults.java
  lang/java/avro/src/test/java/org/apache/avro/data/TestTimeConversions.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericData.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericDatumWriter.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericLogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestBinaryDecoder.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestValidatingIO.java
  lang/java/avro/src/test/java/org/apache/avro/message/TestBinaryMessageEncoding.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestByteBuffer.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestNonStringMapKeys.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflect.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflectLogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/util/internal/TestJacksonUtils.java
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/ipc/src/test/java/org/apache/avro/TestProtocolSpecific.java
  lang/java/ipc/src/test/java/org/apache/avro/ipc/stats/TestHistogram.java
  lang/java/ipc/src/test/java/org/apache/avro/specific/TestSpecificBuilderTree.java
  lang/java/ipc/src/test/java/org/apache/avro/specific/TestSpecificData.java
  lang/java/mapred/src/test/java/org/apache/avro/mapred/TestAvroMultipleOutputs.java
  lang/java/mapred/src/test/java/org/apache/avro/mapred/TestWordCount.java
  lang/java/mapred/src/test/java/org/apache/avro/mapreduce/TestFsInput.java
  lang/java/pom.xml
  lang/java/protobuf/src/test/java/org/apache/avro/protobuf/TestProtoConversions.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestConcatTool.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestDataFileRepairTool.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestJsonToFromBinaryFragmentTools.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestTextFileTools.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestUtil.java
Labels: Java, build

#1206 AVRO-3048: Use SpecificRecord's MODEL$ in builder creation
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificErrorBuilderBase.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificRecordBuilderBase.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/FieldTest.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/Player.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/Proto.java
  lang/java/tools/src/test/compiler/output/AddExtraOptionalGettersTest.java
  lang/java/tools/src/test/compiler/output/NoSettersTest.java
  lang/java/tools/src/test/compiler/output/OptionalGettersAllFieldsTest.java
  lang/java/tools/src/test/compiler/output/OptionalGettersNullableFieldsTest.java
  lang/java/tools/src/test/compiler/output/Player.java
Labels: Java

#1082 AVRO-3036: add schema matching for bytes decimal logical type in Ruby
  lang/ruby/lib/avro/schema.rb
  lang/ruby/lib/avro/schema_compatibility.rb
  lang/ruby/test/test_schema.rb
  lang/ruby/test/test_schema_compatibility.rb
Labels: Ruby

#1210 AVRO-3129: Throw SchemaParseException when enum symbol is null
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchema.java
Labels: Java

#1220 AVRO-3139: Only Run Spotless on Java Changesets
  .github/workflows/spotless.yml
Labels: build

#1166 AVRO-3097: Run Schema Compatibility checks as part of Unittest
  lang/py/avro/__init__.py
  lang/py/avro/compatibility.py
  lang/py/avro/test/test_compatibility.py
Labels: Python

#1212 AVRO-3131: Drop support for Node.js 10
  .github/workflows/test-lang-js.yml
  share/docker/Dockerfile
Labels: build

#1102 AVRO-3054: Fix / support decimal logical type in Ruby
  lang/ruby/Gemfile
  lang/ruby/lib/avro/logical_types.rb
  lang/ruby/lib/avro/schema.rb
  lang/ruby/test/test_logical_types.rb
  lang/ruby/test/test_schema.rb
  lang/ruby/test/test_schema_validator.rb
Labels: Ruby

#1225 AVRO-3145: Enable GitHub CodeQL Scans
  .github/workflows/codeql-analysis.yml
Labels: build

#1227 AVRO-3093: Remove the Obsolete lang/py3 Codebase
  lang/py3/.gitignore
  lang/py3/MANIFEST.in
  lang/py3/README.md
  lang/py3/avro/LICENSE
  lang/py3/avro/NOTICE
  lang/py3/avro/__init__.py
  lang/py3/avro/datafile.py
  lang/py3/avro/io.py
  lang/py3/avro/ipc.py
  lang/py3/avro/protocol.py
  lang/py3/avro/schema.py
  lang/py3/avro/schemanormalization.py
  lang/py3/avro/tests/av_bench.py
  lang/py3/avro/tests/gen_interop_data.py
  lang/py3/avro/tests/run_tests.py
  lang/py3/avro/tests/sample_http_client.py
  lang/py3/avro/tests/sample_http_server.py
  lang/py3/avro/tests/test_datafile.py
  lang/py3/avro/tests/test_datafile_interop.py
  lang/py3/avro/tests/test_enum.py
  lang/py3/avro/tests/test_init.py
  lang/py3/avro/tests/test_io.py
  lang/py3/avro/tests/test_ipc.py
  lang/py3/avro/tests/test_normalization.py
  lang/py3/avro/tests/test_protocol.py
  lang/py3/avro/tests/test_schema.py
  lang/py3/avro/tests/test_script.py
  lang/py3/avro/tool.py
  lang/py3/build.sh
  lang/py3/scripts/avro
  lang/py3/setup.cfg
  lang/py3/setup.py
Labels: build

#1221 AVRO-3104 Allow Comparing Schemas to non-Schemas
  lang/py/avro/schema.py
  lang/py/avro/test/test_schema.py
Labels: Python

#1228 AVRO-3146: Fix Decimal Scale Exception Handling
  lang/py/avro/errors.py
  lang/py/avro/io.py
  lang/py/avro/test/test_io.py
  lang/py/avro/test/test_schema.py
Labels: Python

#1237 AVRO-3152: CodeQL Per Language
  .github/workflows/codeql-csharp-analysis.yml
  .github/workflows/codeql-java-analysis.yml
  .github/workflows/codeql-js-analysis.yml
  .github/workflows/codeql-py-analysis.yml
  lang/py/setup.py
Labels: Python, build

#1219 AVRO-3118: Treat "" as Null Namespace
  lang/py/avro/schema.py
  lang/py/avro/test/test_bench.py
  lang/py/avro/test/test_schema.py
Labels: Python

#1238 AVRO-3152: Correction: Specify Languages
  .github/workflows/codeql-csharp-analysis.yml
  .github/workflows/codeql-java-analysis.yml
  .github/workflows/codeql-js-analysis.yml
  .github/workflows/codeql-py-analysis.yml
Labels: build

#1233 AVRO-3148: Format Python with Black
  .github/workflows/test-lang-py.yml
  lang/py/avro/__init__.py
  lang/py/avro/codecs.py
  lang/py/avro/compatibility.py
  lang/py/avro/constants.py
  lang/py/avro/datafile.py
  lang/py/avro/errors.py
  lang/py/avro/io.py
  lang/py/avro/ipc.py
  lang/py/avro/protocol.py
  lang/py/avro/schema.py
  lang/py/avro/test/__init__.py
  lang/py/avro/test/gen_interop_data.py
  lang/py/avro/test/mock_tether_parent.py
  lang/py/avro/test/sample_http_client.py
  lang/py/avro/test/sample_http_server.py
  lang/py/avro/test/test_bench.py
  lang/py/avro/test/test_compatibility.py
  lang/py/avro/test/test_datafile.py
  lang/py/avro/test/test_datafile_interop.py
  lang/py/avro/test/test_init.py
  lang/py/avro/test/test_io.py
  lang/py/avro/test/test_ipc.py
  lang/py/avro/test/test_protocol.py
  lang/py/avro/test/test_schema.py
  lang/py/avro/test/test_script.py
  lang/py/avro/test/test_tether_task.py
  lang/py/avro/test/test_tether_task_runner.py
  lang/py/avro/test/test_tether_word_count.py
  lang/py/avro/test/word_count_task.py
  lang/py/avro/tether/__init__.py
  lang/py/avro/tether/tether_task.py
  lang/py/avro/tether/tether_task_runner.py
  lang/py/avro/tether/util.py
  lang/py/avro/timezones.py
  lang/py/avro/tool.py
  lang/py/pyproject.toml
  lang/py/scripts/avro
  lang/py/setup.py
  lang/py/tox.ini
Labels: Python, build

#1232 AVRO-3147: Upgrade to rubocop v1.x
  lang/ruby/.rubocop.yml
  lang/ruby/Gemfile
  lang/ruby/lib/avro/io.rb
  lang/ruby/lib/avro/schema.rb
  lang/ruby/lib/avro/schema_compatibility.rb
  lang/ruby/test/tool.rb
Labels: Ruby
