Repository apache/avro, pull requests merged in 2021-01, with the labels that each got.

#1036 AVRO-2998: Schema validation for Ruby hashes with symbol keys
  lang/ruby/lib/avro/schema_validator.rb
  lang/ruby/test/test_schema_validator.rb
Labels: Ruby

#1037 AVRO-2999: Optimize Ruby union encoding
  lang/ruby/lib/avro/io.rb
  lang/ruby/lib/avro/schema.rb
  lang/ruby/lib/avro/schema_validator.rb
  lang/ruby/test/test_schema_validator.rb
Labels: Ruby

#1038 AVRO-3000: Avoid unnecessary schema compatibility checks
  lang/ruby/lib/avro/schema_compatibility.rb
  lang/ruby/test/test_schema_compatibility.rb
Labels: Ruby

#1013 AVRO-2983: Set Span length of ArrayPool Rent buffer
  lang/csharp/src/apache/main/IO/BinaryDecoder.notnetstandard2.0.cs
  lang/csharp/src/apache/test/Avro.test.csproj
  lang/csharp/src/apache/test/IO/BinaryCodecTests.cs
Labels: C#

#1033 Fix 2 typos in lang/c++/api/ValidSchema.hh:
  lang/c++/api/DataFile.hh
  lang/c++/api/Decoder.hh
  lang/c++/api/GenericDatum.hh
  lang/c++/api/ValidSchema.hh
Labels: C++

#1053 Bump jetty.version from 9.4.34.v20201102 to 9.4.35.v2020112 in /lang/java
  .github/dependabot.yml
  lang/java/pom.xml
Labels: Java, build, dependencies

#1034 avrogencpp has tabs in CodeGen::generateEnumTraits, which is inconsistent with the rest of the generated code.
  lang/c++/impl/avrogencpp.cc
Labels: C++

#1025 AVRO-2898: Build failure without a C++ compiler (again)
  lang/c/CMakeLists.txt
Labels: C

#1050 AVRO-3024: Bump Jackson to 2.11.4
  lang/java/pom.xml
Labels: Java, build

#1065 AVRO-3028: Records encode fields that equal the default
  doc/src/content/xdocs/spec.xml
Labels: website

#1073 AVRO-3024: Remove references to Jackson databind
  lang/java/archetypes/avro-service-archetype/src/main/pom/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom.xml
Labels: Java, build

#1072 AVRO-2860: More Closely Adhere to ASF Parent POM
  lang/java/archetypes/avro-service-archetype/src/main/pom/pom.xml
  lang/java/integration-test/codegen-test/pom.xml
  lang/java/integration-test/pom.xml
  lang/java/pom.xml
  lang/java/protobuf/pom.xml
  lang/java/thrift/pom.xml
  lang/java/tools/pom.xml
  lang/java/trevni/doc/pom.xml
  lang/java/trevni/pom.xml
  pom.xml
Labels: Java, build

#1068 Add anchors to the c++ documentation page
  lang/c++/MainPage.dox
Labels: C++

#1048 AVRO-3023: Test against Ruby 3.0
  .github/workflows/test-lang-ruby.yml
  lang/ruby/Gemfile
Labels: Ruby, build
