Repository apache/avro, pull requests merged in 2021-06, with the labels that each got.

#1246 AVRO-3120: Upgrade maven-maven-plugin and spotless to a more recent version
  lang/java/pom.xml
  pom.xml
Labels: Java, build

#1249 AVRO-2921: Typefix avro.tether.util
  lang/py/avro/tether/util.py
Labels: Python

#1251 AVRO-2921: Add Type Hints for avro.name
  lang/py/avro/constants.py
  lang/py/avro/name.py
  lang/py/avro/schema.py
Labels: Python

#1252 AVRO-2921: Incremental Type Hints for avro.schema
  lang/py/avro/compatibility.py
  lang/py/avro/schema.py
Labels: Python

#1259 AVRO-2921: Type Hints for avro.schema and avro.protocol
  lang/py/avro/name.py
  lang/py/avro/protocol.py
  lang/py/avro/schema.py
  lang/py/avro/test/test_protocol.py
  lang/py/avro/tether/tether_task.py
  lang/py/setup.cfg
Labels: Python

#1260 AVRO-2921: Type Fixes for avro.codecs
  lang/py/avro/codecs.py
  lang/py/avro/datafile.py
  lang/py/avro/test/gen_interop_data.py
  lang/py/avro/test/test_bench.py
  lang/py/avro/test/test_datafile.py
  lang/py/avro/test/test_init.py
  lang/py/avro/test/test_io.py
  lang/py/avro/test/test_ipc.py
  lang/py/avro/test/test_protocol.py
  lang/py/avro/test/test_schema.py
  lang/py/avro/test/test_script.py
  lang/py/avro/test/test_tether_task.py
  lang/py/avro/test/test_tether_task_runner.py
  lang/py/avro/test/test_tether_word_count.py
  lang/py/avro/tether/tether_task_runner.py
Labels: Python

#1262 AVRO-2921: Type Fixes for avro.datafile
  lang/py/avro/datafile.py
  lang/py/avro/test/mock_tether_parent.py
  lang/py/avro/test/sample_http_server.py
  lang/py/avro/test/test_bench.py
  lang/py/avro/test/test_datafile_interop.py
  lang/py/avro/test/test_tether_task.py
  lang/py/avro/timezones.py
  lang/py/avro/utils.py
Labels: Python

#1271 AVRO-3114: Not setting policy CMP0042 for version prior to CMake 3.0
  lang/c++/CMakeLists.txt
Labels: C++

#1272 AVRO-3163: Delete gen-cppcode.py
  lang/c++/scripts/gen-cppcode.py
Labels: C++

#1218 AVRO-3113: Align maven versions
  pom.xml
  share/docker/Dockerfile
Labels: build

#1274 AVRO-3165: Do not create workerGroup if NettyTransceiver created via internal Constructor
  lang/java/ipc-netty/src/main/java/org/apache/avro/ipc/netty/NettyTransceiver.java
Labels: Java
