Repository apache/avro, pull requests merged in 2021-07, with the labels that each got.

#1276 AVRO-3144 Support for enabling and disabling default value validation through SchemaBuilder
  lang/java/avro/src/main/java/org/apache/avro/SchemaBuilder.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaBuilder.java
Labels: Java

#1284 Fix a small typo in documentation
  lang/c/docs/index.txt
Labels: C

#1287 AVRO-2720: Enhance AvroTypeException message to include field name
  lang/py/avro/errors.py
  lang/py/avro/io.py
  lang/py/avro/test/test_bench.py
  lang/py/avro/test/test_io.py
  lang/py/avro/test/test_schema.py
Labels: Python

#1290 Update apache/commons-compress to 1.21
  lang/java/pom.xml
Labels: Java, build

#1285 AVRO-3174 JavaScript: Do not use deprecated constructors of Buffer
  lang/js/lib/files.js
  lang/js/lib/protocols.js
  lang/js/lib/schemas.js
  lang/js/lib/utils.js
  lang/js/test/test_files.js
  lang/js/test/test_protocols.js
  lang/js/test/test_schemas.js
  lang/js/test/test_utils.js
Labels: JS

#1296 AVRO-3180: Interop tests fail on force_encoding
  lang/ruby/lib/avro/ipc.rb
Labels: Ruby
