Repository apache/avro, pull requests merged in 2021-12, with the labels that each got.

#1414 AVRO-3217: Allow any identifier as annotation name
  lang/java/compiler/src/main/javacc/org/apache/avro/compiler/idl/idl.jj
  lang/java/compiler/src/test/idl/input/simple.avdl
  lang/java/compiler/src/test/idl/output/simple.avpr
Labels: Java

#1410 AVRO-3258: Fix quoting error in python setup.cfg
  lang/py/setup.cfg
Labels: Python

#985 AVRO-2976: Add LogicalType parsing to the IDL
  lang/java/compiler/src/main/javacc/org/apache/avro/compiler/idl/idl.jj
  lang/java/compiler/src/test/idl/input/simple.avdl
  lang/java/compiler/src/test/idl/logicalTypes.avdl
  lang/java/compiler/src/test/idl/output/simple.avpr
  lang/java/compiler/src/test/java/org/apache/avro/compiler/idl/TestLogicalTypes.java
Labels: Java, build

#1428 AVRO-3268: Fix whitespace error in PHP lint
  lang/php/lib/Datum/AvroIOBinaryDecoder.php
Labels: PHP

#1430 AVRO-3269: Test Perl workflow does not run the tests
  .github/workflows/test-lang-perl.yml
Labels: build

#1422 AVRO-3263: Fix warning in Perl encoder when validating a long field
  lang/perl/lib/Avro/Schema.pm
  lang/perl/t/02_bin_encode.t
Labels: Perl

#1406 AVRO-3252: Add hasattr check for mode attr in DataFileReader
  lang/py/avro/datafile.py
Labels: Python

#1432 AVRO-3721 Support Python 3.10; Fix Annotations
  .github/workflows/test-lang-py.yml
  BUILD.md
  lang/py/avro/__main__.py
  lang/py/avro/datafile.py
  lang/py/avro/io.py
  lang/py/setup.cfg
  lang/py/tox.ini
  share/docker/Dockerfile
Labels: build, Python

#1350 AVRO-3218: Fix parsing of logicalType = decimal
  lang/py/avro/schema.py
  lang/py/avro/test/test_schema.py
Labels: Python

#1392 AVRO-3243 Workaround JDK-8161372 - perf issue in ConcurrentHashMap#computeIfAbsent()
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/avro/src/main/java/org/apache/avro/util/MapUtil.java
  lang/java/grpc/src/main/java/org/apache/avro/grpc/ServiceDescriptor.java
Labels: Java

#1433 AVRO-3229: Raise Exception on Invalid Enum Default
  lang/py/avro/errors.py
  lang/py/avro/schema.py
  lang/py/avro/test/test_schema.py
Labels: Python

#1378 Minor non functional changes
  .gitignore
  lang/c++/test/CodecTests.cc
  lang/csharp/build.sh
Labels: C++, build, C#

#1412 AVRO-2867: Fix NullPointerException on record-valued defaults
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/idl/IsResolvedSchemaVisitor.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/idl/ResolvingVisitor.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/idl/SchemaResolver.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/schema/Schemas.java
  lang/java/compiler/src/main/javacc/org/apache/avro/compiler/idl/idl.jj
  lang/java/compiler/src/test/idl/input/simple.avdl
  lang/java/compiler/src/test/idl/output/forward_ref.avpr
  lang/java/compiler/src/test/idl/output/simple.avpr
Labels: Java

#1411 AVRO-3257: IDL support for nullable types
  doc/src/content/xdocs/idl.xml
  lang/java/compiler/src/main/javacc/org/apache/avro/compiler/idl/idl.jj
  lang/java/compiler/src/test/idl/input/simple.avdl
  lang/java/compiler/src/test/idl/output/simple.avpr
Labels: Java, website

#1395 AVRO-3251 AVDL files containing fields called "uuid" no longer compile.
  lang/java/compiler/src/main/javacc/org/apache/avro/compiler/idl/idl.jj
  lang/java/compiler/src/test/idl/input/reservedwords.avdl
  lang/java/compiler/src/test/idl/input/uuid.avdl
  lang/java/compiler/src/test/idl/output/import.avpr
  lang/java/compiler/src/test/idl/output/nestedimport.avpr
  lang/java/compiler/src/test/idl/output/reservedwords.avpr
  lang/java/compiler/src/test/idl/output/uuid.avpr
Labels: Java

#1423 AVRO-3265: Fix avrogen code generation for Avro namespaces
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/main/CodeGen/CodeGenUtil.cs
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
Labels: C#

#1435 AVRO-3251: Minor testcase fix after merge
  lang/java/compiler/src/test/idl/output/uuid.avpr
Labels: Java
