Repository apache/avro, pull requests merged in 2022-02, with the labels that each got.

#1486 AVRO-3336 deprecate namespaceLookup field.
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
Labels: C#

#1496 AVRO-3346 Update DataFileReader to documentation standards
  lang/csharp/src/apache/main/File/DataFileReader.cs
Labels: C#

#1494 AVRO-3344 Deprecating DataBlock
  lang/csharp/src/apache/main/File/DataBlock.cs
Labels: C#

#1492 AVRO-3342 Updated CodeGenUtil to standard documentation styling
  lang/csharp/src/apache/main/CodeGen/CodeGenUtil.cs
Labels: C#

#1485 AVRO-3335 Evaluate input of GenerateNames
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
Labels: C#

#1484 AVRO-3334 Updated GetNullableType to simplify execution
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/main/Reflect/ReflectDefaultReader.cs
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
Labels: C#

#1490 AVRO-3340: Add codeanalysis for all C# projects
  .editorconfig
  lang/csharp/Avro.sln
  lang/csharp/CodeAnalysis.src.globalconfig
  lang/csharp/CodeAnalysis.test.globalconfig
  lang/csharp/common.props
  lang/csharp/src/apache/codegen/Avro.codegen.csproj
  lang/csharp/src/apache/main/Avro.main.csproj
  lang/csharp/src/apache/msbuild/Avro.msbuild.csproj
  lang/csharp/src/apache/perf/Avro.perf.csproj
  lang/csharp/src/apache/test/Avro.test.csproj
  lang/csharp/stylecop.json
  lang/csharp/versions.props
Labels: C#

#1493 AVRO-3343 Updated Codec to styling standards
  lang/csharp/src/apache/main/File/Codec.cs
Labels: C#

#1457 AVRO-3305: Only mangle type identifier keywords when used as types
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/enum.vm
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/fixed.vm
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/protocol.vm
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
Labels: Java

#1358 AVRO-3223: Support optional codecs in C# library
  lang/csharp/src/apache/main/File/Codec.cs
  lang/csharp/src/apache/main/File/DataFileReader.cs
  lang/csharp/src/apache/main/File/DeflateCodec.cs
  lang/csharp/src/apache/main/File/NullCodec.cs
  lang/csharp/src/apache/test/File/FileTests.cs
Labels: C#

#1495 AVRO-3345: Made Magic readonly in DataFileConstants
  lang/csharp/src/apache/main/File/DataFileConstants.cs
Labels: C#

#1497 AVRO-3347 Update addNamespace to AddNamespace
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
Labels: C#

#1498 AVRO-3348 Updated ProcessSchemas to meet styling guidelines
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
Labels: C#

#1499 AVRO-3349 Updated ProcessProtocols to meet style guidelines.
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
Labels: C#

#1500 AVRO-3350 Validate default enum value exists before returning.
  lang/csharp/src/apache/main/Schema/EnumSchema.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
Labels: C#

#1503 AVRO-3352: Only Newtonsoft uses minimum version as of now
  lang/csharp/src/apache/main/Avro.main.csproj
  lang/csharp/src/apache/test/Avro.test.csproj
  lang/csharp/src/apache/test/Schema/AliasTest.cs
  lang/csharp/versions.props
Labels: C#

#1502 AVRO-3331: Add TryFrom owned Decimal
  lang/rust/src/decimal.rs
Labels: Rust

#1438 Avro-2862: Fix primitive schemas losing metadata properties
  lang/csharp/src/apache/main/Schema/PrimitiveSchema.cs
  lang/csharp/src/apache/main/Schema/Schema.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
Labels: C#

#1504 AVRO-3353 simplified naming in CodeGen
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
Labels: C#

#1505 AVRO-3354 Simplified if statements
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
Labels: C#

#1506 AVRO-3355 Fix order of access modifier
  lang/csharp/src/apache/main/File/Codec.cs
Labels: C#

#1507 AVRO-3356 simplify naming in DataFileReader
  lang/csharp/src/apache/main/File/DataFileReader.cs
Labels: C#

#1508 AVRO-3357 marked properties readonly
  lang/csharp/src/apache/main/File/DataFileReader.cs
Labels: C#

#1509 AVRO-3358 Updated XML documentation
  lang/csharp/src/apache/main/File/DataFileWriter.cs
Labels: C#

#1511 AVRO-3360 Updated XML documentation
  lang/csharp/src/apache/main/File/Header.cs
Labels: C#

#1517 AVRO-3366 Updated naming of variables.
  lang/csharp/src/apache/main/Generic/GenericEnum.cs
Labels: C#

#1510 AVRO-3359 update formatting of DeflateCodec
  lang/csharp/src/apache/main/File/DeflateCodec.cs
Labels: C#

#1512 AVRO-3361 simplify if statement
  lang/csharp/src/apache/main/File/NullCodec.cs
Labels: C#

#1518 AVRO-3367 Remove unnecessary suppression of CA1307
  lang/csharp/src/apache/main/Generic/GenericEnum.cs
Labels: C#

#1381 AVRO-3133: Fix enum resolution to be consistent with Apache Avro specification and the schema compatibility checks
  lang/java/avro/src/main/java/org/apache/avro/Resolver.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibility.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemas.java
  lang/java/avro/src/test/java/org/apache/avro/io/parsing/TestResolvingGrammarGenerator.java
Labels: Java

#1453 AVRO-3294: Improve IDL doc comment handling
  lang/java/compiler/src/main/java/org/apache/avro/compiler/idl/DocCommentHelper.java
  lang/java/compiler/src/main/javacc/org/apache/avro/compiler/idl/idl.jj
  lang/java/compiler/src/test/idl/input/comments.avdl
  lang/java/compiler/src/test/idl/output/comments.avpr
  lang/java/compiler/src/test/java/org/apache/avro/compiler/idl/TestIdl.java
Labels: Java

#1521 AVRO-3371 - add empty string as 3rd velocity root in SpecificCompiler
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
Labels: Java

#1531 AVRO-3259: Throw exception if unknown codec
  lang/csharp/src/apache/main/File/Codec.cs
  lang/csharp/src/apache/main/File/DataFileReader.cs
  lang/csharp/src/apache/test/File/FileTests.cs
Labels: C#

#1391 AVRO-1851: Better handling for anonymous classes
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericDatumReader.java
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericDatumWriter.java
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryDecoder.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectDatumReader.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectDatumWriter.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectionUtil.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflectDatumWithAnonymousInstances.java
Labels: Java

#1529 AVRO-3380: Raise an exception if invalid number of bytes read
  lang/py/avro/errors.py
  lang/py/avro/io.py
  lang/py/avro/test/test_io.py
Labels: Python

#1551 AVRO-3405: Add API to write/read user metadata in .avro file
  lang/java/avro/src/main/java/org/apache/avro/util/RandomData.java
  lang/java/ipc/src/test/java/org/apache/avro/DataFileInteropTest.java
  lang/perl/share/interop-data-generate
  lang/perl/xt/interop.t
  lang/rust/examples/generate_interop_data.rs
  lang/rust/examples/test_interop_data.rs
  lang/rust/src/error.rs
  lang/rust/src/reader.rs
  lang/rust/src/writer.rs
Labels: Java, Perl, Rust

#1550 AVRO-3382 (java) - require Schema argument be != null when creating a Schema.Field
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchema.java
Labels: Java

#1526 AVRO-3375: Better error messages out of generic and specific DatumWriters
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericDatumWriter.java
  lang/java/avro/src/main/java/org/apache/avro/path/ArrayPositionPredicate.java
  lang/java/avro/src/main/java/org/apache/avro/path/LocationStep.java
  lang/java/avro/src/main/java/org/apache/avro/path/MapKeyPredicate.java
  lang/java/avro/src/main/java/org/apache/avro/path/PathElement.java
  lang/java/avro/src/main/java/org/apache/avro/path/PathPredicate.java
  lang/java/avro/src/main/java/org/apache/avro/path/PathTracingException.java
  lang/java/avro/src/main/java/org/apache/avro/path/PositionalPathPredicate.java
  lang/java/avro/src/main/java/org/apache/avro/path/TracingAvroTypeException.java
  lang/java/avro/src/main/java/org/apache/avro/path/TracingClassCastException.java
  lang/java/avro/src/main/java/org/apache/avro/path/TracingNullPointException.java
  lang/java/avro/src/main/java/org/apache/avro/path/UnionTypePredicate.java
  lang/java/avro/src/main/java/org/apache/avro/path/package-info.java
  lang/java/avro/src/main/java/org/apache/avro/path/package.html
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificDatumWriter.java
  lang/java/avro/src/main/java/org/apache/avro/util/SchemaUtil.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericDatumWriter.java
  lang/java/ipc/src/test/java/org/apache/avro/specific/TestSpecificDatumWriter.java
  share/test/schemas/RecordWithRequiredFields.avsc
Labels: Java, build

#1554 AVRO-3407: Add user_metadats interop tests in C#
  lang/csharp/src/apache/test/Interop/InteropDataGenerator.cs
  lang/csharp/src/apache/test/Interop/InteropDataTests.cs
Labels: C#

#1552 AVRO-3407: Test for user metadata in the interop tests
  lang/csharp/src/apache/test/Interop/InteropDataGenerator.cs
  lang/csharp/src/apache/test/Interop/InteropDataTests.cs
  lang/java/avro/src/main/java/org/apache/avro/util/RandomData.java
  lang/java/ipc/src/test/java/org/apache/avro/DataFileInteropTest.java
  lang/perl/share/interop-data-generate
  lang/perl/xt/interop.t
  lang/py/avro/test/gen_interop_data.py
  lang/py/avro/test/test_datafile_interop.py
  lang/rust/examples/generate_interop_data.rs
  lang/rust/examples/test_interop_data.rs
Labels: Java, Python, C#, Perl, Rust

#1567 AVRO-3417: Fix logo.png location and name
  lang/csharp/common.props
Labels: C#

#1563 AVRO-2175: Fix build scripts and instructions
  build.sh
  doc/README.md
  doc/package.json
Labels: build, website

#1525 AVRO-3370: [Spec] Inconsistent behaviour on types as invalid names.
  lang/rust/src/schema.rs
Labels: Rust

#1564 AVRO-3414: Ensure word-for-word accuracy with existing spec
  doc/content/en/docs/next/Specification/_index.md
Labels: website

#1568 AVRO-3420: Ensure IDL reference is identical
  doc/content/en/docs/next/IDL Language/_index.md
Labels: website
