Repository apache/avro, pull requests merged in 2022-03, with the labels that each got.

#1575 AVRO-3428: Rust: Restructure the RUST SDK to a Rust workspace
  lang/rust/Cargo.toml
  lang/rust/avro/Cargo.toml
  lang/rust/avro/benches/quickstop-null.avro
  lang/rust/avro/benches/serde.rs
  lang/rust/avro/benches/serde_json.rs
  lang/rust/avro/benches/single.rs
  lang/rust/avro/examples/benchmark.rs
  lang/rust/avro/examples/generate_interop_data.rs
  lang/rust/avro/examples/test_interop_data.rs
  lang/rust/avro/examples/to_value.rs
  lang/rust/avro/src/codec.rs
  lang/rust/avro/src/de.rs
  lang/rust/avro/src/decimal.rs
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/duration.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/rabin.rs
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_compatibility.rs
  lang/rust/avro/src/ser.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/util.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro/tests/io.rs
  lang/rust/avro/tests/schema.rs
Labels: Rust

#1577 AVRO-3431: CI: Cancel in-progress workflows if there are new commits in PR
  .github/workflows/codeql-csharp-analysis.yml
  .github/workflows/codeql-java-analysis.yml
  .github/workflows/codeql-js-analysis.yml
  .github/workflows/codeql-py-analysis.yml
  .github/workflows/java-publish-snapshot.yml
  .github/workflows/rat.yml
  .github/workflows/spotless.yml
  .github/workflows/test-lang-c++.yml
  .github/workflows/test-lang-c.yml
  .github/workflows/test-lang-csharp.yml
  .github/workflows/test-lang-java.yml
  .github/workflows/test-lang-js.yml
  .github/workflows/test-lang-perl.yml
  .github/workflows/test-lang-php.yml
  .github/workflows/test-lang-py.yml
  .github/workflows/test-lang-ruby.yml
  .github/workflows/test-lang-rust-audit.yml
  .github/workflows/test-lang-rust-ci.yml
  .github/workflows/test-lang-rust-clippy.yml
  .github/workflows/test-lang-rust-miri.yml
Labels: build

#1576 AVRO-1965: Add the unit test from the patch attached to AVRO-1965
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaBuilder.java
Labels: Java

#1566 AVRO-3416: Benchmarking project for C#
  lang/csharp/Avro.sln
  lang/csharp/README.md
  lang/csharp/src/apache/benchmark/.gitignore
  lang/csharp/src/apache/benchmark/Avro.benchmark.csproj
  lang/csharp/src/apache/benchmark/Benchmarks.cs
  lang/csharp/src/apache/benchmark/Program.cs
  lang/csharp/src/apache/benchmark/org/apache/avro/benchmark/big/mailing_address.cs
  lang/csharp/src/apache/benchmark/org/apache/avro/benchmark/big/userInfo.cs
  lang/csharp/src/apache/benchmark/org/apache/avro/benchmark/small/test.cs
  lang/csharp/src/apache/benchmark/schema/big.avsc
  lang/csharp/src/apache/benchmark/schema/small.avsc
  lang/csharp/versions.props
Labels: C#

#1580 AVRO-3433: Rust: The canonical form should preserve schema references
  lang/rust/avro/src/schema.rs
  lang/rust/avro/tests/schema.rs
Labels: Rust

#1582 [AVRO-3433][rust] Adding in Resolve Fixes and Tests
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro/tests/schema.rs
Labels: Rust

#1585 AVRO-3437: Rust: Update dependencies
  lang/rust/avro/Cargo.toml
Labels: Rust

#1573 AVRO-3370: Clarify spec with regards to permitted names
  doc/content/en/docs/next/Specification/_index.md
Labels: website

#1591 AVRO-3442: Add codec build to RAT excludes
  pom.xml
Labels: build

#1586 AVRO-3440: Fix bug in Protocol.createMessage
  lang/java/avro/src/main/java/org/apache/avro/Protocol.java
  lang/java/avro/src/test/java/org/apache/avro/TestProtocol.java
Labels: Java

#1602 [AVRO-3448][rust] Rust name/namespace spec adherence work
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_compatibility.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/util.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro/tests/schema.rs
Labels: Rust

#1595 AVRO-3446: Add avrogen unit tests
  lang/csharp/src/apache/codegen/AvroGen.cs
  lang/csharp/src/apache/main/CodeGen/CodeGenUtil.cs
  lang/csharp/src/apache/test/Avro.test.csproj
  lang/csharp/src/apache/test/AvroGen/AvroGenHelper.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenTests.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenToolTests.cs
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
  lang/csharp/versions.props
Labels: C#

#1593 AVRO-3444: Directly link to api documentation
  doc/content/en/docs/next/Contribution guidelines/_index.md
  doc/content/en/docs/next/Getting started (Java)/_index.md
  doc/content/en/docs/next/IDL Language/_index.md
  doc/content/en/docs/next/MapReduce guide/_index.md
  doc/content/en/docs/next/SASL profile/_index.md
  doc/content/en/docs/next/api-c++.md
  doc/content/en/docs/next/api-c.md
  doc/content/en/docs/next/api-csharp.md
  doc/content/en/docs/next/api-java.md
Labels: website

#1592 AVRO-3378: Map old links to new website
  doc/content/en/blog/releases/_index.md
  doc/content/en/community/_index.md
  doc/content/en/project/Credits/_index.md
  doc/content/en/project/Donate/_index.md
  doc/content/en/project/_index.md
  doc/layouts/project/list.html
Labels: website

#1590 AVRO-3441: ServiceLoader for LogicalTypeFactory
  lang/java/avro/src/main/java/org/apache/avro/LogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/DummyLogicalTypeFactory.java
  lang/java/avro/src/test/java/org/apache/avro/TestLogicalType.java
  lang/java/avro/src/test/resources/META-INF/services/org.apache.avro.LogicalTypes$LogicalTypeFactory
Labels: Java

#1609 AVRO-3461: Resolve flow namespace resolution work
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
Labels: Rust

#1608 AVRO-3451: Reuse Resolved Schemas
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/writer.rs
Labels: Rust

#1615 AVRO-3452: Implement custom deserialization for Name that employs the special parsing of name and namespace
  lang/rust/avro/src/schema.rs
  lang/rust/avro/tests/schema.rs
Labels: Rust

#1614 AVRO-3464: Print a header and use tabs as separators
  lang/rust/avro/examples/benchmark.rs
Labels: Rust

#1617 [AVRO-3466] Serialize enum and fixed with namespace
  lang/rust/avro/src/schema.rs
Labels: Rust

#1620 AVRO-3460: [rust] Value::validate does not validate against Schema Refs
  lang/rust/avro/examples/generate_interop_data.rs
  lang/rust/avro/src/types.rs
Labels: Rust

#1603 AVRO-3450: Document editor support for IDL
  doc/content/en/docs/next/IDL Language/_index.md
Labels: website

#1623 AVRO-3471: Fix microsecond logical types resolution
  lang/csharp/src/apache/main/Util/TimeMicrosecond.cs
  lang/csharp/src/apache/main/Util/TimeMillisecond.cs
  lang/csharp/src/apache/main/Util/TimestampMicrosecond.cs
  lang/csharp/src/apache/test/Util/LogicalTypeTests.cs
Labels: build, C#

#1625 AVRO-3474: Move CanRead to constructor
  lang/csharp/src/apache/main/Generic/GenericReader.cs
Labels: C#

#1621 AVRO-3469: Add .NET 7.0 prerelease support
  .github/workflows/test-lang-csharp.yml
  lang/csharp/common.props
  lang/csharp/versions.props
Labels: build, C#

#1622 AVRO-3468: Handle default values for logical types
  lang/csharp/src/apache/main/IO/Resolver.cs
  lang/csharp/src/apache/test/AvroDecimalTest.cs
  lang/csharp/src/apache/test/Generic/GenericTests.cs
  lang/csharp/src/apache/test/Specific/RecordWithOptionalLogicalType.cs
  lang/csharp/src/apache/test/Specific/SpecificTests.cs
  lang/csharp/src/apache/test/Util/LogicalTypeTests.cs
Labels: C#

#1583 AVRO-3435: Add --version to avrogen tool
  lang/c++/CMakeLists.txt
  lang/c++/impl/avrogencpp.cc
  lang/csharp/src/apache/codegen/Avro.codegen.csproj
  lang/csharp/src/apache/codegen/AvroGen.cs
  lang/csharp/src/apache/codegen/Properties/AssemblyInfo.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenToolTests.cs
  lang/csharp/src/apache/test/Utils/VersionTests.cs
Labels: C++, C#

#1627 [AVRO-3460] [rust] Follow up: reusing NameRef
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/writer.rs
Labels: Rust
