Repository apache/avro, pull requests merged in 2022-10, with the labels that each got.

#1901 AVRO-3632: [Rust] Handle defaults in unions according to the spec
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/tests/schema.rs
Labels: Rust

#1905 AVRO-3633: [Rust] Additional attributes for 'avro_derive' crate
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro_derive/Cargo.toml
  lang/rust/avro_derive/src/lib.rs
  lang/rust/avro_derive/tests/derive.rs
  lang/rust/avro_test_helper/Cargo.toml
Labels: Rust

#1906 AVRO-3634: Implement AvroSchemaComponent for bool
  lang/rust/avro/src/schema.rs
  lang/rust/avro_derive/src/lib.rs
  lang/rust/avro_derive/tests/derive.rs
Labels: Rust

#1914 AVRO-3642: [RUST] Fix GenericSingleObjectReader::read_value for non-exhaustive reads
  lang/rust/avro/src/reader.rs
Labels: Rust

#1916 AVRO-3645: [RUST] Fix deserialization of enum with unit type
  lang/rust/avro/src/de.rs
Labels: Rust

#1915 AVRO-3644: [java] Support java.util.Optional in reflect package
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectDatumReader.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectDatumWriter.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflect.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflectDatumReader.java
Labels: Java

#1865 Update blog to invite Martin Grigorov
  doc/content/en/blog/news/new-pmc-martin-grigorov.md
Labels: website

#1920 AVRO-3650: [C++] Fix build on Manjaro
  lang/c++/CMakeLists.txt
  lang/c++/impl/avrogencpp.cc
Labels: C++

#1934 Improve formatting of Avro types and JSON code
  doc/content/en/docs/++version++/Specification/_index.md
Labels: website

#1935 Improve generated comments and compiler option description
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/AbstractAvroMojo.java
Labels: Java
