Repository apache/avro, pull requests merged in 2022-08, with the labels that each got.

#1796 AVRO-3592: Add the codec packages to the tar
  lang/csharp/build.sh
Labels: build, C#

#1808 Add myself to the list of committers
  doc/content/en/project/Credits/_index.md
Labels: website

#1809 AVRO-3595: [Website] Add release notes for 1.11.1
  doc/content/en/blog/releases/avro-1.11.1-released.md
Labels: website

#1815 AVRO-3599: Rust: Make apache-avro-test-helper releasable
  lang/rust/Cargo.lock
  lang/rust/README.md
  lang/rust/avro/Cargo.toml
  lang/rust/avro/README.md
  lang/rust/avro_test_helper/Cargo.toml
Labels: Rust

#1817 AVRO-3600: UnionSchema::new method should be public
  lang/rust/avro/src/schema.rs
Labels: Rust

#1821 AVRO-3601: C++ API header contains breaking include
  .github/workflows/test-lang-c++.yml
  lang/c++/CMakeLists.txt
  lang/c++/api/CustomAttributes.hh
  lang/c++/api/CustomFields.hh
  lang/c++/api/Node.hh
  lang/c++/api/NodeImpl.hh
  lang/c++/api/Schema.hh
  lang/c++/impl/Compiler.cc
  lang/c++/impl/CustomAttributes.cc
  lang/c++/impl/CustomFields.cc
  lang/c++/impl/NodeImpl.cc
  lang/c++/impl/Schema.cc
  lang/c++/test/unittest.cc
Labels: C++, build

#1825 AVRO-3608: Rust: Fix clippy errors in Rust 1.63.0
  lang/rust/avro/src/codec.rs
  lang/rust/avro/src/duration.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
Labels: Rust

#1826 AVRO-3601: CustomAttributes#getAttribute() now returns boost::optional
  lang/c++/api/CustomAttributes.hh
  lang/c++/impl/CustomAttributes.cc
  lang/c++/test/unittest.cc
Labels: C++

#1829 AVRO-3609: [Rust] Add support for custom attributes
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_compatibility.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro/tests/schema.rs
  lang/rust/avro_derive/src/lib.rs
Labels: Rust

#1836 AVRO-3616: C++ Fix compilation warnings
  lang/c++/CMakeLists.txt
  lang/c++/api/AvroTraits.hh
  lang/c++/api/NodeImpl.hh
  lang/c++/impl/DataFile.cc
  lang/c++/impl/Resolver.cc
  lang/c++/impl/ValidSchema.cc
  lang/c++/impl/Validator.cc
  lang/c++/test/AvrogencppTestReservedWords.cc
  lang/c++/test/AvrogencppTests.cc
  lang/c++/test/CodecTests.cc
  lang/c++/test/CompilerTests.cc
  lang/c++/test/DataFileTests.cc
  lang/c++/test/JsonTests.cc
  lang/c++/test/LargeSchemaTests.cc
  lang/c++/test/SchemaTests.cc
  lang/c++/test/SpecificTests.cc
  lang/c++/test/StreamTests.cc
  lang/c++/test/buffertest.cc
  lang/c++/test/testgentest.cc
  lang/c++/test/unittest.cc
Labels: C++

#1818 AVRO-3602 Support Map(with non-String keys) and Set in ReflectDatumReader
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectDatumReader.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflectDatumReader.java
Labels: Java

#1837 AVRO: [Rust] Improved resolution of nullable record fields.
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
Labels: Rust

#1839 AVRO-3621: [Rust] do not log each error while validating against union variants
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro_test_helper/src/logger.rs
Labels: Rust

#1833 AVRO-3001 AVRO-3274 AVRO-3568 AVRO-3613: Add JSON encoder/decoder for C#
  lang/csharp/src/apache/main/Generic/GenericWriter.cs
  lang/csharp/src/apache/main/Generic/PreresolvingDatumWriter.cs
  lang/csharp/src/apache/main/IO/Encoder.cs
  lang/csharp/src/apache/main/IO/JsonDecoder.cs
  lang/csharp/src/apache/main/IO/JsonEncoder.cs
  lang/csharp/src/apache/main/IO/Parsing/JsonGrammarGenerator.cs
  lang/csharp/src/apache/main/IO/Parsing/Parser.cs
  lang/csharp/src/apache/main/IO/Parsing/SkipParser.cs
  lang/csharp/src/apache/main/IO/Parsing/Symbol.cs
  lang/csharp/src/apache/main/IO/Parsing/ValidatingGrammarGenerator.cs
  lang/csharp/src/apache/main/IO/ParsingDecoder.cs
  lang/csharp/src/apache/main/IO/ParsingEncoder.cs
  lang/csharp/src/apache/main/Schema/LogicalSchema.cs
  lang/csharp/src/apache/test/IO/JsonCodecTests.cs
  lang/csharp/src/apache/test/Schema/SchemaNormalizationTests.cs
Labels: C#
