Repository apache/avro, pull requests merged in 2022-05, with the labels that each got.

#1656 AVRO-3499 Remove unnecessary suppressions
  lang/csharp/src/apache/main/Generic/DatumWriter.cs
  lang/csharp/src/apache/main/IO/Decoder.cs
  lang/csharp/src/apache/main/IO/Encoder.cs
  lang/csharp/src/apache/main/Protocol/Message.cs
  lang/csharp/src/apache/main/Protocol/Protocol.cs
  lang/csharp/src/apache/main/Schema/EnumSchema.cs
  lang/csharp/src/apache/main/Schema/Field.cs
  lang/csharp/src/apache/main/Schema/SchemaName.cs
Labels: C#

#1626 AVRO-3475: Enforce time-millis and time-micros specification
  lang/csharp/src/apache/main/Util/LogicalUnixEpochType.cs
  lang/csharp/src/apache/main/Util/TimeMicrosecond.cs
  lang/csharp/src/apache/main/Util/TimeMillisecond.cs
  lang/csharp/src/apache/main/Util/TimestampMicrosecond.cs
  lang/csharp/src/apache/test/Util/LogicalTypeTests.cs
Labels: C#

#1672 [AVRO-3506] [rust] Single object writer
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
  lang/csharp/src/apache/test/Util/LogicalTypeTests.cs
  lang/java/avro/src/test/java/org/apache/avro/message/TestGenerateInteropSingleObjectEncoding.java
  lang/java/avro/src/test/java/org/apache/avro/message/TestInteropSingleObjectEncoding.java
  lang/rust/avro/examples/test_interop_single_object_encoding.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/writer.rs
  lang/rust/build.sh
  share/test/data/messageV1/README.md
  share/test/data/messageV1/test_message.bin
  share/test/data/messageV1/test_schema.avsc
Labels: C++, Java, build, C#, C, JS, Rust

#1679 AVRO-3511: Fix the parsing canonical form for Decimal schema
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/tests/schema.rs
Labels: Rust

#1682 [AVRO-3506] followup: Specific rename
  lang/rust/avro/examples/test_interop_single_object_encoding.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/writer.rs
Labels: Rust

#1681 [AVRO-3507] Implement Single Object reader
  lang/rust/avro/examples/test_interop_single_object_encoding.rs
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/reader.rs
  lang/rust/build.sh
Labels: build, Rust

#1683 [AVRO-3516] Fix bugs in derive macro usage
  lang/rust/avro/src/lib.rs
  lang/rust/avro_derive/Cargo.toml
  lang/rust/avro_derive/src/lib.rs
  lang/rust/build.sh
Labels: build, Rust

#1684 AVRO-3517: Do not use the default features of the dependencies
  lang/rust/avro/Cargo.toml
  lang/rust/avro_derive/Cargo.toml
Labels: Rust

#1687 AVRO-3519: Rust: Remove MIRI Github Actions check
  .github/workflows/test-lang-rust-miri.yml
Labels: build

#1685 AVRO-3512: Fix the aliases' namespace when parsing named schemata
  doc-deprecated/src/content/xdocs/spec.xml
  doc/content/en/docs/next/Specification/_index.md
  lang/rust/avro/src/schema.rs
Labels: website, Rust

#1686 AVRO-3518: Introduce a new type 'Alias'
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/util.rs
  lang/rust/avro_derive/tests/derive.rs
Labels: Rust

#1691 AVRO-3130: Rust: Add a unit test demonstrating that the schema could be parsed successfully
  lang/rust/avro/src/schema.rs
Labels: Rust

#1706 AVRO-3526: RUST: Improve schema resolution related to byte types
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/tests/io.rs
Labels: Rust
