Repository apache/avro, pull requests merged in 2022-09, with the labels that each got.

#1847 AVRO-3597: Allow custom readers to override string creation
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericDatumReader.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestSpecificDatumReader.java
Labels: Java

#1843 AVRO-3622: Fix compatibility check for schemas having or missing namespace
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibility.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemas.java
  lang/py/avro/name.py
  lang/py/avro/schema.py
  lang/py/avro/test/test_compatibility.py
  lang/py/avro/test/test_schema.py
Labels: Java, Python

#1857 AVRO-3625: [Rust] UnionSchema is nullable if any of its variants is Null
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/schema.rs
Labels: Rust

#1851 AVRO-3623: Update the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: build

#1858 AVRO-2831: add unit test on Avro
  lang/java/avro/src/main/java/org/apache/avro/Resolver.java
  lang/java/avro/src/test/java/org/apache/avro/TestResolver.java
Labels: Java

#1863 AVRO-3628: [Java] JUnit 4.x tests are not executed
  lang/java/archetypes/avro-service-archetype/src/main/pom/pom.xml
  lang/java/archetypes/avro-service-archetype/src/main/resources/archetype-resources/src/test/java/integration/SimpleOrderServiceIntegrationTest.java
  lang/java/maven-plugin/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom.xml
  lang/java/pom.xml
Labels: Java, build

#1842 AVRO-3618: Test both directBinaryDecoder and binaryDecoder
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryDecoder.java
  lang/java/avro/src/main/java/org/apache/avro/io/DirectBinaryDecoder.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestBinaryDecoder.java
Labels: Java

#1871 docs: Fix a few typos
  doc/content/en/docs/++version++/Specification/_index.md
  lang/py/avro/tether/tether_task.py
Labels: Python, website

#1870 AVRO-3624: Add apache links
  doc/config.toml
  doc/layouts/partials/footer.html
  doc/layouts/partials/navbar-asf-links.html
  doc/layouts/partials/navbar.html
Labels: website

#1888 AVRO-3630: [Rust] Make it possible to extend pre-existing Avro bytes
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro/tests/append_to_existing.rs
Labels: Rust
