Repository apache/avro, pull requests merged in 2022-12, with the labels that each got.

#1994 Code should go into code block
  doc/content/en/docs/++version++/Getting started (Python)/_index.md
Labels: website

#2005 AVRO-3681: [Python] GitHub actions failing with python 3.6
  .github/workflows/test-lang-py.yml
Labels: build

#1956 AVRO-3670: Add NET 7.0 support
  .github/workflows/codeql-csharp-analysis.yml
  .github/workflows/test-lang-csharp.yml
  .github/workflows/test-lang-java.yml
  lang/csharp/README.md
  lang/csharp/build.sh
  lang/csharp/common.props
  lang/csharp/src/apache/benchmark/Avro.benchmark.csproj
  lang/csharp/src/apache/benchmark/Program.cs
  lang/csharp/versions.props
Labels: build, C#

#1996 AVRO-3682: Remove references to Forrest
  BUILD.md
  build.sh
  doc-deprecated/.gitignore
  doc-deprecated/LICENSE
  doc-deprecated/NOTICE
  doc-deprecated/build.xml
  doc-deprecated/forrest.properties
  doc-deprecated/src/cli.xconf
  doc-deprecated/src/content/htmldocs/canonical-completeness.html
  doc-deprecated/src/content/htmldocs/performance-testing.html
  doc-deprecated/src/content/mddocs/refactoring-resolution.md
  doc-deprecated/src/content/xdocs/gettingstartedjava.xml
  doc-deprecated/src/content/xdocs/gettingstartedpython.xml
  doc-deprecated/src/content/xdocs/idl.xml
  doc-deprecated/src/content/xdocs/index.xml
  doc-deprecated/src/content/xdocs/mr.xml
  doc-deprecated/src/content/xdocs/sasl.xml
  doc-deprecated/src/content/xdocs/site.xml
  doc-deprecated/src/content/xdocs/spec.xml
  doc-deprecated/src/content/xdocs/tabs.xml
  doc-deprecated/src/resources/images/apache_feather.gif
  doc-deprecated/src/resources/images/avro-logo.png
  doc-deprecated/src/resources/images/favicon.ico
  doc-deprecated/src/skinconf.xml
  doc/LICENSE
  share/docker/DockerfileLocal
Labels: build, website

#2018 Fix minor warnings from rust 1.66.0
  .github/dependabot.yml
  lang/rust/avro/src/writer.rs
  lang/rust/avro/tests/io.rs
Labels: build, Rust

#2024 AVRO-3692: [rust] Make serde deserializer support serde flatten
  lang/rust/avro/src/de.rs
Labels: Rust

#2025 docs: fix small error
  doc/content/en/docs/++version++/SASL profile/_index.md
Labels: website

#2033 docs: use python 3 print syntax
  doc/content/en/docs/++version++/Getting started (Python)/_index.md
Labels: website

#2041 AVRO-3697: [ruby] Test against Ruby 3.2
  .github/workflows/test-lang-ruby.yml
  lang/ruby/build.sh
Labels: build, Ruby
