Repository apache/avro, pull requests merged in 2022-07, with the labels that each got.

#1744 AVRO-3556: Use absolute links for api documentation
  build.sh
  doc/content/en/docs/++version++/api-c++.md
  doc/content/en/docs/++version++/api-c.md
  doc/content/en/docs/++version++/api-csharp.md
  doc/content/en/docs/++version++/api-java.md
Labels: build, website

#1745 AVRO-3557: Trim whitespace from the avro_version shortcode
  doc/layouts/shortcodes/avro_version.html
Labels: website

#1746 Add a blog entry for Zoltan Csizmadia as a new committer
  doc/content/en/blog/news/new-committer-zoltan-csizmadia.md
Labels: website

#1747 AVRO-3558: Rust: Add a demo crate that shows usage as WebAssembly
  .github/workflows/test-lang-rust-ci.yml
  lang/rust/Cargo.toml
  lang/rust/README.md
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/ser.rs
  lang/rust/avro_derive/tests/derive.rs
  lang/rust/wasm-demo/Cargo.toml
  lang/rust/wasm-demo/README.md
  lang/rust/wasm-demo/src/lib.rs
  lang/rust/wasm-demo/tests/demos.rs
Labels: build, Rust

#1749 AVRO-3559: Fix links to "Getting started ..." on the home page
  doc/content/en/_index.html
Labels: website

#1618 AVRO-3266: Work with hadoop 3.x PathOutputComitters
  lang/java/mapred/src/main/java/org/apache/avro/mapreduce/AvroOutputFormatBase.java
Labels: Java

#1751 AVRO-3564: Update minimal supported Rust version in Docker to 1.54.0
  share/docker/Dockerfile
Labels: build

#1348 AVRO-3219: Add nullable enum type field support in Avro.Reflect
  lang/csharp/src/apache/main/Reflect/ClassCache.cs
  lang/csharp/src/apache/test/Reflect/TestReflect.cs
Labels: C#

#1755 AVRO-2774: Generate @Overrides annotations
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificExceptionBase.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/enum.vm
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/compiler/src/test/java/org/apache/avro/specific/TestSpecificData.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/FieldTest.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/Player.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/Position.java
  lang/java/tools/src/test/compiler/output/AddExtraOptionalGettersTest.java
  lang/java/tools/src/test/compiler/output/NoSettersTest.java
  lang/java/tools/src/test/compiler/output/OptionalGettersAllFieldsTest.java
  lang/java/tools/src/test/compiler/output/OptionalGettersNullableFieldsTest.java
  lang/java/tools/src/test/compiler/output/Player.java
  lang/java/tools/src/test/compiler/output/Position.java
Labels: Java

#1762 AVRO-3574: Add Cargo.lock to Git
  lang/rust/.gitignore
  lang/rust/Cargo.lock
Labels: Rust

#1769 AVRO-3579: Migrate tests to JUnit5
  lang/java/avro/src/test/java/org/apache/avro/TestDataFile.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFileMeta.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericLogicalTypes.java
  lang/java/pom.xml
Labels: Java, build

#1773 AVRO-3581: Fix Velocity configuration warnings
  lang/java/ipc/src/main/java/org/apache/avro/ipc/stats/StatsServlet.java
Labels: Java

#1775 Avro 3584 rust unit test
  lang/rust/avro/src/schema.rs
Labels: Rust

#1778 AVRO-3585: Add support for encoding Value::String as Schema::Uuid
  lang/rust/avro/src/encode.rs
Labels: Rust

#1783 AVRO-3586: Pin output timestamp to make the Java build reproducible
  .github/workflows/test-lang-java.yml
  lang/java/pom.xml
  lang/java/trevni/core/src/main/java/org/apache/trevni/InputBuffer.java
  pom.xml
Labels: Java, build

#1736 AVRO-3547: Add support for custom attributes in Avro Schema
  lang/c++/CMakeLists.txt
  lang/c++/api/CustomFields.hh
  lang/c++/api/Node.hh
  lang/c++/api/NodeImpl.hh
  lang/c++/api/Schema.hh
  lang/c++/impl/Compiler.cc
  lang/c++/impl/CustomFields.cc
  lang/c++/impl/NodeImpl.cc
  lang/c++/impl/Schema.cc
  lang/c++/test/SchemaTests.cc
  lang/c++/test/unittest.cc
Labels: C++

#1779 Fix possible heap-buffer-overflow in avro::DataFileReaderBase::readDataBlock()
  lang/c++/impl/DataFile.cc
Labels: C++

#1789 AVRO-3589: Update github actions versions
  .github/dependabot.yml
  .github/workflows/codeql-csharp-analysis.yml
  .github/workflows/codeql-java-analysis.yml
  .github/workflows/codeql-js-analysis.yml
  .github/workflows/codeql-py-analysis.yml
  .github/workflows/java-publish-snapshot.yml
  .github/workflows/labeler.yml
  .github/workflows/rat.yml
  .github/workflows/spotless.yml
  .github/workflows/test-lang-c++.yml
  .github/workflows/test-lang-c.yml
  .github/workflows/test-lang-csharp.yml
  .github/workflows/test-lang-java.yml
  .github/workflows/test-lang-js.yml
  .github/workflows/test-lang-perl.yml
  .github/workflows/test-lang-php.yml
  .github/workflows/test-lang-py.yml
  .github/workflows/test-lang-ruby.yml
  .github/workflows/test-lang-rust-audit.yml
  .github/workflows/test-lang-rust-ci.yml
  .github/workflows/test-lang-rust-clippy.yml
Labels: build
