Repository apache/avro, pull requests merged in 2022-11, with the labels that each got.

#1941 AVRO-3661: [Rust] Fix new clippy errors introduced with Rust 1.65
  lang/rust/avro/benches/serde.rs
  lang/rust/avro/benches/serde_json.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/schema.rs
Labels: Rust

#1866 AVRO-3532: Test field names in C#
  lang/csharp/src/apache/test/Generic/GenericRecordTests.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
Labels: C#

#1945 AVRO-3663: [Rust] Allow raw identifiers as field names
  lang/rust/avro_derive/src/lib.rs
  lang/rust/avro_derive/tests/derive.rs
Labels: Rust

#1948 AVRO-3653: [CI] Remove Travis-ci config files
  .travis.yml
  .travis/before_install.sh
  pom.xml
Labels: build

#1953 Use fully qualified names for darling::FromAttributes and syn::Error
  lang/rust/avro_derive/src/lib.rs
Labels: Rust

#1949 AVRO-3646: integration tests for (de)serializing of enum with mixed variants
  .github/workflows/test-lang-rust-audit.yml
  .github/workflows/test-lang-rust-ci.yml
  .github/workflows/test-lang-rust-clippy.yml
  lang/rust/avro/src/ser.rs
  lang/rust/avro/tests/serde_enum.rs
  lang/rust/avro/tests/serde_enum_with_duplicates.rs
Labels: build, Rust

#1952 AVRO-3669: [python] Add py.typed marker file (PEP561 compliance)
  lang/py/MANIFEST.in
  lang/py/avro/py.typed
  pom.xml
Labels: build, Python

#1961 AVRO-3672: Add CI testing for Python 3.11
  .github/workflows/test-lang-py.yml
  lang/py/avro/compatibility.py
  lang/py/setup.cfg
Labels: build, Python

#1963 AVRO-3662: It seems Ruby 2.6 sometimes retains '2'
  lang/ruby/test/test_logical_types.rb
Labels: Ruby

#1965 Add README example for usage of recursive schemata in JS
  lang/js/README.md
Labels: JS

#1721 AVRO-3536: Inherit conversions for Union type
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestSpecificRecordWithUnion.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestUnionRecord.java
  lang/java/avro/src/test/resources/TestUnionRecord.avsc
Labels: Java

#1971 AVRO-3674: [Rust] Pass the correct enclosing namespace when validating and resolving
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/writer.rs
Labels: Rust

#1979 AVRO-3676: Produce valid toString() for UUID JSON
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericData.java
Labels: Java

#1983 Bump Maven plugin versions and maven version for the docker based build
  .mvn/extensions.xml
  lang/java/pom.xml
  pom.xml
  share/docker/Dockerfile
Labels: Java, build

#1991 AVRO-3678: [Rust] Support writing float value to field defined as double
  lang/rust/avro/src/types.rs
Labels: Rust

#1992 AVRO-3679: [Rust] Enable 'perf' feature of regex dependency
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
Labels: Rust
