Repository apache/avro, pull requests merged in 2022-04, with the labels that each got.

#1636 AVRO-3483: [Rust] Log error messages with a reason when the validation fails
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/writer.rs
Labels: Rust

#1605 AVRO-3453: Add GeneratedCodeAttribute to generated code by avrogen
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/main/CodeGen/CodeGenUtil.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenHelper.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenTests.cs
Labels: C#

#1638 AVRO-265: Protocol.toJson writes null namespace
  lang/java/avro/src/main/java/org/apache/avro/Protocol.java
  lang/java/compiler/src/test/idl/output/reservedwords.avpr
  lang/java/compiler/src/test/idl/output/unicode.avpr
Labels: Java

#1640 AVRO-3487: Update Jackson to 2.12.6.1
  lang/java/archetypes/avro-service-archetype/src/main/pom/pom.xml
  lang/java/pom.xml
Labels: Java, build

#1643 AVRO-3489: [JavaScript] Replace istanbul with nyc for code coverage
  lang/js/package-lock.json
  lang/js/package.json
Labels: JS

#1642 AVRO-3488 Fix spelling mistakes
  lang/csharp/CodeAnalysis.src.globalconfig
  lang/csharp/CodeAnalysis.test.globalconfig
  lang/csharp/src/apache/codegen/Avro.codegen.csproj
  lang/csharp/src/apache/codegen/AvroGen.cs
  lang/csharp/src/apache/main/CodeGen/CodeGenUtil.cs
  lang/csharp/src/apache/main/File/IFileReader.cs
  lang/csharp/src/apache/main/Generic/GenericReader.cs
  lang/csharp/src/apache/main/Generic/GenericWriter.cs
  lang/csharp/src/apache/main/Generic/PreresolvingDatumReader.cs
  lang/csharp/src/apache/main/Generic/PreresolvingDatumWriter.cs
  lang/csharp/src/apache/main/IO/ByteBufferInputStream.cs
  lang/csharp/src/apache/main/IO/Decoder.cs
  lang/csharp/src/apache/main/IO/Encoder.cs
  lang/csharp/src/apache/main/Reflect/ArraySchemaExtensions.cs
  lang/csharp/src/apache/main/Reflect/ClassCache.cs
  lang/csharp/src/apache/main/Reflect/DotnetClass.cs
  lang/csharp/src/apache/main/Reflect/EnumCache.cs
  lang/csharp/src/apache/main/Reflect/README.md
  lang/csharp/src/apache/main/Reflect/ReflectDefaultReader.cs
  lang/csharp/src/apache/main/Reflect/ReflectReader.cs
  lang/csharp/src/apache/main/Schema/JsonHelper.cs
  lang/csharp/src/apache/main/Schema/Property.cs
  lang/csharp/src/apache/main/Schema/RecordSchema.cs
  lang/csharp/src/apache/main/Schema/SchemaName.cs
  lang/csharp/src/apache/main/Schema/SchemaNormalization.cs
  lang/csharp/src/apache/main/Schema/UnionSchema.cs
  lang/csharp/src/apache/main/Specific/SpecificReader.cs
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
  lang/csharp/src/apache/test/File/FileTests.cs
  lang/csharp/src/apache/test/IO/BinaryCodecTests.cs
  lang/csharp/src/apache/test/Specific/SpecificTests.cs
  lang/csharp/src/apache/test/Util/LogicalTypeTests.cs
  lang/csharp/src/apache/test/Utils/VersionTests.cs
  lang/csharp/versions.props
Labels: C#

#1647 AVRO-3492: Add support for deriving Schema::Record aliases
  lang/rust/avro_derive/src/lib.rs
  lang/rust/avro_derive/tests/derive.rs
Labels: Rust

#1648 AVRO-3494: Uncomment a test for recursive types
  lang/rust/avro/tests/schema.rs
Labels: Rust

#1649 AVRO-3492: Add logic to derive the aliases for Schema::Enum
  lang/rust/avro_derive/src/lib.rs
  lang/rust/avro_derive/tests/derive.rs
Labels: Rust

#1565 AVRO-3415: Add code coverage report support for csharp
  lang/csharp/.gitignore
  lang/csharp/CODECOVERAGE.md
  lang/csharp/src/apache/test/Avro.test.csproj
  lang/csharp/versions.props
Labels: C#

#1534 AVRO-3384: Define C# Coding Style Guidelines
  .editorconfig
  lang/csharp/README.md
  lang/csharp/STYLING.md
Labels: C#

#1571 AVRO-3424: Added support to parse string into Schema.Type
  lang/csharp/src/apache/main/Schema/Schema.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
Labels: C#

#1596 AVRO-3003: Fully qualify enum default value in C# code gen
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenTests.cs
Labels: C#

#1606 AVRO-3458: Added tests for GenericRecord
  lang/csharp/src/apache/test/Generic/GenericRecordTests.cs
Labels: C#

#1597 AVRO-2211: SchemaBuilder equivalent or other means of schema creation
  lang/csharp/src/apache/main/AssemblyInfo.cs
  lang/csharp/src/apache/main/Schema/Aliases.cs
  lang/csharp/src/apache/main/Schema/ArraySchema.cs
  lang/csharp/src/apache/main/Schema/EnumSchema.cs
  lang/csharp/src/apache/main/Schema/Field.cs
  lang/csharp/src/apache/main/Schema/FixedSchema.cs
  lang/csharp/src/apache/main/Schema/MapSchema.cs
  lang/csharp/src/apache/main/Schema/PrimitiveSchema.cs
  lang/csharp/src/apache/main/Schema/RecordSchema.cs
  lang/csharp/src/apache/main/Schema/UnionSchema.cs
  lang/csharp/src/apache/test/Avro.test.csproj
  lang/csharp/src/apache/test/Schema/AliasesTests.cs
  lang/csharp/src/apache/test/Schema/SchemaTests.cs
Labels: C#

#1635 AVRO-3841: Try exact schema match first in union type
  lang/csharp/src/apache/main/Schema/UnionSchema.cs
  lang/csharp/src/apache/test/Generic/GenericTests.cs
  lang/csharp/src/apache/test/Specific/DoubleLongUnionRecord.cs
  lang/csharp/src/apache/test/Specific/SpecificTests.cs
Labels: C#

#1650 AVRO-3495: Rust: Fields order should not matter
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/tests/schema.rs
  lang/rust/avro_derive/src/lib.rs
Labels: Rust

#1645 AVRO-3491 Avoid a cast after is check
  lang/csharp/src/apache/main/Generic/GenericDatumReader.cs
  lang/csharp/src/apache/main/Generic/PreresolvingDatumReader.cs
Labels: C#

#1652 AVRO-3496: Rust: Use visitor.visit_borrowed_str() when possible
  lang/rust/avro/src/de.rs
Labels: Rust

#1629 AVRO-3477: Add unit tests for logical types with fixed base type
  lang/csharp/src/apache/test/AvroGen/AvroGenTests.cs
  lang/csharp/src/apache/test/Util/LogicalTypeTests.cs
Labels: C#

#1616 AVRO-3465: Add avrogen protocol tests
  lang/csharp/src/apache/test/AvroGen/AvroGenHelper.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenProtocolTests.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenSchemaTests.cs
Labels: C#

#1651 AVRO-3484: Add support for deriving a default value for a record field
  lang/rust/avro_derive/Cargo.toml
  lang/rust/avro_derive/src/lib.rs
  lang/rust/avro_derive/tests/derive.rs
Labels: Rust

#1658 AVRO-3497 Simplify conditional expression
  lang/csharp/src/apache/main/Generic/GenericEnum.cs
  lang/csharp/src/apache/test/Generic/GenericEnumTests.cs
Labels: C#

#1659 AVRO-3500: Use property-based testing for the IT tests in avro_derive module
  lang/rust/avro/tests/schema.rs
  lang/rust/avro_derive/Cargo.toml
  lang/rust/avro_derive/tests/derive.rs
Labels: Rust

#1661 AVRO-3501: Rust: Cache ~/.cargo and target folder for faster builds
  .github/workflows/test-lang-rust-ci.yml
Labels: build

#1657 AVRO-3498 Deprecate NameCtorKey
  lang/csharp/src/apache/main/Specific/ObjectCreator.cs
Labels: C#

#1644 AVRO-3490 Updated to use throw expressions
  lang/csharp/src/apache/main/Schema/ArraySchema.cs
  lang/csharp/src/apache/main/Schema/Field.cs
  lang/csharp/src/apache/main/Schema/LogicalSchema.cs
  lang/csharp/src/apache/main/Schema/MapSchema.cs
Labels: C#

#1668 AVRO-3484: Followup Check default json parsing at compile time for derive macro
  lang/rust/avro_derive/src/lib.rs
Labels: Rust

#1578 AVRO-3427: skip creation of namespace directories for csharp schema
  lang/csharp/src/apache/codegen/AvroGen.cs
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenHelper.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenSchemaTests.cs
  lang/csharp/src/apache/test/AvroGen/AvroGenToolTests.cs
Labels: C#

#1639 AVRO-3482: Reuse MAGIC in DataFileReader
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileReader.java
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileReader12.java
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileStream.java
Labels: Java

#921 AVRO-2870: Avoid throwing from destructor in DataFileWriterBase
  lang/c++/impl/DataFile.cc
Labels: C++
