Repository apache/avro, pull requests merged in 2023-12, with the labels that each got.

#2599 AVRO-3912: Fix Big decimal deser
  lang/rust/avro/src/bigdecimal.rs
  lang/rust/avro/src/decimal.rs
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/tests/bigdec.avro
  lang/rust/avro/tests/shared.rs
Labels: Rust

#2594 AVRO-3554: Use new project logo on website
  doc/assets/icons/logo-black-text.png
  doc/assets/icons/logo-text.svg
  doc/assets/icons/logo-white-text.png
  doc/assets/icons/logo.png
  doc/assets/icons/logo.svg
  doc/assets/scss/PTMono-Regular.ttf
  doc/assets/scss/_styles_project.scss
  doc/config.toml
  doc/content/en/blog/news/new-project-logo.md
  doc/content/en/docs/++version++/logo.svg
  doc/layouts/partials/navbar.html
  doc/layouts/shortcodes/project_logo.html
  lang/php/README.md
Labels: PHP, website

#2609 AVRO-3915: [Rust] Extract dependencies used by more than one member crates into the workspace
  lang/rust/Cargo.toml
  lang/rust/avro/Cargo.toml
  lang/rust/avro_derive/Cargo.toml
  lang/rust/avro_test_helper/Cargo.toml
Labels: Rust

#2554 AVRO-3884: Add `local-timestamp-nanos` and `timestamp-nanos`
  doc/content/en/docs/++version++/Specification/_index.md
Labels: website

#2611 AVRO-3916: [Rust] Add TimestampNanos types
  lang/rust/avro/README.md
  lang/rust/avro/src/de.rs
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
Labels: Rust

#2461 AVRO-3839: [Rust] Replace lazy_static crate with std::sync::OnceLock
  .github/workflows/test-lang-rust-ci.yml
  .github/workflows/test-lang-rust-clippy.yml
  lang/rust/Cargo.lock
  lang/rust/Cargo.toml
  lang/rust/avro/Cargo.toml
  lang/rust/avro/README.md
  lang/rust/avro/src/rabin.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/tests/io.rs
  lang/rust/avro/tests/schema.rs
  lang/rust/avro_test_helper/Cargo.toml
  lang/rust/avro_test_helper/src/logger.rs
  share/docker/Dockerfile
Labels: build, Rust

#2608 AVRO-3914: Add nanos support for the Java SDK
  lang/java/avro/src/main/java/org/apache/avro/LogicalTypes.java
  lang/java/avro/src/main/java/org/apache/avro/data/TimeConversions.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/protobuf/src/main/java/org/apache/avro/protobuf/ProtoConversions.java
Labels: Java

#2633 AVRO-3917: [Rust] take field aliases into account when calculating schema compatibilities
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

#1527 AVRO-3377: Deserialization of record of mangled Java class throws ClassCastException
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestSpecificData.java
  lang/java/avro/src/test/java/org/apache/avro/specific/int$.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/schema/Schemas.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  pom.xml
Labels: Java, build

#2646 AVRO-3919: [Spec] Clarify UUID type
  doc/content/en/docs/++version++/Specification/_index.md
Labels: website

#2655 AVRO-3921: [ruby] Test against Ruby 3.3
  .github/workflows/test-lang-ruby.yml
  lang/ruby/test/test_logical_types.rb
Labels: build, Ruby
