Repository apache/avro, pull requests merged in 2023-07, with the labels that each got.

#2329 AVRO-3793: [Rust] Bump minimum supported version of Rust to 1.65.0
  .github/workflows/test-lang-rust-ci.yml
  BUILD.md
  lang/rust/Cargo.toml
  lang/rust/avro/Cargo.toml
  lang/rust/avro/README.md
  lang/rust/avro_derive/Cargo.toml
  lang/rust/avro_test_helper/Cargo.toml
  lang/rust/fuzz/Cargo.toml
  lang/rust/wasm-demo/Cargo.toml
  share/docker/Dockerfile
Labels: build, Rust

#2330 AVRO-3794: [Rust] Do not fail the shared tests when the shared folder is not available
  lang/rust/avro/tests/shared.rs
Labels: Rust

#2333 AVRO-3787: [Rust] Deserialization fails to use default if an enum in a record in a union is given an unknown symbol
  lang/rust/avro/src/types.rs
  lang/rust/avro/tests/avro-3787.rs
Labels: Rust

#2318 AVRO-3789: [java] fix map comparison in GenericData
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericData.java
Labels: Java

#2334 AVRO-3795: [Java] Raise exception for nonexistent imports in maven-plugin
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/AbstractAvroMojo.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestSchemaMojo.java
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-nonexistent-file.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-nonexistent-second-file.xml
Labels: Java

#2349 AVRO-3797: Add Python 3.11 to tox.ini
  lang/py/tox.ini
Labels: Python

#2348 AVRO-3796: Use Property Decorator
  lang/py/avro/ipc.py
  lang/py/avro/schema.py
Labels: Python

#2352 AVRO-3799: [Rust] Enable the schema parser to read and parse from input streams for Rust binding
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/tests/schema.rs
Labels: Rust

#1181 AVRO-1938: Add fingerprinting support to Python implementation
  lang/py/avro/errors.py
  lang/py/avro/schema.py
  lang/py/avro/test/test_schema.py
Labels: Python

#2371 AVRO-3806: Add Python 3.11 to Dockerfile
  share/docker/Dockerfile
Labels: build

#2363 AVRO-3807 Cleanup Unused Imports and Variable Assignments
  lang/py/avro/datafile.py
  lang/py/avro/io.py
  lang/py/avro/ipc.py
  lang/py/avro/schema.py
  lang/py/avro/test/test_protocol.py
  lang/py/avro/test/test_schema.py
  lang/py/avro/test/test_tether_task.py
  lang/py/avro/test/test_tether_task_runner.py
  lang/py/avro/tether/__init__.py
  lang/py/avro/tether/tether_task.py
  lang/py/avro/tether/tether_task_runner.py
  lang/py/avro/utils.py
  lang/py/pyproject.toml
  lang/py/setup.cfg
  lang/py/setup.py
  lang/py/tox.ini
Labels: Python

#2367 AVRO-1737 Implement Hashable for Schema
  lang/py/avro/schema.py
  lang/py/avro/test/test_schema.py
Labels: Python

#2370 AVRO-312 Python Sphinx Documentation
  BUILD.md
  doc/content/en/docs/++version++/api-py.md
  lang/py/build.sh
  lang/py/docs/Makefile
  lang/py/docs/make.bat
  lang/py/docs/source/_static/.gitignore
  lang/py/docs/source/automodule.rst
  lang/py/docs/source/conf.py
  lang/py/docs/source/index.rst
  lang/py/docs/source/intro.rst
  lang/py/tox.ini
Labels: build, Python, website

#2374 AVRO-3809: [Rust] Fix validate record reference with implicit namespace
  lang/rust/avro/src/types.rs
Labels: Rust

#2373 AVRO-3808: Drop Python 3.6, Update Pypy
  .github/workflows/test-lang-py.yml
  lang/py/setup.cfg
  lang/py/tox.ini
  share/docker/Dockerfile
Labels: build, Python

#2366 AVRO-2284: fix unit test code
  lang/java/avro/src/test/java/org/apache/avro/TestReadingWritingDataInEvolvedSchemas.java
Labels: Java

#2381 AVRO-312: Fix Bug in Py Doc Build
  lang/py/build.sh
Labels: build, Python

#2383 AVRO-3812: [Rust] Handle null namespace properly for canonicalized schema representation
  lang/rust/avro/src/schema.rs
Labels: Rust

#2395 AVRO-3815: [Doc] Fix broken indentation in the specification doc
  doc/content/en/docs/++version++/Specification/_index.md
Labels: website

#2400 AVRO-2731: [Java] initialize hashmap with good capacity
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/compiler/src/test/java/org/apache/avro/specific/TestGeneratedCode.java
  lang/java/compiler/src/test/resources/full_record_v2.avsc
Labels: Java

#2397 AVRO-2764: [Java] explain union for clearer error message.
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/test/java/org/apache/avro/TestUnionError.java
Labels: Java

#2393 AVRO-2712: [Java] maven-plugin allow extends custom class
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/SchemaMojo.java
  lang/java/maven-plugin/src/test/avro/extends/Custom.avsc
  lang/java/maven-plugin/src/test/java/org/apache/avro/custom/CustomRecordBase.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestSchemaMojo.java
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-customExtends.xml
Labels: Java

#2382 AVRO-3811: [Java][Doc] Mention about xz and zstandard as default registerd codecs in JavaDoc
  lang/java/avro/src/main/java/org/apache/avro/file/CodecFactory.java
Labels: Java

#2355 AVRO-3801: [java] change method signature
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchema.java
  lang/java/compiler/src/main/javacc/org/apache/avro/compiler/idl/idl.jj
Labels: Java

#2343 AVRO-3788: escape 'code extracts' in Javadoc
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/tools/src/test/compiler/input/optionalgettersnullablefieldstest.avsc
  lang/java/tools/src/test/compiler/output/OptionalGettersNullableFieldsTest.java
Labels: Java

#2405 AVRO-3818: [Rust] Let inner named types inherit their enclosing namespace if they have no their own namespace
  lang/rust/avro/src/schema.rs
Labels: Rust
