Repository apache/avro, pull requests merged in 2023-05, with the labels that each got.

#2204 [hotfix][java][test] RecordWithTimestamps#equals should compare its own localDateTime with that.localDateTime
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflectLogicalTypes.java
Labels: Java

#2221 AVRO-3755: [Rust] Deserialization fails for reader schema with namespace
  lang/rust/avro/src/schema.rs
Labels: Rust

#2223 AVRO-3757: [rust] Update syn to 2.x
  lang/rust/Cargo.lock
  lang/rust/avro/src/de.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro_derive/Cargo.toml
  lang/rust/avro_derive/src/lib.rs
  lang/rust/avro_derive/tests/derive.rs
Labels: Rust

#2202 AVRO-3747: [Rust] Set `is_human_readable` hint to `false` for `Value`
  doc/content/en/project/Contributors onboarding guide/_index.md
  lang/rust/avro/src/de.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/ser.rs
  lang/rust/avro/src/util.rs
Labels: website, Rust

#2225 AVRO-3758: [Rust] use atomic types instead of static mut
  lang/rust/avro/src/de.rs
  lang/rust/avro/src/ser.rs
  lang/rust/avro/src/util.rs
Labels: Rust

#2241 AVRO-3759: Add extra types for RecordSchema, EnumSchema, FixedSchema and DecimalSchema
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_compatibility.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro/tests/schema.rs
  lang/rust/avro_derive/src/lib.rs
  lang/rust/avro_derive/tests/derive.rs
Labels: Rust

#2191 AVRO-3736: [Ruby] Preinstall gems in ubertool docker
  build.sh
  share/docker/Dockerfile
Labels: build

#2263 AVRO-3766: [Rust] Print friendlier errors when test cases fail
  lang/rust/Cargo.lock
  lang/rust/avro/examples/benchmark.rs
  lang/rust/avro/examples/generate_interop_data.rs
  lang/rust/avro/examples/test_interop_data.rs
  lang/rust/avro/src/codec.rs
  lang/rust/avro/src/de.rs
  lang/rust/avro/src/decimal.rs
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_compatibility.rs
  lang/rust/avro/src/ser.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/util.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro/tests/append_to_existing.rs
  lang/rust/avro/tests/io.rs
  lang/rust/avro/tests/schema.rs
  lang/rust/avro/tests/shared.rs
  lang/rust/avro/tests/to_from_avro_datum_schemata.rs
  lang/rust/avro_test_helper/Cargo.toml
  lang/rust/avro_test_helper/src/lib.rs
Labels: Rust
