Repository apache/avro, pull requests merged in 2023-02, with the labels that each got.

#2079 AVRO-3712: Fix C++ build by initializing union
  lang/c++/api/Reader.hh
Labels: C++

#1850 AVRO-3591: start with commons schemas
  lang/c/tests/CMakeLists.txt
  lang/c/tests/test_avro_commons_schema.c
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCommons.java
  lang/rust/avro/tests/shared.rs
  share/test/data/schemas/README.md
  share/test/data/schemas/simple/README.md
  share/test/data/schemas/simple/data.avro
  share/test/data/schemas/simple/schema.json
  share/test/data/schemas/withUnion/README.md
  share/test/data/schemas/withUnion/data.avro
  share/test/data/schemas/withUnion/schema.json
Labels: Java, C, Rust

#2064 AVRO-3706: accept space in folder name
  lang/java/compiler/src/main/javacc/org/apache/avro/compiler/idl/idl.jj
  lang/java/compiler/src/test/idl/work space/level1.avdl
  lang/java/compiler/src/test/idl/work space/level2.avdl
  lang/java/compiler/src/test/idl/work space/root.avdl
  lang/java/compiler/src/test/idl/work space/root.avpr
  lang/java/compiler/src/test/java/org/apache/avro/compiler/idl/TestIdl.java
Labels: Java

#2087 AVRO-3709: [Rust] Add aliases to record fields
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/tests/schema.rs
  lang/rust/avro_derive/src/lib.rs
Labels: Rust

#2088 AVRO-3646: [Rust] Add missing pattern match branches
  lang/rust/avro/src/de.rs
Labels: Rust

#2099 AVRO-3711: [Docs] Add uuid logical type to IDL
  doc/content/en/docs/++version++/IDL Language/_index.md
Labels: website

#2100 doc: Fix invalid JSON in spec
  doc/content/en/docs/++version++/Specification/_index.md
Labels: website

#2086 [C++] Fix compiler warning
  lang/c++/api/buffer/Buffer.hh
Labels: C++

#2090 AVRO-3713: [Java] Fix Map synchronization regression
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/main/java/org/apache/avro/util/springframework/Assert.java
  lang/java/avro/src/main/java/org/apache/avro/util/springframework/ConcurrentReferenceHashMap.java
  lang/java/avro/src/main/java/org/apache/avro/util/springframework/ObjectUtils.java
  lang/java/avro/src/test/java/org/apache/avro/util/springframework/ComparableComparator.java
  lang/java/avro/src/test/java/org/apache/avro/util/springframework/NullSafeComparator.java
  lang/java/avro/src/test/java/org/apache/avro/util/springframework/StopWatch.java
  lang/java/avro/src/test/java/org/apache/avro/util/springframework/TestConcurrentReferenceHashMap.java
Labels: Java

#2013 Fix NPE when basic type with Nullable annotation.
  lang/java/avro/src/main/java/org/apache/avro/reflect/FieldAccess.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/FieldAccessReflect.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/FieldAccessUnsafe.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflectDatumReader.java
Labels: Java

#2015 AVRO-3690: [lang/java/avro] Fix flaky test ‘testMultipleFieldAliases’
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflect.java
Labels: Java

#2000 AVRO-3684: [Java] testAppendStream test
  lang/java/avro/src/test/java/org/apache/avro/TestDataFile.java
Labels: Java

#2107 AVRO-3690: Fix spotless problem
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflect.java
Labels: Java

#2109 AVRO-3690: [Java] Fix testMultipleFieldAliases test
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestReflect.java
Labels: Java

#2110 AVRO-3718: [Java] Fix flaky NettyServer test
  lang/java/ipc-netty/src/test/java/org/apache/avro/ipc/netty/TestNettyServer.java
Labels: Java

#2119 AVRO-2404: Remove now obsolete Apache Rat workaround
  pom.xml
Labels: build
