Repository apache/avro, pull requests merged in 2023-03, with the labels that each got.

#2042 [doc] Change index.md to add a schema for data blocks
  doc/content/en/docs/++version++/Specification/_index.md
Labels: website

#974 AVRO-2943 improve GenericRecord MAP type comparison
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericData.java
Labels: Java

#2014 AVRO-3683: [Rust] Read/Write with multiple schemas
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro/tests/to_from_avro_datum_schemata.rs
Labels: Rust

#2135 AVRO-3721: add method to JsonProperties
  lang/java/avro/src/main/java/org/apache/avro/JsonProperties.java
  lang/java/avro/src/main/java/org/apache/avro/LogicalTypes.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaBuilder.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/schema/Schemas.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
Labels: Java

#2137 AVRO-2943: Add new GenericData String/Utf8 ARRAY comparison test
  lang/java/avro/src/test/java/org/apache/avro/generic/TestGenericData.java
Labels: Java

#2145 AVRO-3264: Improvements to the project section of the Avro website
  doc/content/en/_index.html
  doc/content/en/community/_index.md
  doc/content/en/project/Articles/_index.md
  doc/content/en/project/Committer onboarding guide/_index.md
  doc/content/en/project/Contributors onboarding guide /_index.md
  doc/content/en/project/Donate/_index.md
  doc/content/en/project/Events/_index.md
  doc/content/en/project/How to contribute/_index.md
  doc/content/en/project/License/_index.md
  doc/content/en/project/Papers/_index.md
  doc/content/en/project/Privacy policy/_index.md
  doc/content/en/project/Security/_index.md
  doc/content/en/project/Thanks/_index.md
  doc/content/en/project/pmc onboarding guide/_index.md
Labels: website

#2157 AVRO-3725: fix documentation of functions and variables
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/schema.rs
Labels: Rust

#2161 AVRO-3724 Fix C# JsonEncoder for nested array of records
  lang/csharp/src/apache/main/Specific/SpecificDatumWriter.cs
  lang/csharp/src/apache/test/IO/JsonCodecTests.cs
Labels: C#

#2162 AVRO-3727: Add RollForward option to avrogen
  lang/csharp/src/apache/codegen/Avro.codegen.csproj
Labels: C#
