Repository apache/avro, pull requests merged in 2023-01, with the labels that each got.

#2040 AVRO-3696: [py] Replace tox-wheel with standard tox
  .github/workflows/test-lang-java.yml
  .github/workflows/test-lang-js.yml
  .github/workflows/test-lang-py.yml
  share/docker/Dockerfile
Labels: build

#2039 AVRO-3229: [py] Raise on invalid enum default only if validation enabled
  lang/py/avro/schema.py
Labels: Python

#2045 AVRO-3278: [ruby] Drop support for Ruby 2.6
  .github/workflows/test-lang-ruby.yml
  BUILD.md
  lang/ruby/.rubocop.yml
  lang/ruby/avro.gemspec
  lang/ruby/build.sh
  lang/ruby/test/test_logical_types.rb
Labels: build, Ruby

#1867 AVRO-3611: fix generator
  lang/java/avro/src/main/java/org/apache/avro/util/RandomData.java
Labels: Java

#1932 AVRO-3649: default value for union type should match any type inside the union type.
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/tests/schema.rs
Labels: Rust

#1742 AVRO-3527: Optimize GenericData.hashCode
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
Labels: Java

#2036 [AVRO-3701] Add github action to validate maven 4 build compatibility
  .github/workflows/maven4.yml
  pom.xml
Labels: build

#2047 Add myself to the list of committers
  doc/content/en/project/Credits/_index.md
Labels: website

#2046 AVRO-3700: Publish Java SBOM artifacts with CycloneDX
  pom.xml
Labels: build

#2049 AVRO-3700: Move CycloneDX configuration to Java specific project
  lang/java/pom.xml
  pom.xml
Labels: Java, build

#2048 AVRO-3698: SpecificData.getClassName must replace reserved words
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestSpecificData.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
Labels: Java

#2034 AVRO-3693: Include structName in invalid union type exception text
  lang/c++/impl/avrogencpp.cc
Labels: C++

#2065 [AVRO-3708]: [Rust] Fix clippy warnings introduced with Rust 1.67.0
  lang/rust/avro/Cargo.toml
  lang/rust/avro/examples/benchmark.rs
  lang/rust/avro/examples/generate_interop_data.rs
  lang/rust/avro/examples/test_interop_single_object_encoding.rs
  lang/rust/avro/examples/to_value.rs
  lang/rust/avro/src/de.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_compatibility.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro/tests/append_to_existing.rs
  lang/rust/avro/tests/io.rs
  lang/rust/avro/tests/schema.rs
  lang/rust/avro_derive/Cargo.toml
  lang/rust/avro_derive/src/lib.rs
  lang/rust/avro_derive/tests/derive.rs
  lang/rust/avro_test_helper/Cargo.toml
  lang/rust/avro_test_helper/src/logger.rs
  lang/rust/fuzz/Cargo.toml
  lang/rust/wasm-demo/Cargo.toml
Labels: Rust

#2055 Avro 3705 cpp17 option
  lang/c++/impl/avrogencpp.cc
Labels: C++
