Repository apache/avro, pull requests merged in 2023-06, with the labels that each got.

#2266 Avro-3767 [Rust] fix complex Ref resolving in Union
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
Labels: Rust

#2280 AVRO-3772: [Rust] Deserialize Errors for an Unknown Enum Symbol instead of Returning Default
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/schema_compatibility.rs
  lang/rust/avro/src/types.rs
Labels: Rust

#2215 AVRO-3756: [csharp] Add a method to return types instead of writing them to disk
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
Labels: C#

#1748 AVRO-3560: throw SchemaParseException on dangling content in avsc beyond end of schema
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchema.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestResolvingIOResolving.java
  lang/java/avro/src/test/java/org/apache/avro/io/parsing/TestResolvingGrammarGenerator.java
Labels: Java

#2275 AVRO-3773: [ruby] fix validator for decimal default
  lang/ruby/lib/avro/schema.rb
  lang/ruby/test/test_schema.rb
Labels: Ruby

#2287 AVRO-2560: Convert tests to JUnit 5
  lang/java/avro/src/test/java/org/apache/avro/TestSchema.java
Labels: Java

#2289 [Rust]: Incorrect decimal resolving checks
  lang/rust/avro/src/types.rs
Labels: Rust

#2249 AVRO-3761: [python] Fix broken validation of nullable UUID field
  lang/py/avro/schema.py
  lang/py/avro/test/test_io.py
Labels: Python

#2277 AVRO-3775: [ruby] fix decoded default value of decimal logical type
  lang/ruby/lib/avro/io.rb
  lang/ruby/test/test_logical_types.rb
Labels: Ruby

#2210 AVRO-3783: Read LONG length for bytes, only allow INT sizes
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryDecoder.java
  lang/java/avro/src/main/java/org/apache/avro/io/DirectBinaryDecoder.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestBinaryData.java
Labels: Java

#2294 AVRO-3772: [Rust] Use the enum default field instead of the field default
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_compatibility.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro_derive/src/lib.rs
Labels: Rust

#2298 [Rust]: Update Strum to 0.25.0
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
Labels: Rust

#2301 AVRO-3784 [Rust] Add underlying bigint extraction from decimal
  lang/rust/avro/src/decimal.rs
Labels: Rust

#2304 AVRO-3785: [Rust] Make use of the enclosing namespace when resolving union schemata
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/tests/schema.rs
Labels: Rust
