Repository apache/avro, pull requests merged in 2023-08, with the labels that each got.

#2414 AVRO-3820: [Rust] Don't allow invalid field names
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
Labels: Rust

#2416 AVRO-3823: [Rust] Show helpful error messages
  lang/rust/avro/src/error.rs
Labels: Rust

#2417 AVRO-3821: [Rust] Encoding records should follow the schema
  lang/rust/avro/src/encode.rs
  lang/rust/avro/tests/schema.rs
Labels: Rust

#2419 AVRO-3824: [Doc] The instruction for building the website should be more precise
  doc/README.md
Labels: website

#2409 AVRO-3790 Provide namespace on UnknownSchemaError raise
  lang/ruby/lib/avro/schema.rb
  lang/ruby/test/test_schema.rb
Labels: Ruby

#2429 Minor: [Python] Usage of build.sh should mention about `doc`
  lang/py/build.sh
Labels: build, Python

#2433 AVRO-3827: [Rust] Disallow duplicate field names
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
Labels: Rust

#2434 AVRO-3828: [Rust] Fix CI build warnings
  .github/workflows/test-lang-php.yml
  .github/workflows/test-lang-rust-audit.yml
  .github/workflows/test-lang-rust-ci.yml
  .github/workflows/test-lang-rust-clippy.yml
Labels: build

#2380 AVRO-312: Python Sphinx Documentation
  BUILD.md
  doc/content/en/docs/++version++/api-py.md
  lang/py/build.sh
  lang/py/docs/Makefile
  lang/py/docs/make.bat
  lang/py/docs/source/_static/.gitignore
  lang/py/docs/source/automodule.rst
  lang/py/docs/source/conf.py
  lang/py/docs/source/index.rst
  lang/py/docs/source/intro.rst
  lang/py/tox.ini
Labels: build, Python, website, Backport

#2437 AVRO-3830: [Rust] Handle namespace properly if a name starts with dot
  lang/rust/avro/src/schema.rs
Labels: Rust

#2441 AVRO-3814: Fix schema resolution for records in union types
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/tests/avro-3786.rs
Labels: Rust

#1720 AVRO-2771: Refactor custom codable check
  lang/java/compiler/pom.xml
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/test/java/org/apache/avro/specific/TestGeneratedCode.java
  lang/java/compiler/src/test/resources/regression_error_field_in_record.avsc
Labels: Java, build

#1637 AVRO-3486: Set namespace with protocol fullName
  lang/java/avro/src/main/java/org/apache/avro/Protocol.java
  lang/java/avro/src/test/java/org/apache/avro/TestProtocol.java
  lang/java/compiler/src/test/idl/input/bar.avpr
  lang/java/compiler/src/test/idl/output/import.avpr
  lang/java/compiler/src/test/idl/output/nestedimport.avpr
Labels: Java

#2203 AVRO-3748 [java] fix SeekableInputStream.skip
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileReader.java
  lang/java/avro/src/test/java/org/apache/avro/file/TestSeekableInputStream.java
Labels: Java

#2431 AVRO-3826: Common tests for C++ module
  lang/c++/CMakeLists.txt
  lang/c++/build.sh
  lang/c++/test/CommonsSchemasTests.cc
Labels: C++, build

#2445 AVRO-3829: [Java] Junit5
  lang/java/avro/src/test/java/org/apache/avro/TestDataFileConcat.java
  lang/java/avro/src/test/java/org/apache/avro/TestReadingWritingDataInEvolvedSchemas.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibility.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibilityFixedSizeMismatch.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibilityMissingEnumSymbols.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibilityMissingUnionBranch.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibilityNameMismatch.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibilityReaderFieldMissingDefaultValue.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibilityTypeMismatch.java
  lang/java/avro/src/test/java/org/apache/avro/file/TestAllCodecs.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestBinaryDecoder.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestBlockingIO.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestBlockingIO2.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestResolvingIO.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestResolvingIOResolving.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestValidatingIO.java
  lang/java/avro/src/test/java/org/apache/avro/io/parsing/TestResolvingGrammarGenerator.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestSpecificRecordWithUnion.java
  lang/java/tools/src/test/java/org/apache/avro/tool/TestRpcProtocolTool.java
  lang/java/trevni/core/src/test/java/org/apache/trevni/TestAllCodecs.java
  lang/java/trevni/core/src/test/java/org/apache/trevni/TestColumnFile.java
Labels: Java

#2436 AVRO-3751: weak identity hash map thread safe
  lang/java/avro/src/main/java/org/apache/avro/util/WeakIdentityHashMap.java
  lang/java/avro/src/test/java/org/apache/avro/util/WeakIdentityHashMapTest.java
Labels: Java

#2389 AVRO-2307: [java] list of primitive
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/main/java/org/apache/avro/generic/PrimitivesArrays.java
  lang/java/avro/src/test/java/org/apache/avro/generic/GenericDataArrayTest.java
  lang/java/avro/src/test/java/org/apache/avro/generic/PrimitivesArraysTest.java
Labels: Java

#2449 AVRO-3612: [Java] explain incompability for union.
  lang/java/avro/src/main/java/org/apache/avro/SchemaCompatibility.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibility.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaCompatibilityTypeMismatch.java
Labels: Java

#2401 AVRO-2885: [Java] better check int vs float value
  lang/java/avro/src/main/java/org/apache/avro/io/JsonDecoder.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestJsonDecoder.java
Labels: Java

#2444 AVRO-3832: [Python] Make Python test work with Docker
  build.sh
  lang/py/avro/test/gen_interop_data.py
  share/docker/Dockerfile
Labels: build, Python

#2435 AVRO-3749: [Java] avoid conflict in method name for generated code
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/ipc/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
Labels: Java

#2375 AVRO-3805: Parse multiple schema
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchema.java
  lang/java/avro/src/test/resources/multipleFile/ApplicationEvent.avsc
  lang/java/avro/src/test/resources/multipleFile/DocumentInfo.avsc
  lang/java/avro/src/test/resources/multipleFile/MyResponse.avsc
  lang/java/avro/src/test/resources/multipleFile/README.md
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/ipc/src/test/java/org/apache/avro/TestSchema.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/AbstractAvroMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/SchemaMojo.java
  lang/java/maven-plugin/src/test/avro/multipleSchemas/ApplicationEvent.avsc
  lang/java/maven-plugin/src/test/avro/multipleSchemas/DocumentInfo.avsc
  lang/java/maven-plugin/src/test/avro/multipleSchemas/MyResponse.avsc
  lang/java/maven-plugin/src/test/avro/multipleSchemas/README.md
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-multiple-schema.xml
Labels: Java

#2454 AVRO-3836: [Rust] Fix the build with Rust 1.65.0
  .github/workflows/test-lang-rust-clippy.yml
  lang/rust/avro/src/schema.rs
  lang/rust/avro/tests/schema.rs
Labels: build, Rust

#2455 AVRO-3835: [Rust] Get rid of byteorder and zerocopy dependencies
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/codec.rs
  lang/rust/avro/src/duration.rs
  lang/rust/avro/src/rabin.rs
Labels: Rust

#2432 AVRO-3819: Centralize system properties that limit allocations
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/main/java/org/apache/avro/SystemLimitException.java
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryDecoder.java
  lang/java/avro/src/main/java/org/apache/avro/io/DirectBinaryDecoder.java
  lang/java/avro/src/main/java/org/apache/avro/util/Utf8.java
  lang/java/avro/src/test/java/org/apache/avro/TestFixed.java
  lang/java/avro/src/test/java/org/apache/avro/TestSystemLimitException.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestBinaryDecoder.java
  lang/java/avro/src/test/java/org/apache/avro/util/TestUtf8.java
Labels: Java

#2456 AVRO-3837: [Rust] Disallow invalid namespaces for the Rust binding
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
Labels: Rust

#2460 AVRO-3838: [Rust] Replace "regex" with "regex-lite"
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/schema.rs
Labels: Rust

#2466 AVRO-3844: [Rust] Fix clippy errors with Rust 1.72.0
  lang/rust/Cargo.toml
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/schema_compatibility.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro/tests/io.rs
Labels: Rust

#2439 AVRO-3802: [Csharp] Fix memory leak on deflate codec decompression
  lang/csharp/src/apache/main/File/DeflateCodec.cs
  lang/csharp/src/apache/main/Generic/GenericReader.cs
  lang/csharp/src/apache/main/Generic/PreresolvingDatumReader.cs
  lang/csharp/src/apache/main/IO/BinaryEncoder.cs
  lang/csharp/src/apache/main/Specific/SpecificReader.cs
  lang/csharp/src/apache/test/File/FileTests.cs
Labels: C#

#2468 AVRO-3847: [Rust] Support default value of pre-defined name for Union type field
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/tests/schema.rs
Labels: Rust

#2467 AVRO-3846: [Rust] Fix race condition among serde tests
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/de.rs
  lang/rust/avro/src/ser.rs
Labels: Rust
