Repository apache/avro, pull requests merged in 2024-06, with the labels that each got.

#2932 update example to python3 print syntax
  doc/examples/example.py
Labels: website

#2935 modernize example python
  doc/examples/example.py
Labels: website

#2929 [C++] Do not escape solidus in JSON output
  lang/c++/impl/json/JsonIO.hh
  lang/c++/test/JsonTests.cc
Labels: C++

#2946 AVRO-3731:[gradl- avro-plugin] Integrates software donation of gradle avro plugin
  .github/workflows/avro-compatibility.yml
  .github/workflows/ci.yml
  .github/workflows/gradle-compatibility.yml
  .github/workflows/java-compatibility.yml
  .github/workflows/os-compatibility.yml
Labels: build

#2945 AVRO-3993: [java] Add better exception msgs when writing invalid enum symnbol
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchema.java
Labels: Java

#2899 Backport: Support BlockingDirectBinaryEncoder
  lang/java/avro/pom.xml
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileWriter.java
  lang/java/avro/src/main/java/org/apache/avro/io/BlockingDirectBinaryEncoder.java
  lang/java/avro/src/main/java/org/apache/avro/io/DirectBinaryEncoder.java
  lang/java/avro/src/main/java/org/apache/avro/io/EncoderFactory.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFile.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestBinaryEncoderFidelity.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestBlockingDirectBinaryEncoder.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestEncoders.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestRecordWithLogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestRecordWithMapsAndArrays.java
  lang/java/avro/src/test/resources/TestRecordWithMapsAndArrays.avsc
Labels: Java, build

#2931 [C++] Turn on more compiler warnings
  lang/c++/CMakeLists.txt
  lang/c++/README
  lang/c++/api/NodeConcepts.hh
  lang/c++/api/Validator.hh
  lang/c++/impl/Compiler.cc
  lang/c++/impl/NodeImpl.cc
  lang/c++/impl/Resolver.cc
  lang/c++/impl/parsing/ValidatingCodec.cc
  lang/c++/test/AvrogencppTests.cc
  lang/c++/test/CodecTests.cc
  lang/c++/test/CommonsSchemasTests.cc
  lang/c++/test/DataFileTests.cc
  lang/c++/test/buffertest.cc
  lang/c++/test/unittest.cc
Labels: C++

#2952 AVRO-3998: Switch Perl library from JSON::XS to JSON::MaybeXS
  BUILD.md
  lang/perl/Changes
  lang/perl/Makefile.PL
  lang/perl/bin/avro-to-json
  lang/perl/lib/Avro/Protocol.pm
  lang/perl/lib/Avro/Schema.pm
Labels: Perl

#2953 AVRO-3999 - Avoid warnings in Perl test suite
  lang/perl/lib/Avro/BinaryDecoder.pm
  lang/perl/xt/schema.t
Labels: Perl

#2949 AVRO-3995 [C++] Require C++17 to compile Avro
  lang/c++/CMakeLists.txt
  lang/c++/MainPage.dox
  lang/c++/README
  lang/c++/api/GenericDatum.hh
  lang/c++/impl/avrogencpp.cc
Labels: C++

#2959 NO-JIRA: [Rust] Fix Clippy errors from Rust 1.79.0
  lang/rust/avro/src/util.rs
  lang/rust/avro_derive/src/lib.rs
Labels: Rust

#2962 AVRO-1514: Clean up Perl dependencies
  .github/workflows/test-lang-perl-ARM.yml
  .github/workflows/test-lang-perl.yml
  BUILD.md
  lang/perl/Changes
  lang/perl/MANIFEST
  lang/perl/Makefile.PL
  lang/perl/lib/Avro/BinaryDecoder.pm
  lang/perl/t/03_bin_decode.t
Labels: build, Perl

#2961 AVRO-4007: [rust] Faster `is_nullable` for UnionSchema
  lang/rust/avro/src/schema.rs
Labels: Rust

#2965 AVRO-1830 [Perl] Support containers without codec
  lang/perl/Changes
  lang/perl/lib/Avro/DataFileReader.pm
  lang/perl/t/04_datafile.t
Labels: Perl

#2968 [website]Fix incorrect privacy link
  doc/content/en/project/Privacy policy/_index.md
Labels: website

#2934 AVRO-3985: Add trusted packages support in SpecificData
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificDatumReader.java
Labels: Java

#2974 AVRO-1523 [Perl] Fix valid range for int and long
  lang/perl/Changes
  lang/perl/lib/Avro/BinaryEncoder.pm
  lang/perl/t/02_bin_encode.t
Labels: Perl

#2927 AVRO-3992 [C++] Fix compiler warnings in code generated by schema with empty record
  lang/c++/CMakeLists.txt
  lang/c++/impl/avrogencpp.cc
  lang/c++/impl/parsing/ValidatingCodec.cc
  lang/c++/jsonschemas/union_empty_record
  lang/c++/test/AvrogencppTests.cc
Labels: C++

#2975 AVRO-1463 [Perl] Quietly validate undefined values
  lang/perl/Changes
  lang/perl/lib/Avro/Schema.pm
  lang/perl/t/01_schema.t
Labels: Perl

#2969 AVRO-4006: Fix block finish while reading data files
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileReader.java
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileStream.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFile.java
Labels: Java

#2982 Bump gRPC to 1.16.2
  lang/java/pom.xml
Labels: Java, build

#2981 AVRO-4006: Fix block finish while reading data files
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileReader.java
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileStream.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFile.java
Labels: Java

#2979 AVRO-1517: [Perl] Encode UTF-8 strings as bytes
  lang/perl/Changes
  lang/perl/lib/Avro/BinaryEncoder.pm
  lang/perl/lib/Avro/Schema.pm
  lang/perl/t/01_schema.t
Labels: Perl

#2985 Add sleep to make sure that the `getLastModifiedTime` is different
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestIDLProtocolMojo.java
Labels: Java

#2984 AVRO-3748: [Java] Fix SeekableInput.skip
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileReader.java
  lang/java/avro/src/main/java/org/apache/avro/file/SeekableByteArrayInput.java
  lang/java/avro/src/test/java/org/apache/avro/file/TestSeekableByteArrayInput.java
  lang/java/avro/src/test/java/org/apache/avro/file/TestSeekableInputStream.java
Labels: Java

#2986 AVRO-1521 [Perl] Fix boolean encoding errors
  lang/perl/Changes
  lang/perl/lib/Avro/BinaryEncoder.pm
  lang/perl/lib/Avro/Schema.pm
  lang/perl/t/02_bin_encode.t
Labels: Perl

#2987 Some minor updates for 1.11.x next release cycle
  lang/java/pom.xml
  pom.xml
Labels: Java, build
