Repository apache/avro, pull requests merged in 2024-08, with the labels that each got.

#3052 [No Jira] [Rust] fix links to spec
  lang/rust/avro/README.md
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/rabin.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
Labels: Rust

#3065 [NO_JIRA] [Rust] Fix deny.toml values
  lang/rust/deny.toml
Labels: Rust

#3051 AVRO-4024: [Rust] support nan/inf/-inf as float/double default
  lang/rust/avro/src/types.rs
  lang/rust/avro/tests/io.rs
Labels: Rust

#3073 AVRO-4024: [Rust] Sync the possible String default values for floating numbers with Java and C#
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/tests/io.rs
Labels: Rust

#3074 [NO_JIRA] [CI] Fix the version of libssl1 Ubuntu package
  share/docker/Dockerfile
Labels: build

#3071 AVRO-4027: Fix bug in JSON object syntax
  lang/java/idl/src/test/idl/input/simple.avdl
  lang/java/idl/src/test/idl/output/simple.avpr
  share/idl_grammar/org/apache/avro/idl/Idl.g4
Labels: Java

#3075 AVRO-4029: [Rust] Improve the error messages related to value resolving
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
Labels: Rust

#3078 [NO-JIRA] [Rust] Bump the version to 0.18.0
  lang/rust/Cargo.lock
  lang/rust/Cargo.toml
  lang/rust/avro/Cargo.toml
Labels: Rust

#3079 Fix build when cpp_reserved_words_union_typedef.hh is not ready
  lang/c++/CMakeLists.txt
Labels: C++

#3076 Move to `1.13.0-SNAPSHOT`
  .github/workflows/test-lang-java-ARM.yml
  .github/workflows/test-lang-java.yml
  lang/java/android/pom.xml
  lang/java/archetypes/avro-service-archetype/pom.xml
  lang/java/archetypes/pom.xml
  lang/java/avro/pom.xml
  lang/java/compiler/pom.xml
  lang/java/grpc/pom.xml
  lang/java/idl/pom.xml
  lang/java/integration-test/codegen-test/pom.xml
  lang/java/integration-test/pom.xml
  lang/java/integration-test/test-custom-conversions/pom.xml
  lang/java/interop-data-test/pom.xml
  lang/java/ipc-jetty/pom.xml
  lang/java/ipc-netty/pom.xml
  lang/java/ipc/pom.xml
  lang/java/mapred/pom.xml
  lang/java/maven-plugin/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom-incremental-compilation.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom-javacc.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-multiple-schema.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-nonexistent-file.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-nonexistent-second-file.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom.xml
  lang/java/perf/pom.xml
  lang/java/pom.xml
  lang/java/protobuf/pom.xml
  lang/java/thrift/pom.xml
  lang/java/tools/pom.xml
  lang/java/trevni/avro/pom.xml
  lang/java/trevni/core/pom.xml
  lang/java/trevni/doc/pom.xml
  lang/java/trevni/pom.xml
  lang/js/package.json
  pom.xml
  share/VERSION.txt
Labels: Java, build, JS

#3095 AVRO-4032: [Rust] Make it possible to set custom compression level for all codec that support it
  lang/rust/avro/src/codec.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro/tests/codecs.rs
Labels: Rust

#3096 AVRO-4031: [Rust] builder header
  lang/rust/avro/src/writer.rs
  lang/rust/avro/tests/append_to_existing.rs
Labels: Rust

#3099 Fix `docker-test` for the 1.11.x branch
  .github/workflows/test-docker.yml
  lang/js/package-lock.json
  share/docker/Dockerfile
Labels: build, JS

#3053 AVRO-4037: [C++] Add local-timestamp-millis, local-timestamp-micros logical types
  lang/c++/impl/Compiler.cc
  lang/c++/impl/LogicalType.cc
  lang/c++/impl/Node.cc
  lang/c++/include/avro/LogicalType.hh
  lang/c++/include/avro/Node.hh
  lang/c++/test/SchemaTests.cc
Labels: C++

#3101 Preparing for release 1.11.4
  doc/examples/java-example/pom.xml
  doc/examples/mr-example/pom.xml
  lang/java/android/pom.xml
  lang/java/archetypes/avro-service-archetype/pom.xml
  lang/java/archetypes/pom.xml
  lang/java/avro/pom.xml
  lang/java/compiler/pom.xml
  lang/java/grpc/pom.xml
  lang/java/integration-test/codegen-test/pom.xml
  lang/java/integration-test/pom.xml
  lang/java/integration-test/test-custom-conversions/pom.xml
  lang/java/ipc-jetty/pom.xml
  lang/java/ipc-netty/pom.xml
  lang/java/ipc/pom.xml
  lang/java/mapred/pom.xml
  lang/java/maven-plugin/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/idl/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom-injecting-velocity-tools.xml
  lang/java/maven-plugin/src/test/resources/unit/protocol/pom.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-nonexistent-file.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom-nonexistent-second-file.xml
  lang/java/maven-plugin/src/test/resources/unit/schema/pom.xml
  lang/java/perf/pom.xml
  lang/java/pom.xml
  lang/java/protobuf/pom.xml
  lang/java/thrift/pom.xml
  lang/java/tools/pom.xml
  lang/java/trevni/avro/pom.xml
  lang/java/trevni/core/pom.xml
  lang/java/trevni/doc/pom.xml
  lang/java/trevni/pom.xml
  lang/js/package.json
  pom.xml
  share/VERSION.txt
Labels: Java, build, JS, website

#3047 AVRO-3984 [C++] Improve code generated for unions
  lang/c++/CMakeLists.txt
  lang/c++/impl/avrogencpp.cc
  lang/c++/jsonschemas/big_union
  lang/c++/test/AvrogencppTests.cc
Labels: C++

#3088 AVRO-4033: [C++] Filter out redundant union classes generated by avrogencpp
  lang/c++/CMakeLists.txt
  lang/c++/impl/avrogencpp.cc
  lang/c++/jsonschemas/union_redundant_types
  lang/c++/test/AvrogencppTests.cc
Labels: C++

#3108 [NO-JIRA] Docs build fixes
  doc/config.toml
  doc/content/en/docs/++version++/IDL Language/_index.md
  doc/content/en/docs/1.12.0/IDL Language/_index.md
  doc/go.mod
Labels: website

#3110 [NO-JIRA][Website] Wipe out the old contents of asf-site branch
  .github/workflows/deploy-docs.yml
Labels: build

#3111 [NO-JIRA] Add alias for contributions page
  doc/content/en/project/Contributors onboarding guide/_index.md
Labels: website

#3112 Build the SDKs apidocs and copy them to the website
  .github/workflows/deploy-docs.yml
  lang/c/build.sh
Labels: build, C

#3114 AVRO-4041: [website] Checkout the old docs from subversion
  .github/workflows/deploy-docs.yml
Labels: build

#3123 AVRO-4042: [java] Precache ObjectMapper to avoid recreation
  lang/java/avro/src/main/java/org/apache/avro/SchemaBuilder.java
  lang/java/avro/src/main/java/org/apache/avro/util/internal/JacksonUtils.java
Labels: Java

#3046 AVRO-3155: [docs] Remove 'default' from map and array examples (and add to enum).
  doc/content/en/docs/++version++/Specification/_index.md
Labels: website
