Repository apache/avro, pull requests merged in 2024-02, with the labels that each got.

#2652 AVRO-3918: Add UUID with `fixed[16]`
  lang/java/avro/src/main/java/org/apache/avro/Conversions.java
  lang/java/avro/src/main/java/org/apache/avro/LogicalTypes.java
  lang/java/avro/src/test/java/org/apache/avro/TestLogicalType.java
  lang/java/avro/src/test/java/org/apache/avro/TestUuidConversions.java
Labels: Java

#2729 AVRO-3936: Clean up NOTICE file
  LICENSE.txt
  NOTICE.txt
  build.sh
Labels: build

#2707 AVRO-3930: Mapping org.apache.hadoop.io.ZStandardCodec to zstandard
  lang/java/mapred/src/main/java/org/apache/avro/hadoop/file/HadoopCodecFactory.java
  lang/java/mapred/src/test/java/org/apache/avro/hadoop/file/TestHadoopCodecFactory.java
Labels: Java

#2723 Bump maven-core to 3.9.6 and drop needless plexus-utils
  lang/java/maven-plugin/pom.xml
  lang/java/pom.xml
Labels: Java, build

#2728 AVRO-3935: Add support for compatibility check logical types in Rust Avro
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

#2735 AVRO-3884: Update `local-timestamp` example
  doc/content/en/docs/++version++/Specification/_index.md
Labels: website

#2736 AVRO-3937: [Rust]: Use cargo-deny to check the dependencies' licenses
  .github/workflows/test-lang-rust-audit.yml
  lang/rust/deny.toml
Labels: build, Rust

#2744 AVRO-2717: Fix UB in ZigZag encoding (pre C++-20)
  lang/c++/api/Zigzag.hh
Labels: C++

#2749 [C++] Fix main page for Doxygen.
  lang/c++/MainPage.dox
Labels: C++

#2745 [C++] do not hardcode Unix Makefiles generator
  lang/c++/build.sh
Labels: C++, build

#2739 AVRO-3939: [Rust] Make it possible to use custom schema equality comparators
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/benches/serde_json.rs
  lang/rust/avro/src/bigdecimal.rs
  lang/rust/avro/src/decimal.rs
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_equality.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/util.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro_test_helper/src/logger.rs
Labels: Rust

#2742 AVRO-3904: [Rust] schema_compatibility module refactor
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

#2738 AVRO-3938: [Java] Add null guards for Schema.Parser
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchema.java
Labels: Java

#2757 [AVRO-3944] small CMake fixes
  lang/c++/CMakeLists.txt
Labels: C++

#2756 [AVRO-3943] Remove obsolete folders from C++ bindings
  lang/c++/LICENSE
  lang/c++/README
  lang/c++/m4/README
  lang/c++/m4/m4_ax_boost_asio.m4
  lang/c++/m4/m4_ax_boost_base.m4
  lang/c++/m4/m4_ax_boost_filesystem.m4
  lang/c++/m4/m4_ax_boost_regex.m4
  lang/c++/m4/m4_ax_boost_system.m4
  lang/c++/m4/m4_ax_boost_thread.m4
  lang/c++/parser/AvroLex.ll
  lang/c++/parser/AvroYacc.yy
Labels: C++

#2759 [AVRO-3945] Add missing `override`
  lang/c++/impl/FileStream.cc
Labels: C++

#2270 AVRO-2397: [c++] Add support for type and field aliases
  lang/c++/api/Node.hh
  lang/c++/api/NodeImpl.hh
  lang/c++/impl/Compiler.cc
  lang/c++/impl/Node.cc
  lang/c++/impl/NodeImpl.cc
  lang/c++/impl/parsing/ResolvingDecoder.cc
  lang/c++/test/CodecTests.cc
  lang/c++/test/unittest.cc
Labels: C++

#2761 [AVRO-3945] Added missing `explicit`
  lang/c++/impl/FileStream.cc
  lang/c++/impl/json/JsonDom.hh
Labels: C++

#2760 [AVRO-2397] Use raw string literals in the test
  lang/c++/test/CodecTests.cc
Labels: C++

#2767 AVRO-3946: [Rust] Log warning/error for strange union types
  lang/rust/avro/src/schema.rs
Labels: Rust

#2771 AVRO-3948: [Rust] Re-export bigdecimal::BigDecimal as apache_avro::BigDecimal
  lang/rust/avro/src/bigdecimal.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/tests/avro-3786.rs
  lang/rust/avro/tests/big_decimal.rs
Labels: Rust

#2772 AVRO-3949: [Rust]: Add support for serde to apache_avro::Decimal
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/decimal.rs
Labels: Rust

#2773 AVRO-3950: [Rust] tests added for match_schemas in schema_compatibility
  lang/rust/Cargo.lock
  lang/rust/avro/Cargo.toml
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust
