Repository apache/avro, pull requests merged in 2024-09, with the labels that each got.

#3157 docs: fix typo
  doc/content/en/docs/++version++/Specification/_index.md
Labels: website

#3127 AVRO-4046: [PHP] Handling of default values
  lang/php/lib/Datum/AvroIODatumReader.php
  lang/php/test/IODatumReaderTest.php
Labels: PHP

#3129 AVRO-4047: Build perf tests into Uber JAR
  lang/java/perf/pom.xml
Labels: Java, build

#3142 AVRO-4050: Deprecate MapUtil computeIfAbsent
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
  lang/java/avro/src/main/java/org/apache/avro/util/MapUtil.java
Labels: Java

#3145 AVRO-4052: Inline BufferedBinaryEncoder writeZero method
  lang/java/avro/src/main/java/org/apache/avro/io/BufferedBinaryEncoder.java
Labels: Java

#3131 AVRO-4049: Use JDK Arrays equal to test if two UTF8 strings are equal
  lang/java/avro/src/main/java/org/apache/avro/util/Utf8.java
Labels: Java

#3166 [C++] g++ (GCC) 14.2.1 20240910 fails to compile due to -Werror=conversion
  lang/c++/impl/DataFile.cc
  lang/c++/impl/Node.cc
  lang/c++/impl/parsing/Symbol.hh
Labels: C++

#3167 [C++] Improve readability of SchemaTests
  lang/c++/test/SchemaTests.cc
Labels: C++

#3168 [C++] AVRO-4058: Allow custom attributes in arrays
  lang/c++/impl/Compiler.cc
  lang/c++/impl/NodeImpl.cc
  lang/c++/include/avro/NodeImpl.hh
  lang/c++/test/SchemaTests.cc
Labels: C++

#3126 AVRO-4045: Use JDK compare for byte arrays
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryData.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificFixed.java
  lang/java/avro/src/main/java/org/apache/avro/util/Utf8.java
Labels: Java

#3176 AVRO-4061: Use Default Value of 1 For UTF8 Hash
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryData.java
  lang/java/avro/src/main/java/org/apache/avro/util/Utf8.java
  lang/java/avro/src/test/java/org/apache/avro/util/TestUtf8.java
Labels: Java

#3177 AVRO-4061: Use Default Value of 1 For UTF8 Hash
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryData.java
  lang/java/avro/src/main/java/org/apache/avro/util/Utf8.java
  lang/java/avro/src/test/java/org/apache/avro/util/TestUtf8.java
Labels: Java

#3182 AVRO-4066: Use JDK isBlank Method
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java
Labels: Java
