Repository apache/avro, pull requests merged in 2024-04, with the labels that each got.

#2642 AVRO-3666 [Java] Use the new schema parser
  doc/content/en/docs/++version++/Getting started (Java)/_index.md
  lang/java/avro/src/main/java/org/apache/avro/FormattedSchemaParser.java
  lang/java/avro/src/main/java/org/apache/avro/JsonSchemaParser.java
  lang/java/avro/src/main/java/org/apache/avro/ParseContext.java
  lang/java/avro/src/main/java/org/apache/avro/Protocol.java
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
  lang/java/avro/src/main/java/org/apache/avro/SchemaParser.java
  lang/java/avro/src/main/java/org/apache/avro/util/SchemaResolver.java
  lang/java/avro/src/test/java/org/apache/avro/DummySchemaParser.java
  lang/java/avro/src/test/java/org/apache/avro/ParseContextTest.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchema.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaParser.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/idl/SchemaResolver.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/main/javacc/org/apache/avro/compiler/idl/idl.jj
  lang/java/idl/src/main/java/org/apache/avro/idl/IdlFile.java
  lang/java/idl/src/main/java/org/apache/avro/idl/IdlReader.java
  lang/java/idl/src/test/idl/input/schema_syntax_schema.avdl
  lang/java/idl/src/test/idl/input/status_schema.avdl
  lang/java/idl/src/test/java/org/apache/avro/idl/TestCycle.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/IDLMojo.java
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/SchemaMojo.java
  lang/java/tools/src/main/java/org/apache/avro/tool/IdlTool.java
Labels: Java, website

#2835 Add local_timestamp_ms logical type to IDL doc
  doc/content/en/docs/++version++/IDL Language/_index.md
Labels: website

#2463 AVRO-3841: [Spec] Align the specification of the way to encode NaN to the actual implementations
  doc/content/en/docs/++version++/Specification/_index.md
  lang/csharp/src/apache/main/IO/BinaryDecoder.netstandard2.0.cs
  lang/csharp/src/apache/main/IO/BinaryDecoder.notnetstandard2.0.cs
  lang/csharp/src/apache/main/IO/BinaryEncoder.cs
  lang/py/avro/io.py
  lang/ruby/lib/avro/io.rb
Labels: Ruby, Python, C#, website

#1830 Update getting started doc to Python 3
  doc/content/en/docs/++version++/Getting started (Python)/_index.md
Labels: website

#2836 AVRO-3969: Use WriteMapStart in WriteMap
  lang/csharp/src/apache/main/Specific/SpecificWriter.cs
  lang/csharp/src/apache/test/IO/JsonCodecTests.cs
Labels: C#

#2833 AVRO-3860: Fix for wrong behavior of Json codec when record schema has no fields
  lang/c++/impl/parsing/JsonCodec.cc
  lang/c++/impl/parsing/Symbol.hh
  lang/c++/test/CodecTests.cc
Labels: C++

#2831 AVRO-3860: Fix for wrong encoding of Unicode values above 0xffff
  lang/c++/impl/json/JsonIO.cc
  lang/c++/impl/json/JsonIO.hh
  lang/c++/test/JsonTests.cc
Labels: C++

#2838 AVRO-3970: [Rust] Fix compatibility checks for UUID
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

#2847 AVRO-3974: [Rust] Support schema compatibility for Schema::Ref
  lang/rust/avro/src/schema_compatibility.rs
Labels: Rust

#2853 AVRO-3952: Auto-install tox
  lang/py/build.sh
Labels: build, Python

#2863 AVRO-3952: Remove Outdated Pypy Versions
  .github/workflows/test-lang-py.yml
  lang/py/tox.ini
  share/docker/Dockerfile
Labels: build, Python

#2832 [AVRO-3967] Replace boost::format with fmt library
  .github/workflows/test-lang-c++-ARM.yml
  .github/workflows/test-lang-c++.yml
  lang/c++/CMakeLists.txt
  lang/c++/api/Exception.hh
  lang/c++/api/Node.hh
  lang/c++/api/NodeImpl.hh
  lang/c++/api/Stream.hh
  lang/c++/api/Types.hh
  lang/c++/api/Validator.hh
  lang/c++/impl/BinaryDecoder.cc
  lang/c++/impl/Compiler.cc
  lang/c++/impl/DataFile.cc
  lang/c++/impl/FileStream.cc
  lang/c++/impl/Generic.cc
  lang/c++/impl/GenericDatum.cc
  lang/c++/impl/LogicalType.cc
  lang/c++/impl/Node.cc
  lang/c++/impl/NodeImpl.cc
  lang/c++/impl/ValidSchema.cc
  lang/c++/impl/Validator.cc
  lang/c++/impl/json/JsonDom.cc
  lang/c++/impl/json/JsonIO.cc
  lang/c++/impl/json/JsonIO.hh
  lang/c++/impl/parsing/JsonCodec.cc
Labels: C++, build

#2873 AVRO-3982: Use String.isEmpty() instead
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryEncoder.java
Labels: Java
