Repository apache/avro, pull requests merged in 2024-12, with the labels that each got.

#3254 AVRO-4096: [C++] Replace boost::optional with std::optional
  lang/c++/impl/CustomAttributes.cc
  lang/c++/include/avro/CustomAttributes.hh
  lang/c++/test/unittest.cc
Labels: C++

#3256 AVRO-4097: Replace boost::any with std::any; boost::tuple with std::tuple
  lang/c++/impl/json/JsonDom.cc
  lang/c++/impl/json/JsonDom.hh
  lang/c++/impl/parsing/Symbol.hh
Labels: C++

#3267 AVRO-4100: [C++] Remove boost::noncopyable and boost::any
  lang/c++/examples/imaginary.hh
  lang/c++/impl/Resolver.cc
  lang/c++/impl/json/JsonIO.hh
  lang/c++/impl/parsing/ValidatingCodec.cc
  lang/c++/include/avro/DataFile.hh
  lang/c++/include/avro/Generic.hh
  lang/c++/include/avro/Layout.hh
  lang/c++/include/avro/Node.hh
  lang/c++/include/avro/Parser.hh
  lang/c++/include/avro/Reader.hh
  lang/c++/include/avro/Resolver.hh
  lang/c++/include/avro/ResolverSchema.hh
  lang/c++/include/avro/ResolvingReader.hh
  lang/c++/include/avro/Serializer.hh
  lang/c++/include/avro/Stream.hh
  lang/c++/include/avro/Validator.hh
  lang/c++/include/avro/Writer.hh
  lang/c++/include/avro/buffer/BufferReader.hh
  lang/c++/include/avro/buffer/detail/BufferDetail.hh
Labels: C++

#3268 [C++] add two cmake options to make it easier to integrate avro c++
  lang/c++/CMakeLists.txt
Labels: C++

#3148 [AVRO-4081][C++] Add big decimal support and update documentation
  doc/content/en/docs/++version++/Specification/_index.md
  lang/c++/impl/Compiler.cc
  lang/c++/impl/LogicalType.cc
  lang/c++/impl/Node.cc
  lang/c++/include/avro/LogicalType.hh
  lang/c++/test/SchemaTests.cc
Labels: C++, website

#3272 AVRO-4101: [C++] Remove boost::{blank,function,shared_ptr,static_assert,utility}
  lang/c++/impl/json/JsonIO.hh
  lang/c++/include/avro/DataFile.hh
  lang/c++/include/avro/Generic.hh
  lang/c++/include/avro/Specific.hh
  lang/c++/include/avro/Stream.hh
  lang/c++/include/avro/buffer/detail/BufferDetail.hh
Labels: C++

#3273 AVRO-4102: [C++] Remove boost::shared_array
  lang/c++/include/avro/buffer/detail/BufferDetail.hh
Labels: C++

#3276 AVRO-4104: Drop support for Python 3.7
  lang/py/setup.cfg
  lang/py/tox.ini
Labels: Python
