Repository apache/avro, pull requests merged in 2024-05, with the labels that each got.

#2874 AVRO-3983: Allow setting a custom encoder in DataFileWriter
  lang/java/avro/src/main/java/org/apache/avro/file/DataFileWriter.java
  lang/java/avro/src/test/java/org/apache/avro/TestDataFile.java
Labels: Java

#2732 AVRO-3871: Support nested lists/maps in BlockingDirectBinaryEncoder
  lang/java/avro/src/main/java/org/apache/avro/io/BlockingDirectBinaryEncoder.java
  lang/java/avro/src/main/java/org/apache/avro/io/DirectBinaryEncoder.java
  lang/java/avro/src/test/java/org/apache/avro/io/TestBlockingDirectBinaryEncoder.java
  lang/java/avro/src/test/java/org/apache/avro/specific/TestRecordWithMapsAndArrays.java
  lang/java/avro/src/test/resources/TestRecordWithMapsAndArrays.avsc
Labels: Java

#2892 NO-JIRA: Fix clippy errors from Rust 1.78
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/ser.rs
Labels: Rust

#2875 [doc] Fix import of java-example project
  doc/examples/java-example/pom.xml
Labels: build, website

#2907 AVRO-3965: [Rust] Default values for fixed can be longer than size
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/error.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_compatibility.rs
  lang/rust/avro/src/schema_equality.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/writer.rs
Labels: Rust

#2928 [C++] Run clang-format on all files
  lang/c++/api/CustomAttributes.hh
  lang/c++/api/Exception.hh
  lang/c++/api/GenericDatum.hh
  lang/c++/api/Node.hh
  lang/c++/api/NodeImpl.hh
  lang/c++/api/Reader.hh
  lang/c++/api/Schema.hh
  lang/c++/api/Types.hh
  lang/c++/examples/cpx.hh
  lang/c++/examples/custom.cc
  lang/c++/examples/datafile.cc
  lang/c++/examples/generated.cc
  lang/c++/examples/generic.cc
  lang/c++/examples/imaginary.hh
  lang/c++/examples/resolving.cc
  lang/c++/examples/schemaload.cc
  lang/c++/examples/validating.cc
  lang/c++/impl/Compiler.cc
  lang/c++/impl/CustomAttributes.cc
  lang/c++/impl/DataFile.cc
  lang/c++/impl/Node.cc
  lang/c++/impl/NodeImpl.cc
  lang/c++/impl/Schema.cc
  lang/c++/impl/Stream.cc
  lang/c++/impl/Validator.cc
  lang/c++/impl/avrogencpp.cc
  lang/c++/impl/json/JsonIO.cc
  lang/c++/impl/parsing/ResolvingDecoder.cc
  lang/c++/test/CodecTests.cc
  lang/c++/test/CommonsSchemasTests.cc
  lang/c++/test/SchemaTests.cc
  lang/c++/test/unittest.cc
Labels: C++

#2900 AVRO-3987 [Java] Concurrency improvement for ReflectData FieldAccessors
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
Labels: Java
