Repository apache/avro, pull requests merged in 2024-03, with the labels that each got.

#2785 AVRO-3955: [Rust] allow deserializer to decode enum string
  lang/rust/avro/src/de.rs
Labels: Rust

#2783 AVRO-3953: Prefixing enum member identifiers instead of throwing
  lang/csharp/src/apache/main/CodeGen/CodeGen.cs
  lang/csharp/src/apache/test/CodGen/CodeGenTest.cs
Labels: C#

#2795 AVRO-3957: [C] Fix typos in docs and examples
  lang/c/docs/index.txt
  lang/c/examples/quickstop.c
Labels: C

#2797 AVRO-3959: [C] Avoid deprecated OSX atomic ops
  lang/c/src/avro/refcount.h
Labels: C

#2799 AVRO-3961: [C] Add AVRO_INVALID to avro_type_t
  lang/c/docs/index.txt
  lang/c/src/avro/basics.h
  lang/c/src/consume-binary.c
  lang/c/src/datum.c
  lang/c/src/datum_equal.c
  lang/c/src/datum_size.c
  lang/c/src/datum_skip.c
  lang/c/src/datum_validate.c
  lang/c/src/datum_value.c
  lang/c/src/schema.c
  lang/c/tests/CMakeLists.txt
  lang/c/tests/test_avro_type_collision.c
  lang/c/version.sh
Labels: build, C

#2791 AVRO-3956: [Java] Fix NPE in Protocol#equals
  lang/java/avro/src/main/java/org/apache/avro/JsonProperties.java
  lang/java/avro/src/main/java/org/apache/avro/Protocol.java
Labels: Java

#2812 [AVRO-3945] Add missing bounds check in the loop
  lang/c++/build.sh
  lang/c++/impl/json/JsonIO.cc
  lang/c++/test/JsonTests.cc
Labels: C++, build

#2798 AVRO-3960: [C] Fix st ANYARGS warning
  lang/c/src/datum.c
  lang/c/src/datum_equal.c
  lang/c/src/datum_size.c
  lang/c/src/datum_validate.c
  lang/c/src/memoize.c
  lang/c/src/schema.c
  lang/c/src/st.c
  lang/c/src/st.h
Labels: C

#2821 AVRO-3964: [Rust] Fix out-of-bounds panic
  lang/rust/avro/src/decode.rs
Labels: Rust
