Repository apache/avro, pull requests merged in 2024-01, with the labels that each got.

#2658 AVRO-3922: [ruby] add timestamp-nanos support
  lang/ruby/lib/avro/logical_types.rb
  lang/ruby/test/random_data.rb
  lang/ruby/test/test_io.rb
  lang/ruby/test/test_logical_types.rb
Labels: Ruby

#2564 AVRO-3889: [Java][Build] Maven IDL Generation Modification Check
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/IDLMojo.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestIDLMojo.java
  lang/java/maven-plugin/src/test/resources/unit/idl/pom-incremental-compilation.xml
Labels: Java

#2561 AVRO-3889: [Java][Build] Maven IDL Generation Modification Check
  lang/java/maven-plugin/src/main/java/org/apache/avro/mojo/IDLProtocolMojo.java
  lang/java/maven-plugin/src/test/java/org/apache/avro/mojo/TestIDLProtocolMojo.java
Labels: Java

#2656 AVRO-3923: [Docs] Add 1.11.3 release blog
  doc/content/en/blog/releases/avro-1.11.3-released.md
Labels: website

#2673 AVRO-3925: [Rust] Fix decimal serialization format
  lang/rust/avro/src/schema.rs
Labels: Rust

#2650 AVRO-3920: Serialize custom attribute in RecordField
  lang/rust/avro/src/schema.rs
  lang/rust/avro_derive/README.md
Labels: Rust

#2681 AVRO-3927: [Rust]support map and array schema
  lang/rust/avro/src/decode.rs
  lang/rust/avro/src/encode.rs
  lang/rust/avro/src/reader.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/schema_compatibility.rs
  lang/rust/avro/src/types.rs
  lang/rust/avro/src/writer.rs
  lang/rust/avro_derive/src/lib.rs
Labels: Rust

#2682 AVRO-3928: [Rust] Convert serde_json::Value::Number to apache_avro::types::Value::Int when possible
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
Labels: Rust

#2542 AVRO-3880: [Java][Build] Upgrade maven-antrun-plugin to 3.1.0
  lang/java/pom.xml
  lang/java/protobuf/pom.xml
  lang/java/protobuf/src/test/java/org/apache/avro/protobuf/multiplefiles/Foo.java
  lang/java/protobuf/src/test/java/org/apache/avro/protobuf/multiplefiles/M.java
  lang/java/protobuf/src/test/java/org/apache/avro/protobuf/noopt/Test.java
Labels: Java, build

#2705 Fix Java doc typo in HadoopCodecFactory.java
  lang/java/mapred/src/main/java/org/apache/avro/hadoop/file/HadoopCodecFactory.java
Labels: Java

#2706 AVRO-3931 Fix nanosecond timestamps support
  lang/java/avro/src/main/java/org/apache/avro/LogicalTypes.java
Labels: Java

#2643 AVRO-3900: [Rust] Make it possible to use custom names validators
  lang/rust/Cargo.lock
  lang/rust/avro/README.md
  lang/rust/avro/examples/generate_interop_data.rs
  lang/rust/avro/examples/test_interop_data.rs
  lang/rust/avro/src/lib.rs
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/validator.rs
  lang/rust/avro/tests/validators.rs
  lang/rust/avro_test_helper/Cargo.toml
  lang/rust/avro_test_helper/src/lib.rs
  lang/rust/avro_test_helper/src/logger.rs
Labels: Rust

#2709 [code style] remove ^M from two files
  lang/csharp/src/apache/ipc/Responder.cs
  lang/csharp/src/apache/ipc/Specific/SpecificRequestor.cs
Labels: C#

#2713 AVRO-3932: [C] fix variable reference in CMakeLists.txt
  .github/workflows/test-lang-c.yml
  lang/c/CMakeLists.txt
Labels: build, C

#2672 AVRO-3918: Add support for UUID encoded as `fixed[16]`
  doc/content/en/docs/++version++/Specification/_index.md
Labels: website

#2708 AVRO-3927: [Rust] fix array/map deserilaize with custom attribute
  lang/rust/avro/src/schema.rs
  lang/rust/avro/src/types.rs
Labels: Rust
