Repository apache/avro, pull requests merged in 2025-01, with the labels that each got.

#3128 AVRO-4035 [C++] Add doc strings to generated classes
  lang/c++/impl/avrogencpp.cc
  lang/c++/jsonschemas/bigrecord
Labels: C++

#3277 AVRO-4105: [C++] Remove boost::lexical_cast and boost::math
  lang/c++/impl/avrogencpp.cc
  lang/c++/impl/json/JsonIO.hh
  lang/c++/impl/parsing/JsonCodec.cc
Labels: C++

#3278 [Java] Clarify thread safety of Decoders returned by DecoderFactory.
  lang/java/avro/src/main/java/org/apache/avro/io/DecoderFactory.java
Labels: Java

#3283 AVRO-4106: [C++] Remove boost::random
  lang/c++/impl/DataFile.cc
  lang/c++/impl/avrogencpp.cc
  lang/c++/include/avro/Specific.hh
Labels: C++

#3284 AVRO-4107: [C++] Remove boost::algorithm
  lang/c++/impl/Compiler.cc
  lang/c++/impl/avrogencpp.cc
Labels: C++

#3286 AVRO-4109: [C++] Remove boost::program_options
  lang/c++/impl/avrogencpp.cc
Labels: C++

#3290 AVRO-4111: [C++] Replace boost::iostreams with zlib library
  .github/workflows/test-lang-c++-ARM.yml
  .github/workflows/test-lang-c++.yml
  lang/c++/CMakeLists.txt
  lang/c++/impl/DataFile.cc
  lang/c++/include/avro/DataFile.hh
Labels: C++, build

#3293 AVRO-4112: [C++][CMake] Do not find Boost when test is not built
  lang/c++/CMakeLists.txt
  lang/c++/test/DataFileTests.cc
  lang/c++/test/StreamTests.cc
Labels: C++

#3285 AVRO-2108: [Java] DoubleArray converts double to float on array add
  lang/java/avro/src/main/java/org/apache/avro/generic/PrimitivesArrays.java
  lang/java/avro/src/test/java/org/apache/avro/generic/PrimitivesArraysTest.java
Labels: Java

#3300 AVRO-4114: [Ruby] Improve validate_simple method performance
  lang/ruby/lib/avro/schema_validator.rb
Labels: Ruby

#3298 AVRO-4113: [c++] Don't generate tests files if test are not requested
  lang/c++/CMakeLists.txt
  lang/c++/impl/avrogencpp.cc
Labels: C++
