Repository apache/avro, pull requests merged in 2025-03, with the labels that each got.

#3324 AVRO-4120: [C++] Allow custom attributes for MAP, FIXED and ENUM types
  lang/c++/impl/Compiler.cc
  lang/c++/impl/NodeImpl.cc
  lang/c++/include/avro/NodeImpl.hh
  lang/c++/test/SchemaTests.cc
Labels: C++

#3325 AVRO-4121: [C++] Add Node::getCustomAttributes
  lang/c++/include/avro/Node.hh
  lang/c++/include/avro/NodeImpl.hh
  lang/c++/test/unittest.cc
Labels: C++

#3331 Don't use specific git hash (SHA1) for GitHub Actions
  .github/workflows/codeql-java-analysis.yml
  .github/workflows/java-publish-snapshot.yml
  .github/workflows/maven4.yml
  .github/workflows/rat.yml
  .github/workflows/spotless.yml
  .github/workflows/test-lang-c.yml
  .github/workflows/test-lang-csharp-ARM.yml
  .github/workflows/test-lang-csharp.yml
  .github/workflows/test-lang-java-ARM.yml
  .github/workflows/test-lang-java.yml
  .github/workflows/test-lang-perl-ARM.yml
  .github/workflows/test-lang-perl.yml
  .github/workflows/test-lang-php.yml
  .github/workflows/test-lang-py.yml
  .github/workflows/test-lang-ruby.yml
Labels: build

#3326 AVRO-4122: [C++] Allow custom logical type
  lang/c++/impl/Compiler.cc
  lang/c++/impl/LogicalType.cc
  lang/c++/impl/Node.cc
  lang/c++/impl/NodeImpl.cc
  lang/c++/include/avro/LogicalType.hh
  lang/c++/test/SchemaTests.cc
Labels: C++

#3183 AVRO-4067: Optimize First Byte of Long Decode
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryDecoder.java
Labels: Java

#3332 AVRO-4121: [C++] Fix get CustomAttributes from Node
  lang/c++/include/avro/Node.hh
  lang/c++/include/avro/NodeImpl.hh
  lang/c++/test/SchemaTests.cc
  lang/c++/test/unittest.cc
Labels: C++

#3344 AVRO-4026: [C++] Allow non-string custom attributes
  lang/c++/impl/Compiler.cc
  lang/c++/impl/CustomAttributes.cc
  lang/c++/include/avro/CustomAttributes.hh
  lang/c++/test/SchemaTests.cc
Labels: C++

#3330 AVRO-3985: Apply trusted packages check on SpecificDatumReader(data) constructor
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificDatumReader.java
Labels: Java
