Repository apache/avro, pull requests merged in 2025-04, with the labels that each got.

#3257 Fix compilation under linux for int32_t
  lang/c++/include/avro/LogicalType.hh
Labels: C++

#3358 AVRO-4127: Use the dist target to build website
  .github/workflows/deploy-docs.yml
Labels: build

#3359 AVRO-4129: Bump GHA Ubuntu Runner Image
  .github/workflows/test-lang-py.yml
Labels: build

#3361 AVRO-4123: Parsed named schemas always empty
  lang/java/avro/src/main/java/org/apache/avro/ParseContext.java
  lang/java/avro/src/test/java/org/apache/avro/TestSchemaParser.java
  lang/java/compiler/src/test/java/org/apache/avro/compiler/specific/TestSpecificCompiler.java
  lang/java/idl/src/main/java/org/apache/avro/idl/IdlReader.java
  lang/java/mapred/pom.xml
  lang/java/tools/pom.xml
  lang/java/trevni/pom.xml
Labels: Java, build

#3241 AVRO-4090: [php] Avoid repeating data validation
  lang/php/lib/Datum/AvroIODatumWriter.php
Labels: PHP

#3364 AVRO-4132: [C++] Add ZSTD codec
  .github/workflows/test-lang-c++-ARM.yml
  .github/workflows/test-lang-c++.yml
  lang/c++/CMakeLists.txt
  lang/c++/impl/DataFile.cc
  lang/c++/include/avro/DataFile.hh
  lang/c++/test/DataFileTests.cc
Labels: C++, build
