Repository apache/avro, pull requests merged in 2025-06, with the labels that each got.

#3397 Fix mypy test
  lang/py/avro/io.py
Labels: Python

#3398 AVRO-3933: Unify ARM64 workflows
  .github/workflows/test-lang-c++-ARM.yml
  .github/workflows/test-lang-c++.yml
  .github/workflows/test-lang-c-ARM.yml
  .github/workflows/test-lang-c.yml
  .github/workflows/test-lang-csharp-ARM.yml
  .github/workflows/test-lang-csharp.yml
  .github/workflows/test-lang-java-ARM.yml
  .github/workflows/test-lang-java.yml
  .github/workflows/test-lang-js-ARM.yml
  .github/workflows/test-lang-js.yml
  .github/workflows/test-lang-perl-ARM.yml
  .github/workflows/test-lang-perl.yml
  .github/workflows/test-lang-php-ARM.yml
  .github/workflows/test-lang-php.yml
  .github/workflows/test-lang-py-ARM.yml
  .github/workflows/test-lang-py.yml
  .github/workflows/test-lang-ruby-ARM.yml
  .github/workflows/test-lang-ruby.yml
  README.md
  lang/ruby/test/test_logical_types.rb
Labels: build, Ruby

#1708 AVRO-3527: Generated equals() and hashCode() for SpecificRecords
  lang/java/avro/src/main/java/org/apache/avro/generic/GenericData.java
  lang/java/avro/src/main/java/org/apache/avro/util/Utf8.java
  lang/java/compiler/src/main/java/org/apache/avro/compiler/specific/SpecificCompiler.java
  lang/java/compiler/src/main/velocity/org/apache/avro/compiler/specific/templates/java/classic/record.vm
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/FieldTest.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/JSpecifyNullSafeAnnotationsFieldsTest.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/JetBrainsNullSafeAnnotationsFieldsTest.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/Player.java
  lang/java/tools/src/test/compiler/output-string/avro/examples/baseball/Proto.java
  lang/java/tools/src/test/compiler/output/AddExtraOptionalGettersTest.java
  lang/java/tools/src/test/compiler/output/NoSettersTest.java
  lang/java/tools/src/test/compiler/output/OptionalGettersAllFieldsTest.java
  lang/java/tools/src/test/compiler/output/OptionalGettersNullableFieldsTest.java
  lang/java/tools/src/test/compiler/output/Player.java
Labels: Java

#3406 AVRO-4154: Make tools jar multi-release
  lang/java/tools/pom.xml
  share/docker/Dockerfile
Labels: Java, build

#3416 AVRO-4159 [Java]: complete support for duration
  lang/java/avro/src/main/java/org/apache/avro/LogicalTypes.java
  lang/java/avro/src/main/java/org/apache/avro/util/TimePeriod.java
  lang/java/avro/src/test/java/org/apache/avro/TestLogicalType.java
Labels: Java

#3403 AVRO-4145: Add Avro security model
  doc/content/en/project/Security/_index.md
Labels: website

#3384 AVRO-3731 [java/gradle-plugin] retry on any schema parse failure
  lang/java/gradle-plugin/src/main/java/com/github/davidmc24/gradle/plugin/avro/SchemaResolver.java
Labels: Java
