Repository apache/avro, pull requests merged in 2025-02, with the labels that each got.

#3299 AVRO-3088: [C++] Export CMake package config file
  lang/c++/CMakeLists.txt
  lang/c++/cmake/AvroConfig.cmake.in
Labels: C++

#3175 AVRO-4060: Use JDK to Hash Byte Array in UTF8
  lang/java/avro/src/main/java/org/apache/avro/util/Utf8.java
  lang/java/avro/src/test/java/org/apache/avro/util/TestUtf8.java
Labels: Java

#3279 [Java] Reduce buffer size for ASCII string optimization to 63 bytes
  lang/java/avro/src/main/java/org/apache/avro/io/BinaryEncoder.java
Labels: Java

#3057 AVRO-2843: [PHP] Copy composer setup from Apache Thrift
  composer.json
  lang/php/build.sh
  lang/php/monorepo.json
  lang/php/test/test_helper.php
Labels: build, PHP

#3309 AVRO-2843: [PHP] Add ext-curl to PHP setup in Dockerfile
  share/docker/Dockerfile
Labels: build

#3308 AVRO-4117: [c++] Allow non string values for non reserved keys in schema
  lang/c++/impl/Compiler.cc
  lang/c++/impl/json/JsonDom.cc
  lang/c++/impl/json/JsonDom.hh
  lang/c++/test/SchemaTests.cc
Labels: C++

#3311 AVRO-3985: Prevent class with empty Java package being trusted by SpecificDatumReader
  lang/java/avro/src/main/java/org/apache/avro/specific/SpecificDatumReader.java
Labels: Java

#3303 AVRO-4115: [PHP] Fix long encoding
  lang/php/lib/Datum/AvroIOBinaryDecoder.php
  lang/php/lib/Datum/AvroIOBinaryEncoder.php
  lang/php/test/DatumIOTest.php
Labels: PHP

#3310 Close the Jackson Generator to save buffer leaks
  lang/java/avro/src/main/java/org/apache/avro/Schema.java
Labels: Java
