Repository apache/avro, pull requests merged in 2025-07, with the labels that each got.

#3423 AVRO-4161: [C#] Fix System.Decimal to Avro decimal conversion
  lang/csharp/src/apache/main/AvroDecimal.cs
  lang/csharp/src/apache/test/AvroDecimalTest.cs
Labels: C#

#3425 AVRO-4165: [java] ability to specify AvroEncode on a class
  lang/java/avro/src/main/java/org/apache/avro/reflect/AvroEncode.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/FieldAccessReflect.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectData.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectDatumReader.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectDatumWriter.java
  lang/java/avro/src/main/java/org/apache/avro/reflect/ReflectionUtil.java
  lang/java/avro/src/test/java/org/apache/avro/reflect/TestAvroEncode.java
Labels: Java

#3434 AVRO-4167: [C++] Fix install locations
  lang/c++/CMakeLists.txt
Labels: C++
